<div class="container pb-5">
    <h2 class="h3 mb-0 text-gray-800">{{'my profile' | translate}}</h2>
    <hr />
    <div class="row">
        <div class="col-lg-6 text-capitalize">
            <form>
                <div class="form-group">
                    <label for="firstName">{{'first name' | translate}}:</label>
                    <input if="firstName" ng-model="client.firstName" type="text" placeholder="{{'first name' | translate}}" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="lastName">{{'last name' | translate}}:</label>
                    <input if="lastName" ng-model="client.lastName" type="text" placeholder="{{'last name' | translate}}" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="birthDate">{{'birth date' | translate}}:</label>
                    <input if="birthDate" ng-model="client.birthDate" type="date" placeholder="{{'birth date' | translate}}" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="radio-inline"><input ng-model="client.gender.value" value="0" type="radio" name="optradio" ng-click="setGenderTitle(client.gender)"><i class="fa fa-male pl-2 pr-1"></i><span>{{'male' | translate}}</span></label>
                    <label class="radio-inline"><input ng-model="client.gender.value" value="1" type="radio" name="optradio" ng-click="setGenderTitle(client.gender)"><i class="fa fa-female pl-2 pr-1"></i><span>{{'female' | translate}}</span></label>
                </div>
                <div class="form-group">
                    <label for="phone">{{'phone' | translate}}:</label>
                    <input if="phone" ng-model="client.phone" type="text" placeholder="{{'phone' | translate}}" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="email">{{'email' | translate}}:</label>
                    <input if="email" ng-model="client.email" type="text" placeholder="{{'email' | translate}}" class="form-control" />
                </div>
            </form>
        </div>
        <div class="col-lg-6">
            <div class="card border-bottom-primary shadow">
                <div class="card-header">
                    <label>{{'profile image' | translate}}</label>
                </div>
                <div class="card-body">
                    <div ng-if="client.profileImg" class="text-right">
                        <button ng-click="removeProfileImg(client)" class="btn btn-outline-danger btn-circle" title="{{'delete' | translate}}"><i class="fa fa-times"></i></button>
                    </div>
                    <div  ng-if="!client.profileImg" class="text-center text-primary">
                        <i class="fa fa-user-slash fa-5x"></i>
                    </div>
                    <img ng-if="client.profileImg" class="mx-auto d-block rounded" src="../upload/users/{{userId}}/clients/{{client.clientId}}/profileimg/{{client.profileImg}}" alt="{{client.profileImg}}"  style="width:75%">
                </div>
                <div class="card-footer">
                    <form id="formUpload" ng-submit="uploadImg()" enctype="multipart/form-data" method="post">
                        <input id="imgFolder" name="imgFolder" value="temp" type="text" hidden="hidden">
                        <div class="row">
                            <div class="col-xs-8">
                                <div class="custom-file mb-3">
                                    <input id="userid" name="userid" ng-model="userId" type="text" hidden="hidden">
                                    <input id="clientid" name="clientid" ng-model="client.clientId" type="text" hidden="hidden">
                                    <input ng-model="client.profileImg" name="UploadedFile" id="UploadedFile" type="file" accept="image/*" class="custom-file-input" style="background-color:transparent">
                                    <label class="custom-file-label" for="UploadedFile">{{'attach the image' | translate}}</label>
                                </div>
                            </div>
                            <div class="col-xs-4 pl-2">
                                <button type="submit" class="btn btn-outline-secondary text-capitalize"><i class="fa fa-upload"></i> {{'upload' | translate}}</button>
                            </div>
                        </div>
                        <script>
                            $(".custom-file-input").on("change", function () {
                                var fileName = $(this).val().split("\\").pop();
                                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                            });
                        </script>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="text-right">
        <button ng-click="updateClient(client)" type="submit" class="btn btn-outline-primary text-capitalize"><i class="fa fa-save"></i> {{'save' | translate}}</button>
    </div>

</div>
