<div class="container pb-5">
    <h2 class="h3 mb-0 text-gray-800">{{'info' | translate}}</h2>
    <hr />
    <div class="card shadow-lg mt-5">
        <div class="card-header">
            <h4 class="text-capitalize">{{config.title | translate}}</h4>
        </div>
        <div class="card-body">
            <ul>
                <li><span>{{'version' | translate}}: </span>{{config.version}}</li>
                <li>&copy {{today | date:'yyyy'}} {{config.copyright}}</li>
                <li><span>{{'author' | translate}}: </span>{{config.author}}</li>
                <li><span>{{'web' | translate}}: </span><a href="{{config.webpageurl}}" target="_blank">{{config.webpage}}</a></li>
                <li><span>{{'email' | translate}}: </span><a href="mailto:{{config.email}}" target="_blank">{{config.email}}</a></li>
            </ul>
        </div>
    </div>
</div>