<div class="container pb-5">
    <h2 class="h3 mb-0 text-gray-800 text-capitalize">{{'menus' | translate}}</h2>
    <hr />
    <div ng-if="menus.length===0">
        <div class="alert alert-danger">
            {{'you still do not have any menus' | translate}}.
        </div>
    </div>
    <div>
        <form class="d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
                <input ng-model="searchMenu" type="text" class="form-control border-1 small" placeholder="{{'search' | translate}}..." aria-label="{{'search' | translate}}" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div ng-if="menus.length>0" class="table-responsive mt-2" >
        <table class="table table-sm table-hover">
            <tr class="text-capitalize">
                <th></th>
                <th>{{'number' | translate}}</th>
                <th style="width:50%">{{'title' | translate}}</th>
                <th>{{'date' | translate}}</th>
                <th class="text-right">{{'energy' | translate}} ({{'kcal' | translate}})</th>
            </tr>
            <tr ui-sref="menu" ui-sref-active="active" ng-repeat="x in menus | filter: searchMenu" ng-click="getMenu(x)" class="pointer">
                <td><button class="btn btn-outline-primary btn-circle"><i class="fa fa-eye"></i></button></td>
                <td>{{$index+1}}</td>
                <td>{{x.title}}</td>
                <td>{{x.date}}</td>
                <td class="text-right">{{x.energy}}</td>
            </tr>
        </table>
    </div>
    <pre ng-if="config.debug">{{menu | json}}</pre>
</div>
