<md-dialog flex>
    <form ng-cloak>
        <md-toolbar class="main-background">
            <div class="md-toolbar-tools">
                <h2>{{'forgot password' | translate}}</h2>
                <span flex></span>
                <a href="" class="btn btn-primary" ng-click="cancel()" title="{{'close' | translate}}">x</a>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="md-block" flex-gt-sx>
                    <label>{{'enter your email' | translate}}...</label>
                    <input ng-model="email" type="text">
                </md-input-container>
                <div class="row text-right">
                    <a href="" class="btn btn-primary" ng-click="confirm(email)"><i class="fa fa-paper-plane-o"></i> {{'send' | translate }}</a>
                </div>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>