<md-dialog flex>
    <form ng-cloak>
        <md-toolbar class="main-background">
            <div class="md-toolbar-tools">
                <h2 class="text-uppercase">
                    <span>Napomena</span>
                </h2>
                <span flex></span>
                <a href="" class="btn btn-primary" ng-click="cancel()" title="{{'close' | translate}}">x</a>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div>
                    <p class="lead">
                        {{'if you are satisfied with our app we would be grateful if you would have recommended us to your colleagues or share the link on social networks' | translate}}.<br />
                    </p>
                    <div class="text-center m10">
                        <img src="../app/assets/img/updates/socialshare.png" class="img-responsive" />
                    </div>
                    <p class="lead">
                        {{'if you are unsatisfied or have a suggestion to improve the application or want to report a BUG, you can do so by clicking' | translate}} <em><strong>{{'report a bug' | translate}}</strong></em>.
                    </p>
                    <img src="../app/assets/img/updates/reportabug.png" />
                </div>
                <div>
                    <a href="" class="btn btn-default text-uppercase pull-right" ng-click="hide()"><i class="fa fa-arrow-right"></i> {{'close' | translate}}</a>
                </div>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>




