<!DOCTYPE html>
<html lang="en">
<head>
    <title>Program Prehrane - Admin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/style.min.css">
    <script src="../assets/js/vendor/jquery.min.js"></script>
    <script src="../assets/js/vendor/bootstrap.min.js"></script>
    <script src="../assets/js/vendor/angular.min.js"></script>
    <script src="../assets/js/vendor/angular-animate.min.js"></script>
    <script src="../assets/js/vendor/angular-aria.min.js"></script>
    <script src="../assets/js/vendor/angular-messages.min.js"></script>

</head>
<body ng-app="app" ng-controller="adminCtrl" style="color:black">

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="" class="navbar-brand">Admin</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="../index.html" target="_blank"><span class="fa fa-home"></span> Home</a></li>
                    <li ng-if="islogin" ng-click="toggleTpl('programPrehraneWeb')"><a href="#">Web App</a></li>
                    <li ng-if="islogin" ng-click="toggleTpl('programPrehrane5')"><a href="#">Instalacije</a></li>
                    <li ng-if="islogin" ng-click="toggleTpl('orders')"><a href="#">Narudžbe</a></li>
                </ul>
                <ul ng-if="islogin" class="nav navbar-nav navbar-right">
                    <li ng-click="logout()"><a href="#"><span class="fa fa-sign-in"></span> Odjava</a></li>
                </ul>
            </div>
            </div>
    </nav>

    <div ng-include="tpl" style="padding-top:20px"></div>

    <!--<footer class="footer navbar-fixed-bottom" style="color: white; background-color:gray; padding:10px">
        <div class="row">
           <div class="col-sm-6">
               <p><a href="../index.html" target="_blank"><span style="color: white">www.programprehrane.com</span></a></p>
           </div>
            <div class="col-sm-6 text-right">
                <p>Copyright © {{year}} IG PROG</p>
            </div>
        </div>
    </footer>-->

    <script type="text/ng-template" id="login">
        <div class="container">
            <h3>Login</h3>
            <div class="row">
                <div class="col-sm-4">
                    <div class="input-group" style="margin:5px 0px 0px 0px">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input ng-model="user.username" type="text" class="form-control" name="email" placeholder="Email">
                    </div>
                    <div class="input-group" style="margin:5px 0px 0px 0px">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input ng-model="user.password" type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    <div>
                        <button ng-click="login(user)" class="btn btn-default pull-right" style="margin:5px 0px 0px 0px"><i class="fa fa-key"></i> Login</button>
                    </div>
                </div>
            </div>
        </div>
    </script>



    <script type="text/ng-template" id="programPrehraneWeb">
        <div ng-controller="webAppCtrl" class="container">
            <h2>Program Prehrane Web</h2>
            <div class="row">
                <div class="col-sm-4">
                    <table class="table table-condensed">
                        <tr>
                            <td class="text-left">Registriranih korisnika:</td>
                            <td class="text-left"><strong>{{d.length}} </strong></td>
                        </tr>
                        <tr>
                            <td class="text-left">Kupljenih licenci:</td>
                            <td class="text-left"><strong>{{(d | filter:{isActive:true}).length-1}} </strong><span class="badge">{{(((d | filter:{isActive:true}).length-1)/(d.length-1))*100 | number:1}} %</span></td>
                        </tr>
                        <tr>
                            <td class="text-left">Aktivnih korisnika:</td>
                            <td class="text-left"><strong>{{(d | filter:{isActive:true, licenceStatus:'active'}).length}} </strong></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" ng-model="showDetails" />Prikaži detalje / uredi</label>
            </div>
                <div class="table-responsive">
                    <table class="table table-condensed text-small">
                        <tr>
                            <th>Br.</th>
                            <th ng-if="showDetails">UserId</th>
                            <th ng-if="showDetails">UserGroupId</th>
                            <th>Ime</th>
                            <th>Prezime</th>
                            <th ng-if="showDetails">Tvrtka</th>
                            <th ng-if="showDetails">Adresa</th>
                            <th ng-if="showDetails" class="nowrap">Poštanski broj</th>
                            <th ng-if="showDetails">Grad</th>
                            <th ng-if="showDetails">Država</th>
                            <th ng-if="showDetails">OIB</th>
                            <th>Email</th>
                            <th ng-if="showDetails" class="nowrap">Korisničko ime</th>
                            <th ng-if="showDetails" class="nowrap">Tip admina</th>
                            <th class="nowrap">Datum aktivacije</th>
                            <th class="nowrap">Istek aktivacije</th>
                            <th>Aktivan</th>
                            <th class="nowrap">Status</th>
                            <th></th>
                        </tr>
                        <tr ng-repeat="x in d" ng-class="x.userId!=x.userGroupId?'text-muted':''">
                            <td>{{d.length - $index}}</td>
                            <td ng-if="showDetails" class="novrap">{{x.userId}}</td>
                            <td ng-if="showDetails" class="novrap">{{x.userGroupId}}</td>
                            <td>{{x.firstName}}</td>
                            <td>{{x.lastName}}</td>
                            <td ng-if="showDetails" class="nowrap">{{x.companyName}}</td>
                            <td ng-if="showDetails" class="nowrap">{{x.address}}</td>
                            <td ng-if="showDetails">{{x.postalCode}}</td>
                            <td ng-if="showDetails">{{x.city}}</td>
                            <td ng-if="showDetails">{{x.country}}</td>
                            <td ng-if="showDetails">{{x.pin}}</td>
                            <td>{{x.email}}</td>
                            <td ng-if="showDetails">{{x.userName}}</td>
                            <td ng-if="showDetails">{{x.adminType}}</td>
                            <td><input ng-disabled="!showDetails" ng-model="x.activationDate" type="text" /></td>
                            <td><input ng-disabled="!showDetails" ng-model="x.expirationDate" type="text" /></td>
                            <td><input ng-disabled="!showDetails" ng-model="x.isActive" type="checkbox" class="form-control" /></td>
                            <td>{{x.licenceStatus}}</td>
                            <td><button ng-disabled="!showDetails" ng-click="update(x)" class="btn btn-success"><i class="fa fa-floppy-o"></i> Spremi</button></td>
                            <td ng-if="config.debug"><button ng-disabled="!showDetails" ng-click="remove(x)" class="btn btn-danger"><i class="fa fa-thrash-o"></i> Delete</button></td>
                        </tr>
                    </table>
                </div>
            </div>
    </script>

    <script type="text/ng-template" id="programPrehrane5">
        <div ng-controller="applicationCtrl" class="container">
            <h2>Program Prehrane 5.0</h2>
            <h3>Instalacije i aktivacije</h3>
            <div class="table-responsive">
                <table class="table table-condensed">
                    <tr>
                        <td>Br.</td>
                        <th>Datum</th>
                        <th>Program</th>
                        <th>Verzija</th>
                        <th>Akcija</th>
                        <th>IP adresa</th>
                    </tr>
                    <tr ng-repeat="x in d">
                        <td>{{x.id}}</td>
                        <td>{{x.instalDate}}</td>
                        <td>{{x.application}}</td>
                        <td>{{x.version}}</td>
                        <td>{{x.action}}</td>
                        <td>{{x.ipAddress}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="orders">
        <div ng-controller="ordersCtrl" class="container">
            <h2>Narudžbe</h2>
            <div class="table-responsive">
                <table class="table table-condensed">
                    <tr>
                        <th>Br.</th>
                        <th>Ime</th>
                        <th>Prezime</th>
                        <th>Tvrtka</th>
                        <th>Adresa</th>
                        <th class="nowrap">Poštanski broj</th>
                        <th>Grad</th>
                        <th>Država</th>
                        <th>OIB</th>
                        <th>Email</th>
                        <th>IP adresa</th>
                        <th>Verzija</th>
                        <th>Licenca</th>
                        <th>Broj licenci</th>
                        <th>Cijena</th>
                        <th>Datum</th>
                        <th>Dodatna usluga</th>
                        <th>Napomena</th>
                    </tr>
                    <tr ng-repeat="x in orders">
                        <td>{{x.id}}</td>
                        <td>{{x.firstName}}</td>
                        <td>{{x.lastName}}</td>
                        <td>{{x.companyName}}</td>
                        <td class="nowrap">{{x.address}}</td>
                        <td>{{x.postalCode}}</td>
                        <td>{{x.city}}</td>
                        <td>{{x.country}}</td>
                        <td>{{x.pin}}</td>
                        <td>{{x.email}}</td>
                        <td>{{x.ipAddress}}</td>
                        <td>{{x.version}}</td>
                        <td>{{x.licence}}</td>
                        <td>{{x.licenceNumber}}</td>
                        <td>{{x.price}}</td>
                        <td style="white-space: nowrap">{{x.orderDate}}</td>
                        <td>{{x.additionalService}}</td>
                        <td>{{x.note}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </script>

    <script src="../assets/js/admin.js"></script>

</body>
</html>

