<?xml version="1.0"?>
<configuration>
  <system.web>
  <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0"/>
      <httpRuntime maxRequestLength="1048576"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept" />
      </customHeaders>
    </httpProtocol>
   <staticContent>
       <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive"/>
    </staticContent>
  </system.webServer>
  <appSettings>
    <add key="EncryptionKey" value="MDOLD54FLSK5123"/>
    <add key="SupervisorUserName" value="igprog"/>
    <add key="SupervisorPassword" value="Tel546360"/>
    <add key="AppDataBase" value="app.ddb"/>
    <add key="UsersDataBase" value="users.ddb"/>
    <add key="UserDataBase" value="data.ddb"/>
    <add key="WebDataBase" value="web.ddb"/>
    <add key="myEmail" value="program.prehrane@yahoo.com"/>
    <add key="myPassword" value="Tel546360"/>
    <add key="myServerPort" value="587"/>
    <add key="myServerHost" value="smtp.mail.yahoo.com"/>
  </appSettings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647"/>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>