<div>
    <p>
        <strong>Primer 3</strong>
    </p>
    <p>
        Šest obroka
    </p>
    <hr />
    <p>
        <strong>DORUČAK</strong>
    </p>
    <p>
        <em>
            Kukuruzna krupica, jogurt i voće. Kukuruzna krupica: dodajte ulje i
            sol u ključalu vodu i sipajte kukuruznu krupicu uz mešanje.
        </em>
    </p>
    <p>
        - Kukuruzna krupica, 6 supenih kašika, 49.8 g
    </p>
    <p>
        - Ulje, sojino, 1 kašičica, 4.3 g
    </p>
    <p>
        - Jogurt od delimično obranog mleka, 1 šoljica, 250 g
    </p>
    <p>
        - Kupina, 1 šoljica, 130 g
    </p>
    <p>
        <strong>JUTARNJA UŽINA</strong>
    </p>
    <p>
        <em>Voćna salata. Oprati breskvu i jabuku, iseći i promešati.</em>
    </p>
    <p>
        - Breskva, 1 srednji plod, 161 g
    </p>
    <p>
        - Jabuka, neočišćena, 0.5 veliki plod, 110 g
    </p>
    <p>
        <strong>RUČAK</strong>
    </p>
    <p>
        <em>Dinstana svinjetina sa povrćem, kuvani krompir i hleb.</em>
    </p>
    <p>
        - Svinjetina, but bez kosti, sa kožom, 3 mala parčeta, 84 g
    </p>
    <p>
        - Paradajz, 1 veliki plod, 180 g
    </p>
    <p>
        - Ulje, sojino, 3 kašičice, 12.9 g
    </p>
    <p>
        - Kupus, kiseli, 2.5 šoljice, 500 g
    </p>
    <p>
        - Luk, mladi, 0.4 šoljica, 40 g
    </p>
    <p>
        - Krompir, mladi, kuvan u neposoljenoj vodi, 3 srednja ploda, 420 g
    </p>
    <p>
        - Hleb, crni, prosek, 1 kriška, 70 g
    </p>
    <p>
        <strong>POPODNEVNA UŽINA</strong>
    </p>
    <p>
        - Breskva, 2 srednja ploda, 322 g
    </p>
    <p>
        - Mleko, 1,7% m.m., pasterizovano, prosek, 1 šoljica, 250 g
    </p>
    <p>
        <strong>VEČERA</strong>
    </p>
    <p>
        <em>Pržena riba i pirinač s povrćem.</em>
    </p>
    <p>
        - Riba, bela, prosek, 3 mala parčeta, 84 g
    </p>
    <p>
        - Pirinač, beli, 4 supene kašike, 34 g
    </p>
    <p>
        - Paprika, zelena, izrezana, 1 šoljica, 121 g
    </p>
    <p>
        - Luk, mladi, 0.4 šoljica, 40 g
    </p>
    <p>
        - Ulje, sojino, 3 kašičice, 12.9 g
    </p>
    <p>
        - Hleb, crni, prosek, 1 kriška, 70 g
    </p>
    <p>
        <strong>OBROK PRED SPAVANJE</strong>
    </p>
    <p>
        - Mleko, kozje, 3,7% m.m. ,pasterizovano, 0.5 šoljica, 125 g
    </p>
    <div align="center">
        <hr size="0" width="100%" align="center" />
    </div>
    <p>
        <strong>UKUPNO</strong>
        <strong>:</strong>
    </p>
    <p>
        energija: 2191.1 kcal
    </p>
    <p>
        ugljeni hidrati: 308.7 g, (65.0 %)
    </p>
    <p>
        belančevine: 92.7 g, (19.5 %)
    </p>
    <p>
        masti: 73.2 g, (15.4 %)
    </p>
</div>