<div>
    <p>
    <strong>Primer 1</strong>
</p>
<p>
    Šest obroka
</p>
    <hr />
<p>
    <strong>DORUČAK</strong>
</p>
<p>
    <strong></strong>
</p>
<p>
    - Jagode, 1.3 šoljice, 204 g
</p>
<p>
    - Hleb, raženi, 1 kriška, 70 g
</p>
<p>
    - Štrudla sa višnjama (s lisnatim testom), 1 malo parče, 28 g
</p>
<p>
    - Mleko, 1,7% m.m., prosek, 1 šoljica, 250 g
</p>
<p>
    <strong>JUTARNJA UŽINA</strong>
</p>
<p>
    <em>
        Voćna salata s bademima zaslađena medom. Voće oprati,očistiti,izrezati
        na kockice,pomešati s usitnjenim bademima i zasladiti medom.
    </em>
</p>
<p>
    - Ananas, 0.8 šoljica, 130 g
</p>
<p>
    - Dinja, izrezana, 1.5 šoljice, 270 g
</p>
<p>
    - Med, 1 kašičica, 8 g
</p>
<p>
    - Bademi, 8 srednjih plodova, 7.2 g
</p>
<p>
    <strong>RUČAK</strong>
</p>
<p>
    <em>Testenina bolonjez, salata od paprike, hleb i desert.</em>
</p>
<p>
    - Svinjetina, but, 1 malo parče, 28 g
</p>
<p>
    - Govedina, mlevena, 2 mala parčeta, 56 g
</p>
<p>
    - Luk, mladi, 0.4 šoljica, 40 g
</p>
<p>
    - Paradajz, pelati, 1 šoljica, 180 g
</p>
<p>
    - Paprika, zelena, izrezana, 2 šoljice, 242 g
</p>
<p>
    - Testenina, špageti, bela, 3 šoljice, 279.9 g
</p>
<p>
    - Ulje, sojino, 2 kašičice, 8.6 g
</p>
<p>
    - Ulje, kukuruzno, 2 kašičice, 8.6 g
</p>
<p>
    - Hleb, crni, prosek, 1 kriška, 70 g
</p>
<p>
    - Keks, Digestive, čokoladni, 1 parče, 15 g
</p>
<p>
    <strong>POPODNEVNA UŽINA</strong>
</p>
<p>
    <strong></strong>
</p>
<p>
    - Mleko, 1,7% m.m., pasterizovano, leti, 1 šoljica, 250 g
</p>
<p>
    - Kokice, gotove, 1 šoljica, 7 g
</p>
<p>
    - Kruška, 1 srednji plod, 130 g
</p>
<p>
    <strong>VEČERA</strong>
</p>
<p>
    <em>Pohovana jetra, kuvani karfiol i krompir, hleb.</em>
</p>
<p>
    - Jetra, pileća, pržena, 2 mala parčeta, 40 g
</p>
<p>
    - Karfiol, cvetovi, kuvan u neposoljenoj vodi, 2 šoljice, 213.4 g
</p>
<p>
    - Krompir, mladi, kuvan u neposoljenoj vodi, 2 srednja ploda, 280 g
</p>
<p>
    - Ulje, kukuruzno, 3 kašičice, 12.9 g
</p>
<p>
    - Hleb, crni, prosek, 1 kriška, 70 g
</p>
<p>
    <strong>OBROK PRED SPAVANJE</strong>
</p>
<p>
    <strong></strong>
</p>
<p>
    - Mleko, 1,7% m.m., pasterizovano, leti, 1 šoljica, 250 g
</p>
<div align="center">
    <hr size="0" width="100%" align="center" />
</div>
<p>
    <strong>UKUPNO</strong>
    <strong>:</strong>
</p>
<p>
    energija: 2351.8 kcal
</p>
<p>
    ugljeni hidrati: 322.1 g, (63.0 %)
</p>
<p>
    belančevine: 110.7 g, (21.7 %)
</p>
<p>
    masti: 78.2 g, (15.3 %)
</p>
</div>
