<div>
    <p>
        <strong>Primer 2</strong>
    </p>
    <p>
        Šest obroka
    </p>
    <hr />
    <p>
        <strong>DORUČAK</strong>
    </p>
    <p>
        <em>Zobene pahuljice, groždice i jogurt.</em>
    </p>
    <p>
        - Ovsena kaša, pripremljena na vodi, 0.5 šoljica, 44 g
    </p>
    <p>
        - Jogurt od delimično obranog mleka, 1 šoljica, 240 g
    </p>
    <p>
        - Suvo grožde, 2 supene kašike, 19 g
    </p>
    <p>
        <strong>JUTARNJA UŽINA</strong>
    </p>
    <p>
        <strong></strong>
    </p>
    <p>
        - Kruška, 1 srednji plod, 130 g
    </p>
    <p>
        - Šargarepa, mlada, 0.5 šoljica, 77 g
    </p>
    <p>
        <strong>RUČAK</strong>
    </p>
    <p>
        <em>Sendvič sa sirom, salata od paradajza i krastavaca.</em>
    </p>
    <p>
        - Hleb, integralni, prosek, 4 kriške, 280 g
    </p>
    <p>
        - Sir, Edam, 2 mala parčeta, 56 g
    </p>
    <p>
        - Paradajz, 1 veliki plod, 180 g
    </p>
    <p>
        - Krastavac, oguljeni, 1.8 šoljice, 250.1 g
    </p>
    <p>
        - Ulje, kukuruzno, 3 kašičice, 12.9 g
    </p>
    <p>
        <strong>POPODNEVNA UŽINA</strong>
    </p>
    <p>
        <strong></strong>
    </p>
    <p>
        - Jabuka, neočišćena, 2 velika ploda, 440 g
    </p>
    <p>
        <strong>VEČERA</strong>
    </p>
    <p>
        <em>Pečena piletina, kuvani spanać i krompir.</em>
    </p>
    <p>
        - Piletina, belo meso, pečena, 4 mala parčeta, 80 g
    </p>
    <p>
        - Krompir, mladi, kuvan u neposoljenoj vodi, 2 srednja ploda, 280 g
    </p>
    <p>
        - Ulje, kukuruzno, 4 kašičice, 17.2 g
    </p>
    <p>
        - Spanać, 1.5 šoljice, 240 g
    </p>
    <p>
        <strong>OBROK PRED SPAVANJE</strong>
    </p>
    <p>
        <strong></strong>
    </p>
    <p>
        - Jogurt od delimično obranog mleka, 1 šoljica, 240 g
    </p>
    <div align="center">
        <hr size="0" width="100%" align="center" />
    </div>
    <p>
        <strong>UKUPNO</strong>
        <strong>:</strong>
    </p>
    <p>
        energija: 2295.2 kcal
    </p>
    <p>
        ugljeni hidrati: 312.9 g, (63.3 %)
    </p>
    <p>
        belančevine: 102.8 g, (20.8 %)
    </p>
    <p>
        masti: 78.6 g, (15.9 %)
    </p>
</div>