<div>
    <ng-include src="'./assets/partials/main.html'"></ng-include>
    <div class="bg-white p-3" ng-cloak>
        <div class="alert alert-warning">
            <i class="fa fa-exclamation-triangle"></i>
            <em class="text-small ml-2"> {{'for persons with health problems or suspicion on them, it is recommended that before choosing additionaly physical activity consult with his doctor' | translate}}.</em>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p>{{'recommended additional energy expenditure' | translate}}: <span class="h5 font-weight-bold text-gray-800">{{calculation.recommendedEnergyExpenditure}} {{'kcal' | translate}}</span></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <fieldset class="fieldset-border">
                    <legend class="fieldset-border">{{'choose additional physical activity' | translate}}</legend>
                    <div class="d-none d-sm-block">
                        <div class="input-group">
                            <input ng-model="searchValue" class="form-control search" type="text" placeholder="{{'search' | translate}}..." autofocus />
                            <span class="input-group-append">
                                <a href="" class="btn btn-outline-primary"><i class="fa fa-search" aria-hidden="true"></i>&#8203;</a>
                            </span>
                        </div>
                        <div class="table-responsive pt-2">
                            <table class="table table-sm table-borderless">
                                <tr class="border-bottom">
                                    <th style="width:80%"><i ng-click="orderby('activity')" class="fa fa-sort"></i> {{'activity' | translate}}</th>
                                    <th style="width:20%"><i ng-click="orderby('factorKcal')" class="fa fa-sort"></i> {{'factor' | translate}}</th>
                                </tr>
                            </table>
                        </div>
                        <div class="table-responsive" style="height:40vh">
                            <table class="table table-hover table-sm table-borderless">
                                <tr ng-repeat="x in activities | filter:{activity:searchValue} | orderBy:order | filter:{isSport:1}" ng-click="openPopup(x)">
                                    <td style="width:80%">{{x.activity}}</td>
                                    <td style="width:20%">{{x.factorKcal}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="d-block d-sm-none">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>{{'select activity' | translate}}...</label>
                            <md-select ng-model="x" ng-change="openPopup(x)">
                                <md-option ng-value="x" ng-repeat="x in activities | filter:{activity:searchValue} | orderBy:order | filter:{isSport:1}">{{x.activity}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </fieldset>
            </div>
            <div class="col-sm-6">
                <fieldset class="fieldset-border">
                    <legend class="fieldset-border text-capitalize">{{'choosen activities' | translate}}</legend>
                    <div class="card border-left-main shadow mt-3" ng-repeat="x in clientData.activities">
                        <div class="card-body">
                            <a href="" ng-click="removeActivity(x, $index)" class="close" title="{{'delete' | translate}}">&times;</a>
                            <div class="row no-gutters align-items-center py-2">
                                <div class="col mr-2">
                                    <div class="h5 font-weight-bold text-main mb-1">{{x.activity}}</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                                        <div class="row">
                                            <div class="col-sm-6 text-main">
                                                <p title="{{'duration' | translate}}"><i class="fa fa-stopwatch"></i> {{x.duration}} {{'min' | translate}}</p>
                                            </div>
                                            <div class="col-sm-6 text-danger">
                                                <p title="{{'energy' | translate}}"><i class="fa fa-fire"></i> {{x.energy | number:0}} {{'kcal' | translate}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-biking fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="clientData.activities.length>1" class="text-right text-capitalize p-2 h5">
                        {{'total' | translate}}: <strong>{{energy}} {{'kcal' | translate}}</strong>
                    </div>
                </fieldset>
            </div>
        </div>
        <div>
            <button ng-if="client.clientId" class="btn btn-primary btn-lg" title="{{'back' | translate}}" ng-click="toggleNewTpl('calculation')"><i class="fa fa-angle-double-left fa-2x" aria-hidden="true"></i></button>
            <button ng-if="client.clientId" class="btn btn-primary btn-lg float-right" title="{{'forward' | translate}}" ng-click="toggleNewTpl('diets')"><i class="fa fa-angle-double-right fa-2x" aria-hidden="true"></i></button>
        </div>
        <!--<div>
            <a href="" ng-if="client.clientId" class="btn btn-default btn-lg center center-left" title="{{'back' | translate}}" ng-click="toggleNewTpl('calculation')"><i class="fa fa-angle-double-left fa-2x text-primary" aria-hidden="true"></i></a>
            <a href="" ng-if="client.clientId" class="btn btn-default btn-lg center center-right" title="{{'forward' | translate}}" ng-click="toggleNewTpl('diets')"><i class="fa fa-angle-double-right fa-2x text-primary" aria-hidden="true"></i></a>
        </div>-->
    </div>
    <json-directive data="clientData.activities" desc="'clientData.activities'"></json-directive>
</div>

