<div ng-controller="menuCtrl">
    <div>
        <div class="mt10">
            <div class="text-right">
                <a ng-if="pdfLink==null" href="" ng-click="printMenuDetailsPdf()" class="btn btn-default text-capitalize" ng-disabled="creatingPdf1==true"><span class="text-danger"><i class="fa fa-{{creatingPdf1==true?'spinner fa-spin':'file-pdf-o'}}"></i> {{'create pdf' | translate}}</span></a>
                <a ng-if="pdfLink!=null" href="{{pdfLink}}" class="btn btn-success text-capitalize" download ng-click="hidePdfLink()">
                    <i class="fa fa-file-pdf-o"></i> {{'take pdf' | translate}}
                </a>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <ng-include src="'analysisTpl'"></ng-include>
                </div>
                <div class="col-sm-7">
                    <ng-include src="'parametersTpl'"></ng-include>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="analysisTpl">
    <div ng-style="fs">
        <fieldset class="fieldset-border">
            <legend class="fieldset-border">{{'energy value' | translate}}</legend>
            <div class="table-responsive">
                <table class="table table-condensed text-small">
                    <tr>
                        <th>{{'meals' | translate}}</th>
                        <th>{{'choosen' | translate}}</th>
                        <th>{{'recommended' | translate}}</th>
                    </tr>
                    <tr ng-repeat="x in currentMenu.data.meals | filter: { 'isSelected': true }">
                        <td class="nowrap">{{x.title}}</td>
                        <td class="text-bold">{{getMealTotal(x.code).energy | number:1}} {{'kcal' | translate}} ({{getMealTotal(x.code).energyPercentage | number:1}} %)</td>
                        <td>{{getMealRecommendation(x.code).energyMin}} - {{getMealRecommendation(x.code).energyMax}} {{'kcal' | translate}} ({{getMealRecommendation(x.code).energyMinPercentage}} - {{getMealRecommendation(x.code).energyMaxPercentage}} %)</td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                    </tr>
                    <tr>
                        <td>{{'total' | translate}}</td>
                        <td class="text-bold">{{totals.energy | number:1}} {{'kcal' | translate}}</td>
                        <td>{{recommendations.energy}} {{'kcal' | translate}}</td>
                    </tr>
                </table>
            </div>
            <div class="row">
                <canvas id="bar" class="chart chart-bar"
                        chart-data="mealsGraphData.data" chart-labels="mealsGraphData.labels" chart-colors="mealsGraphData.colors" height="180"
                        chart-series="mealsGraphData.series" chart-dataset-override="mealsGraphData.datasetOverride">
                </canvas>
            </div>
        </fieldset>
        <fieldset class="fieldset-border">
            <legend class="fieldset-border text-capitalize">{{'macronutrients' | translate}}</legend>
            <div class="table-responsive">
                <table class="table table-condensed text-small">
                    <tr>
                        <th></th>
                        <th>{{'choosen' | translate}}</th>
                        <th>{{'recommended' | translate}}</th>
                    </tr>
                    <tr>
                        <td>{{'carbohydrates' | translate}}</td>
                        <td class="nowrap text-bold">{{totals.carbohydrates | number:1}} g, ({{totals.carbohydratesPercentage | number:1}} %)</td>
                        <td>{{recommendations.carbohydratesPercentageMin | number:1}}-{{recommendations.carbohydratesPercentageMax | number:1}} %</td>
                    </tr>
                    <tr>
                        <td>{{'proteins' | translate}}</td>
                        <td class="nowrap text-bold">{{totals.proteins | number:1}} g, ({{totals.proteinsPercentage | number:1}} %)</td>
                        <td>{{recommendations.proteinsPercentageMin | number:1}}-{{recommendations.proteinsPercentageMax | number:1}} %</td>
                    </tr>
                    <tr>
                        <td>{{'fats' | translate}}</td>
                        <td class="text-bold">{{totals.fats | number:1}} g, ({{totals.fatsPercentage | number:1}} %)</td>
                        <td>{{recommendations.fatsPercentageMin | number:1}}-{{recommendations.fatsPercentageMax | number:1}} %</td>
                    </tr>
                </table>
            </div>
        </fieldset>
        <fieldset class="fieldset-border">
            <legend class="fieldset-border">{{'unit servings' | translate}}</legend>
            <div class="table-responsive">
                <table class="table table-condensed text-small">
                    <tr>
                        <th></th>
                        <th>{{'choosen' | translate}}</th>
                        <th>{{'recommended' | translate}}</th>
                    </tr>
                    <tr>
                        <td>{{'cereals and cereal products' | translate}}</td>
                        <td class="text-bold">{{totals.servings.cerealsServ}}</td>
                        <td>{{recommendations.servings.cerealsServ}}</td>
                    </tr>
                    <tr>
                        <td>{{'vegetables' | translate}}</td>
                        <td class="text-bold">{{totals.servings.vegetablesServ}}</td>
                        <td>{{recommendations.servings.vegetablesServ}}</td>
                    </tr>
                    <tr>
                        <td>{{'fruit' | translate}}</td>
                        <td class="text-bold">{{totals.servings.fruitServ}}</td>
                        <td>{{recommendations.servings.fruitServ}}</td>
                    </tr>
                    <tr>
                        <td>{{'meat and substitutes' | translate}}</td>
                        <td class="text-bold">{{totals.servings.meatServ}}</td>
                        <td>{{recommendations.servings.meatServ}}</td>
                    </tr>
                    <tr>
                        <td>{{'milk and dairy products' | translate}}</td>
                        <td class="text-bold">{{totals.servings.milkServ}}</td>
                        <td>{{recommendations.servings.milkServ}}</td>
                    </tr>
                    <tr>
                        <td>{{'fats' | translate}}</td>
                        <td class="text-bold">{{totals.servings.fatsServ}}</td>
                        <td>{{recommendations.servings.fatsServ}}</td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                    </tr>
                    <tr>
                        <th></th>
                        <th>{{'choosen' | translate}}</th>
                        <th>{{'acceptable' | translate}}</th>
                    </tr>
                    <tr>
                        <td>{{'other foods' | translate}}</td>
                        <td class="text-bold">{{totals.servings.otherFoodsEnergy | number:1}} {{'kcal' | translate}}</td>
                        <td>{{recommendations.servings.otherFoodsEnergy | number:1}} {{'kcal' | translate}}</td>
                    </tr>
                </table>
            </div>
        </fieldset>
    </div>
</script>

<script type="text/ng-template" id="parametersTpl">
    <fieldset class="fieldset-border">
        <legend class="fieldset-border text-capitalize">{{'parameters' | translate}}</legend>
        <div>
            <!--<b>u</b>: <em>{{'unit' | translate}}</em><br />-->
            <b class="text-uppercase">{{'mda' | translate}}</b>: <em>{{'minimum dietary allowance' | translate}}</em><br />
            <b class="text-uppercase">{{'ul' | translate}}</b>: <em>{{'upper intake level' | translate}}</em><br />
            <b class="text-uppercase">{{'rda' | translate}}</b>: <em>{{'recommended dietary allowance' | translate}}</em><br />
            <div style="width: 80px; border:solid 1px gray; background-color: #9bc1ff; color:white; margin:2px; padding-left:5px">
                <em>{{'under' | translate}}</em> <b class="text-uppercase">{{'mda' | translate}}</b>
            </div>
            <div style="width: 80px; border:solid 1px gray; background-color: #f94040; color:white; margin:2px; padding-left:5px">
                <em>{{'over' | translate}}</em> <b class="text-uppercase">{{'ul' | translate}}</b>
            </div>
            <div class="table-responsive table-scroll mt10">
                <table class="table table-bordered table-condensed text-small">
                    <tr>
                        <th></th>
                        <th class="nowrap">{{'unit' | translate}}</th>
                        <th>{{'choosen' | translate}}</th>
                        <th class="text-uppercase">{{'mda' | translate}}</th>
                        <th class="text-uppercase">{{'ul' | translate}}</th>
                        <th class="text-uppercase">{{'rda' | translate}}</th>
                    </tr>
                    <tr>
                        <td>{{'starch' | translate}}</td>
                        <td>g</td>
                        <td class="text-bold">{{totals.starch}}</td>
                        <td>{{recommendations.starch.mda}}</td>
                        <td>{{recommendations.starch.ui}}</td>
                        <td>{{recommendations.starch.rda}}</td>
                    </tr>
                    <tr>
                        <td>{{'total sugar' | translate}}</td>
                        <td>g</td>
                        <td class="text-bold">{{totals.totalSugar}}</td>
                        <td>{{recommendations.totalSugar.mda}}</td>
                        <td>{{recommendations.totalSugar.ui}}</td>
                        <td>{{recommendations.totalSugar.rda}}</td>
                    </tr>
                    <tr>
                        <td>{{'glucose' | translate}}</td>
                        <td>g</td>
                        <td class="text-bold">{{totals.glucose}}</td>
                        <td>{{recommendations.glucose.mda}}</td>
                        <td>{{recommendations.glucose.ui}}</td>
                        <td>{{recommendations.glucose.rda}}</td>
                    </tr>
                    <tr>
                        <td>{{'fructose' | translate}}</td>
                        <td>g</td>
                        <td class="text-bold">{{totals.fructose}}</td>
                        <td>{{recommendations.fructose.mda}}</td>
                        <td>{{recommendations.fructose.ui}}</td>
                        <td>{{recommendations.fructose.rda}}</td>
                    </tr>
                    <tr>
                        <td>{{'saccharose' | translate}}</td>
                        <td>g</td>
                        <td class="text-bold">{{totals.saccharose}}</td>
                        <td>{{recommendations.saccharose.mda}}</td>
                        <td>{{recommendations.saccharose.ui}}</td>
                        <td>{{recommendations.saccharose.rda}}</td>
                    </tr>
                    <tr>
                        <td>{{'maltose' | translate}}</td>
                        <td>g</td>
                        <td class="text-bold">{{totals.maltose}}</td>
                        <td>{{recommendations.maltose.mda}}</td>
                        <td>{{recommendations.maltose.ui}}</td>
                        <td>{{recommendations.maltose.rda}}</td>
                    </tr>
                    <tr>
                        <td>{{'lactose' | translate}}</td>
                        <td>g</td>
                        <td class="text-bold">{{totals.lactose}}</td>
                        <td>{{recommendations.lactose.mda}}</td>
                        <td>{{recommendations.lactose.ui}}</td>
                        <td>{{recommendations.lactose.rda}}</td>
                    </tr>
                    <tr>
                        <td>{{'fibers' | translate}}</td>
                        <td>g</td>
                        <td class="text-bold" style="{{parameterStyle(totals.fibers, recommendations.fibers)}}">{{totals.fibers}}</td>
                        <td>{{recommendations.fibers.mda}}</td>
                        <td>{{recommendations.fibers.ui}}</td>
                        <td>{{recommendations.fibers.rda}}</td>
                    </tr>
                    <tr>
                        <td>{{'saturated fats' | translate}}</td>
                        <td>g</td>
                        <td class="text-bold" style="{{parameterStyle(totals.saturatedFats, recommendations.saturatedFats)}}">{{totals.saturatedFats}}</td>
                        <td>{{recommendations.saturatedFats.mda}}</td>
                        <td>{{recommendations.saturatedFats.ui}}</td>
                        <td>{{recommendations.saturatedFats.rda}}</td>
                    </tr>
                    <tr>
                        <td>{{'monounsaturated fats' | translate}}</td>
                        <td>g</td>
                        <td class="text-bold" style="{{parameterStyle(totals.monounsaturatedFats, recommendations.monounsaturatedFats)}}">{{totals.monounsaturatedFats}}</td>
                        <td>{{recommendations.monounsaturatedFats.mda}}</td>
                        <td>{{recommendations.monounsaturatedFats.ui}}</td>
                        <td>{{recommendations.monounsaturatedFats.rda}}</td>
                    </tr>
                    <tr>
                        <td>{{'polyunsaturated fats' | translate}}</td>
                        <td>g</td>
                        <td class="text-bold" style="{{parameterStyle(totals.polyunsaturatedFats, recommendations.polyunsaturatedFats)}}">{{totals.polyunsaturatedFats}}</td>
                        <td>{{recommendations.polyunsaturatedFats.mda}}</td>
                        <td>{{recommendations.polyunsaturatedFats.ui}}</td>
                        <td>{{recommendations.polyunsaturatedFats.rda}}</td>
                    </tr>
                    <tr>
                        <td>{{'trifluoroacetic acid' | translate}}</td>
                        <td>g</td>
                        <td class="text-bold" style="{{parameterStyle(totals.trifluoroaceticAcid, recommendations.trifluoroaceticAcid)}}">{{totals.trifluoroaceticAcid}}</td>
                        <td>{{recommendations.trifluoroaceticAcid.mda}}</td>
                        <td>{{recommendations.trifluoroaceticAcid.ui}}</td>
                        <td>{{recommendations.trifluoroaceticAcid.rda}}</td>
                    </tr>
                    <tr>
                        <td>{{'cholesterol' | translate}}</td>
                        <td>mg</td>
                        <td class="text-bold" style="{{parameterStyle(totals.cholesterol, recommendations.cholesterol)}}">{{totals.cholesterol}}</td>
                        <td>{{recommendations.cholesterol.mda}}</td>
                        <td>{{recommendations.cholesterol.ui}}</td>
                        <td>{{recommendations.cholesterol.rda}}</td>
                    </tr>
                    <tr>
                        <td>{{'sodium' | translate}}</td>
                        <td>mg</td>
                        <td class="text-bold" style="{{parameterStyle(totals.sodium, recommendations.sodium)}}">{{totals.sodium}}</td>
                        <td>{{recommendations.sodium.mda}}</td>
                        <td>{{recommendations.sodium.ui}}</td>
                        <td>{{recommendations.sodium.rda}}</td>
                    </tr>
                    <tr>
                        <td>{{'potassium' | translate}}</td>
                        <td>mg</td>
                        <td class="text-bold" style="{{parameterStyle(totals.potassium, recommendations.potassium)}}">{{totals.potassium}}</td>
                        <td>{{recommendations.potassium.mda}}</td>
                        <td>{{recommendations.potassium.ui}}</td>
                        <td>{{recommendations.potassium.rda}}</td>
                    </tr>
                    <tr>
                        <td>{{'calcium' | translate}}</td>
                        <td>mg</td>
                        <td class="text-bold" style="{{parameterStyle(totals.calcium, recommendations.calcium)}}">{{totals.calcium}}</td>
                        <td>{{recommendations.calcium.mda}}</td>
                        <td>{{recommendations.calcium.ui}}</td>
                        <td>{{recommendations.calcium.rda}}</td>
                    </tr>
                    <tr>
                        <td>{{'magnesium' | translate}}</td>
                        <td>mg</td>
                        <td class="text-bold" style="{{parameterStyle(totals.magnesium, recommendations.magnesium)}}">{{totals.magnesium}}</td>
                        <td>{{recommendations.magnesium.mda}}</td>
                        <td>{{recommendations.magnesium.ui}}</td>
                        <td>{{recommendations.magnesium.rda}}</td>
                    </tr>
                    <tr>
                        <td>{{'phosphorus' | translate}}</td>
                        <td>mg</td>
                        <td class="text-bold" style="{{parameterStyle(totals.phosphorus, recommendations.phosphorus)}}">{{totals.phosphorus}}</td>
                        <td>{{recommendations.phosphorus.mda}}</td>
                        <td>{{recommendations.phosphorus.ui}}</td>
                        <td>{{recommendations.phosphorus.rda}}</td>
                    </tr>
                    <tr>
                        <td>{{'iron' | translate}}</td>
                        <td>mg</td>
                        <td class="text-bold" style="{{parameterStyle(totals.iron, recommendations.iron)}}">{{totals.iron}}</td>
                        <td>{{recommendations.iron.mda}}</td>
                        <td>{{recommendations.iron.ui}}</td>
                        <td>{{recommendations.iron.rda}}</td>
                    </tr>
                    <tr>
                        <td>{{'copper' | translate}}</td>
                        <td>mg</td>
                        <td class="text-bold" style="{{parameterStyle(totals.copper, recommendations.copper)}}">{{totals.copper}}</td>
                        <td>{{recommendations.copper.mda}}</td>
                        <td>{{recommendations.copper.ui}}</td>
                        <td>{{recommendations.copper.rda}}</td>
                    </tr>
                    <tr>
                        <td>{{'zinc' | translate}}</td>
                        <td>mg</td>
                        <td class="text-bold" style="{{parameterStyle(totals.zinc, recommendations.zinc)}}">{{totals.zinc}}</td>
                        <td>{{recommendations.zinc.mda}}</td>
                        <td>{{recommendations.zinc.ui}}</td>
                        <td>{{recommendations.zinc.rda}}</td>
                    </tr>
                    <tr>
                        <td>{{'chlorine' | translate}}</td>
                        <td>mg</td>
                        <td class="text-bold" style="{{parameterStyle(totals.chlorine, recommendations.chlorine)}}">{{totals.chlorine}}</td>
                        <td>{{recommendations.chlorine.mda}}</td>
                        <td>{{recommendations.chlorine.ui}}</td>
                        <td>{{recommendations.chlorine.rda}}</td>
                    </tr>
                    <tr>
                        <td>{{'manganese' | translate}}</td>
                        <td>mg</td>
                        <td class="text-bold" style="{{parameterStyle(totals.manganese, recommendations.manganese)}}">{{totals.manganese}}</td>
                        <td>{{recommendations.manganese.mda}}</td>
                        <td>{{recommendations.manganese.ui}}</td>
                        <td>{{recommendations.manganese.rda}}</td>
                    </tr>
                    <tr>
                        <td>{{'selenium' | translate}}</td>
                        <td>&#956;g</td>
                        <td class="text-bold" style="{{parameterStyle(totals.selenium, recommendations.selenium)}}">{{totals.selenium}}</td>
                        <td>{{recommendations.selenium.mda}}</td>
                        <td>{{recommendations.selenium.ui}}</td>
                        <td>{{recommendations.selenium.rda}}</td>
                    </tr>
                    <tr>
                        <td>{{'iodine' | translate}}</td>
                        <td>&#956;g</td>
                        <td class="text-bold" style="{{parameterStyle(totals.iodine, recommendations.iodine)}}">{{totals.iodine}}</td>
                        <td>{{recommendations.iodine.mda}}</td>
                        <td>{{recommendations.iodine.ui}}</td>
                        <td>{{recommendations.iodine.rda}}</td>
                    </tr>
                    <tr>
                        <td>{{'retinol' | translate}}</td>
                        <td>&#956;g</td>
                        <td class="text-bold" style="{{parameterStyle(totals.retinol, recommendations.retinol)}}">{{totals.retinol}}</td>
                        <td>{{recommendations.retinol.mda}}</td>
                        <td>{{recommendations.retinol.ui}}</td>
                        <td>{{recommendations.retinol.rda}}</td>
                    </tr>
                    <tr>
                        <td>{{'carotene' | translate}}</td>
                        <td>&#956;g</td>
                        <td class="text-bold" style="{{parameterStyle(totals.carotene, recommendations.carotene)}}">{{totals.carotene}}</td>
                        <td>{{recommendations.carotene.mda}}</td>
                        <td>{{recommendations.carotene.ui}}</td>
                        <td>{{recommendations.carotene.rda}}</td>
                    </tr>
                    <tr>
                        <td>{{'vitamin D' | translate}}</td>
                        <td>&#956;g</td>
                        <td class="text-bold" style="{{parameterStyle(totals.vitaminD, recommendations.vitaminD)}}">{{totals.vitaminD}}</td>
                        <td>{{recommendations.vitaminD.mda}}</td>
                        <td>{{recommendations.vitaminD.ui}}</td>
                        <td>{{recommendations.vitaminD.rda}}</td>
                    </tr>
                    <tr>
                        <td>{{'vitamin E' | translate}}</td>
                        <td>mg</td>
                        <td class="text-bold" style="{{parameterStyle(totals.vitaminE, recommendations.vitaminE)}}">{{totals.vitaminE}}</td>
                        <td>{{recommendations.vitaminE.mda}}</td>
                        <td>{{recommendations.vitaminE.ui}}</td>
                        <td>{{recommendations.vitaminE.rda}}</td>
                    </tr>
                    <tr>
                        <td>{{'vitamin B1' | translate}}</td>
                        <td>mg</td>
                        <td class="text-bold" style="{{parameterStyle(totals.vitaminB1, recommendations.vitaminB1)}}">{{totals.vitaminB1}}</td>
                        <td>{{recommendations.vitaminB1.mda}}</td>
                        <td>{{recommendations.vitaminB1.ui}}</td>
                        <td>{{recommendations.vitaminB1.rda}}</td>
                    </tr>
                    <tr>
                        <td>{{'vitamin B2' | translate}}</td>
                        <td>mg</td>
                        <td class="text-bold" style="{{parameterStyle(totals.vitaminB2, recommendations.vitaminB2)}}">{{totals.vitaminB2}}</td>
                        <td>{{recommendations.vitaminB2.mda}}</td>
                        <td>{{recommendations.vitaminB2.ui}}</td>
                        <td>{{recommendations.vitaminB2.rda}}</td>
                    </tr>
                    <tr>
                        <td>{{'vitamin B3' | translate}}</td>
                        <td>mg</td>
                        <td class="text-bold" style="{{parameterStyle(totals.vitaminB3, recommendations.vitaminB3)}}">{{totals.vitaminB3}}</td>
                        <td>{{recommendations.vitaminB3.mda}}</td>
                        <td>{{recommendations.vitaminB3.ui}}</td>
                        <td>{{recommendations.vitaminB3.rda}}</td>
                    </tr>
                    <tr>
                        <td>{{'vitamin B6' | translate}}</td>
                        <td>mg</td>
                        <td class="text-bold" style="{{parameterStyle(totals.vitaminB6, recommendations.vitaminB6)}}">{{totals.vitaminB6}}</td>
                        <td>{{recommendations.vitaminB6.mda}}</td>
                        <td>{{recommendations.vitaminB6.ui}}</td>
                        <td>{{recommendations.vitaminB6.rda}}</td>
                    </tr>
                    <tr>
                        <td>{{'vitamin B12' | translate}}</td>
                        <td>&#956;g</td>
                        <td class="text-bold" style="{{parameterStyle(totals.vitaminB12, recommendations.vitaminB12)}}">{{totals.vitaminB12}}</td>
                        <td>{{recommendations.vitaminB12.mda}}</td>
                        <td>{{recommendations.vitaminB12.ui}}</td>
                        <td>{{recommendations.vitaminB12.rda}}</td>
                    </tr>
                    <tr>
                        <td>{{'folate' | translate}}</td>
                        <td>&#956;g</td>
                        <td class="text-bold" style="{{parameterStyle(totals.folate, recommendations.folate)}}">{{totals.folate}}</td>
                        <td>{{recommendations.folate.mda}}</td>
                        <td>{{recommendations.folate.ui}}</td>
                        <td>{{recommendations.folate.rda}}</td>
                    </tr>
                    <tr>
                        <td>{{'pantothenic acid' | translate}}</td>
                        <td>mg</td>
                        <td class="text-bold" style="{{parameterStyle(totals.pantothenicAcid, recommendations.pantothenicAcid)}}">{{totals.pantothenicAcid}}</td>
                        <td>{{recommendations.pantothenicAcid.mda}}</td>
                        <td>{{recommendations.pantothenicAcid.ui}}</td>
                        <td>{{recommendations.pantothenicAcid.rda}}</td>
                    </tr>
                    <tr>
                        <td>{{'biotin' | translate}}</td>
                        <td>&#956;g</td>
                        <td class="text-bold" style="{{parameterStyle(totals.biotin, recommendations.biotin)}}">{{totals.biotin}}</td>
                        <td>{{recommendations.biotin.mda}}</td>
                        <td>{{recommendations.biotin.ui}}</td>
                        <td>{{recommendations.biotin.rda}}</td>
                    </tr>
                    <tr>
                        <td>{{'vitamin C' | translate}}</td>
                        <td>mg</td>
                        <td class="text-bold" style="{{parameterStyle(totals.vitaminC, recommendations.vitaminC)}}">{{totals.vitaminC}}</td>
                        <td>{{recommendations.vitaminC.mda}}</td>
                        <td>{{recommendations.vitaminC.ui}}</td>
                        <td>{{recommendations.vitaminC.rda}}</td>
                    </tr>
                    <tr>
                        <td>{{'vitamin K' | translate}}</td>
                        <td>&#956;g</td>
                        <td class="text-bold" style="{{parameterStyle(totals.vitaminK, recommendations.vitaminK)}}">{{totals.vitaminK}}</td>
                        <td>{{recommendations.vitaminK.mda}}</td>
                        <td>{{recommendations.vitaminK.ui}}</td>
                        <td>{{recommendations.vitaminK.rda}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </fieldset>
</script>


