<div>
    <ng-include src="'./assets/partials/main.html'"></ng-include>
    <div class="bg-white p-3">
        <div class="panel-heading text-right text-capitalize">
            <button ng-if="pdfLink==null" ng-click="printPdf()" class="btn btn-outline-danger" ng-disabled="creatingPdf"><span><i class="fa fa-{{creatingPdf==true?'spinner fa-spin':'file-pdf-o'}}"></i> {{'create pdf' | translate}}</span></button>
            <a ng-if="pdfLink!=null" href="{{pdfLink}}" class="btn btn-success" download ng-click="hidePdfLink()"><i class="fa fa-file-pdf-o"></i> {{'take pdf' | translate}}</a>
        </div>
        <div class="row">
            <div class="col-lg-5">
                <md-input-container class="md-block" flex-gt-xs style="margin-top:0px">
                    <label>{{'bmr equation' | translate}}</label>
                    <md-select ng-model="clientData.bmrEquation" ng-change="setBmrEquation(clientData.bmrEquation)">
                        <md-option ng-value="x.code" ng-repeat="x in calculation.bmrEquations track by $index" ng-click="checkBmrEquation(x)">
                            <md-checkbox ng-checked="x.code===clientData.bmrEquation" class="md-primary" aria-label="bmr">
                                <span class="{{x.isDisabled?'text-muted':''}}">{{x.title | translate}}</span>
                                <span ng-if="x.description">
                                    <br /><em class="{{x.isDisabled?'text-muted small':'text-primary small'}}">{{x.description | translate}}</em>
                                </span>
                            </md-checkbox>
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-sm text-small">
                <tr class="bg-light">
                    <th></th>
                    <th></th>
                    <th class="text-right">{{'value' | translate}}</th>
                    <th></th>
                    <th>{{'note' | translate}}</th>
                    <th class="text-center">{{'recommendations' | translate}}</th>
                </tr>
                <tr>
                    <td><i class="fa fa-bed"></i></td>
                    <td>
                    <div class="font-weight-bold">BMR</div>
                        <em class="small text-muted">({{'basal metabolic rate' | translate}})</em>
                    </td>
                    <td class="font-weight-bold text-right">{{calculation.bmr | number:0}} {{'kcal' | translate}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><i class="fa fa-fire"></i></td>
                    <td>
                        <div class="font-weight-bold">TEE</div>
                        <em class="small text-muted">({{'total energy expenditure' | translate}})</em>
                    </td>
                    <td class="font-weight-bold text-right">{{calculation.tee | number:0}} {{'kcal' | translate}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><i class="fa fa-weight"></i></td>
                    <td>
                        <div class="font-weight-bold">BMI</div>
                        <em class="small text-muted">({{'body mass index' | translate}})</em>
                    </td>
                    <td class="font-weight-bold text-right">
                        {{calculation.bmi.value | number:1}} {{'kg' | translate}}<sup>2</sup>
                    </td>
                    <td style="width:140px">
                        <div id="bmiChart" class="guage"></div>
                    </td>
                    <td>
                        <span ng-class="getBmiClass(calculation.bmi.value).text">
                            <i ng-class="getBmiClass(calculation.bmi.value).icon"></i>
                        </span>
                        <span class="text-uppercase font-weight-bold">{{calculation.bmi.title | translate}}</span>
                    </td>
                    <td>
                        <div class="text-center">
                            18.5 - 25
                        </div>
                    </td>
                </tr>
                <tr ng-if="calculation.whr.value>0">
                    <td><i class="fa fa-ruler-combined"></i></td>
                    <td>
                        <div class="font-weight-bold">WHR</div>
                        <em class="small text-muted">({{'waist–hip ratio' | translate}})</em>
                    </td>
                    <td class="font-weight-bold text-right">
                        {{calculation.whr.value | number:2}}
                    </td>
                    <td style="width:140px">
                        <div id="whrChart" class="guage"></div>
                    </td>
                    <td>
                        <span ng-class="getWaistClass(calculation.whr).text">
                            <i ng-class="getWaistClass(calculation.whr).icon"></i>
                        </span>
                        <span class="text-uppercase font-weight-bold">{{calculation.whr.title | translate}}</span>
                        <div>
                            <em class="small">{{calculation.whr.description | translate}}</em>
                        </div>
                    </td>
                    <td class="text-center">
                        < {{calculation.whr.increasedRisk}}
                    </td>
                </tr>
                <tr ng-if="calculation.waist.value>0">
                    <td><i class="fa fa-ruler-horizontal"></i></td>
                    <td>
                        <div class="font-weight-bold text-nowrap">{{'waist' | translate}}</div>
                        <em class="small text-muted"> ({{'waist–hip ratio' | translate}})</em>
                    </td>
                    <td class="font-weight-bold text-right">
                        {{calculation.waist.value | number:1}} cm
                    </td>
                    <td style="width:140px">
                        <div id="waistChart" class="guage"></div>
                    </td>
                    <td>
                        <span ng-class="getWaistClass(calculation.waist).text">
                            <i ng-class="getWaistClass(calculation.waist).icon"></i>
                        </span>
                        <span class="text-uppercase font-weight-bold">{{calculation.waist.title | translate}}</span>
                        <div>
                            <em class="small">{{calculation.waist.description | translate}}</em>
                        </div>
                    </td>
                    <td class="text-center">
                        < {{calculation.waist.increasedRisk}}
                    </td>
                </tr>
                <tr ng-if="calculation.bodyFat.bodyFatPerc>0">
                    <td><i class="fa fa-percentage"></i></td>
                    <td>
                        <div class="font-weight-bold">BF</div>
                        <em class="small text-muted">({{'body fat' | translate}})</em>
                    </td>
                    <td class="text-right">
                        <div class="font-weight-bold">
                            {{calculation.bodyFat.bodyFatPerc | number:1}} %
                        </div>
                        <em class="small">({{calculation.bodyFat.bodyFatMass | number:1}} {{'kg' | translate}})</em>
                    </td>
                    <td style="width:140px">
                        <div id="bfChart" class="guage"></div>
                    </td>
                    <td>
                        <div ng-if="calculation.bodyFat.title">
                            <div>
                                {{'fat level' | translate}}: <span class="font-weight-bold"> {{calculation.bodyFat.title | translate}}</span>
                                <em class="small"> ({{calculation.bodyFat.description | translate}})</em>
                            </div>
                        </div>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr ng-if="calculation.bodyFat.bodyFatPerc>0">
                    <td><i class="fa fa-male"></i></td>
                    <td>
                        <div class="font-weight-bold">LBM</div>
                        <em class="small text-muted"> ({{'lean body mass' | translate}})</em>
                    </td>
                    <td class="font-weight-bold text-right">
                        {{calculation.bodyFat.lbm | number:0}} {{'kg' | translate}}
                    </td>
                    <td style="width:140px"></td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td><i class="fa fa-bullseye"></i></td>
                    <td>
                        <div class="font-weight-bold text-nowrap">
                            {{'targeted mass' | translate}}
                            <span custom-popover popover-html="{{'targeted_mass_info' | translate}}" popover-placement="bottom" popover-label=""></span>
                        </div>
                    </td>
                    <td style="max-width:160px; min-width:130px">
                        <div class="input-group">
                            <input type="text" ng-model="goalWeightValue" class="form-control text-right" allow-only-numbers ng-change="changeGoalWeightValue(goalWeightValue)">
                            <div class="input-group-append">
                                <span class="input-group-text">{{'kg' | translate}}</span>
                            </div>
                        </div>
                    </td>
                    <td></td>
                    <td>
                        <md-input-container class="md-block" flex-gt-xs style="margin-top:0px">
                            <!--<label>{{'goal' | translate}}</label>-->
                            <md-select ng-model="calculation.goal.code">
                                <md-option ng-value="x.code" ng-disabled="x.isDisabled" ng-repeat="x in goals track by $index" ng-click="getGoal(x)">
                                    <md-checkbox ng-checked="x.code===calculation.goal.code" class="md-primary" aria-label="bmr">
                                        <span class="{{x.isDisabled?'text-muted':''}}">{{x.title | translate}}</span>
                                    </md-checkbox>
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td><i class="fa fa-weight"></i></td>
                    <td>
                        <div class="font-weight-bold text-nowrap">
                            {{'recommended weight' | translate}}
                        </div>
                    </td>
                    <td>
                    </td>
                    <td style="width:140px"></td>
                    <td>
                    </td>
                    <td class="text-center">
                        {{calculation.recommendedWeight.min | number:0}} - {{calculation.recommendedWeight.max | number:0}} {{'kg' | translate}}
                    </td>
                </tr>
            </table>
        </div>

        <div class="table-responsive">
            <table class="table table-sm mt-5">
                <tr class="bg-light">
                    <th></th>
                    <th colspan="3"></th>
                    <th class="pr-2">{{'recommendations' | translate}}</th>
                    <th colspan="2" class="pl-2 bg-light">
                        <div class="text-capitalize">
                            {{'my recommendations' | translate}}
                        </div>
                        <em class="small text-danger"> *{{'if your recommendations are different from the recommendations provided by the application, enter your values here, otherwise leave blank fields' | translate}}.</em>
                    </th>
                </tr>
                <tr>
                    <td><i class="fa fa-utensils"></i></td>
                    <td colspan="3">
                        <div class="font-weight-bold">
                            {{'recommended energy intake' | translate}}
                        </div>
                    </td>
                    <td>
                        <span class="font-weight-bold pr-2">{{calculation.recommendedEnergyIntake | number:0}} {{'kcal' | translate}}</span>
                    </td>
                    <td style="width:220px" class="bg-light pl-2">
                        <div class="input-group">
                            <input type="number" ng-model="myCalculation.recommendedEnergyIntake" style="max-width:160px; min-width:130px" class="form-control text-right bg-light" allow-only-numbers>
                            <div class="input-group-append">
                                <span class="input-group-text">{{'kcal' | translate}}</span>
                            </div>
                        </div>
                    </td>
                    <td rowspan="2" class="bg-light pl-2">
                        <div class="text-capitalize mt-2">
                            <button class="btn btn-outline-primary mt-1 mb-1" ng-click="saveMyCalculation(myCalculation)"><i class="fa fa-floppy-o"></i> {{'save' | translate}}</button>
                            <button class="btn btn-outline-danger text-capitalize mt-1 mb-1" ng-click="clearMyCalculation()"><span><i class="fa fa-times"></i> {{'clear' | translate}}</span></button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><i class="fa fa-running"></i></td>
                    <td colspan="3">
                        <div class="font-weight-bold">
                            {{'additional energy expenditure' | translate}}
                        </div>
                    <td>
                        <span class="font-weight-bold pr-2">{{calculation.recommendedEnergyExpenditure | number:0}} {{'kcal' | translate}}</span>
                    </td>
                    <td style="width:220px" class="bg-light pl-2">
                        <div class="input-group">
                            <input type="number" ng-model="myCalculation.recommendedEnergyExpenditure" style="max-width:160px; min-width:130px" class="form-control text-right bg-light" allow-only-numbers>
                            <div class="input-group-append">
                                <span class="input-group-text">{{'kcal' | translate}}</span>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div>
            <button ng-if="client.clientId" class="btn btn-primary btn-lg" title="{{'back' | translate}}" ng-click="toggleNewTpl('clientsdata')"><i class="fa fa-angle-double-left fa-2x" aria-hidden="true"></i></button>
            <button ng-if="client.clientId" class="btn btn-primary btn-lg pull-right" title="{{'forward' | translate}}" ng-click="toggleNewTpl('activities')"><i class="fa fa-angle-double-right fa-2x" aria-hidden="true"></i></button>
        </div> 

        <json-directive data="calculation" desc="'calculation'"></json-directive>
        
        <!--<div class="row mt-3">
            <div class="col-sm-6">
                <fieldset class="fieldset-border">
                    <legend class="fieldset-border text-capitalize">{{'calculation' | translate}}:</legend>
                    <div>
                        <div class="mt-3">
                            <md-input-container class="md-block" flex-gt-xs style="margin-top:0px">
                                <label>{{'bmr equation' | translate}}</label>
                                <md-select ng-model="clientData.bmrEquation" ng-change="setBmrEquation(clientData.bmrEquation)">
                                    <md-option ng-value="x.code" ng-repeat="x in calculation.bmrEquations track by $index" ng-click="checkBmrEquation(x)">
                                        <md-checkbox ng-checked="x.code===clientData.bmrEquation" class="md-primary" aria-label="bmr">
                                            <span class="{{x.isDisabled?'text-muted':''}}">{{x.title | translate}}</span>
                                            <span ng-if="x.description">
                                                <br /><em class="{{x.isDisabled?'text-muted small':'text-primary small'}}">{{x.description | translate}}</em>
                                            </span>
                                        </md-checkbox>
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <table class="table table-bordered text-small table-condensed">
                            <tr>
                                <td class="bg-subpanel"><strong>BMR</strong><em class="text-small text-muted"> ({{'basal metabolic rate' | translate}})</em></td>
                                <td width=120px class="text-center"><span class="text-primary" style="font-size:18px">{{calculation.bmr | number:0}} {{'kcal' | translate}}</span></td>
                            </tr>
                        </table>
                        <table class="table table-bordered text-small table-condensed">
                            <tr>
                                <td class="bg-subpanel"><strong>TEE</strong><em class="text-small text-muted"> ({{'total energy expenditure' | translate}})</em></td>
                                <td width=120px class="text-center"><span class="text-primary" style="font-size:18px">{{calculation.tee | number:0}} {{'kcal' | translate}}</span></td>
                            </tr>
                        </table>
                        <table class="table table-bordered text-small table-condensed">
                            <tr>
                                <td class="bg-subpanel"><b class="text-uppercase">BMI</b><em class="text-small text-muted"> ({{'body mass index' | translate}})</em></td>
                                <td rowspan="3" style="width:120px"><div id="bmiChart" class="guage"></div></td>
                            </tr>
                            <tr class="text-center">
                                <td ng-class="getBmiClass(calculation.bmi.value).text"><span style="font-size:18px">{{calculation.bmi.value | number:1}} {{'kg' | translate}}/m&sup2</span></td>
                            </tr>
                            <tr class="text-center">
                                <td class="text-primary"><em>{{'recommended' | translate}}: (18.5 - 25)</em></td>
                            </tr>
                            <tr>
                                <td colspan="2" ng-class="getBmiClass(calculation.bmi.value).text"><i ng-class="getBmiClass(calculation.bmi.value).icon"></i> <strong class="text-uppercase">{{calculation.bmi.title | translate}}</strong></td>
                            </tr>
                        </table>
                        <table ng-if="calculation.whr.value>0" class="table table-bordered text-small table-condensed">
                            <tr>
                                <td class="bg-subpanel"><b class="text-uppercase">WHR</b><em class="text-small text-muted"> ({{'waist–hip ratio' | translate}})</em></td>
                                <td rowspan="3" style="width:120px"><div id="whrChart" class="guage"></div></td>
                            </tr>
                            <tr class="text-center">
                                <td ng-class="getWaistClass(calculation.whr).text"><span style="font-size:18px">{{calculation.whr.value | number:2}}</span></td>
                            </tr>
                            <tr class="text-center">
                                <td class="text-primary"><em>{{'recommended' | translate}}: (< {{calculation.whr.increasedRisk}})</em></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <span ng-class="getWaistClass(calculation.whr).text">
                                        <strong class="text-uppercase">{{calculation.whr.title | translate}}</strong>
                                        <br />
                                        <span> {{calculation.whr.description | translate}}</span>
                                    </span>
                                </td>
                            </tr>
                        </table>
                        <table ng-if="calculation.waist.value>0" class="table table-bordered text-small table-condensed">
                            <tr>
                                <td class="bg-subpanel"><b class="text-uppercase">{{'waist' | translate}}</b></td>
                                <td rowspan="3" style="width:120px"><div id="waistChart" class="guage"></div></td>
                            </tr>
                            <tr class="text-center">
                                <td ng-class="getWaistClass(calculation.waist).text"><span style="font-size:18px">{{calculation.waist.value | number:1}} cm</span></td>
                            </tr>
                            <tr class="text-center">
                                <td class="text-primary"><em>{{'recommended' | translate}}: (< {{calculation.waist.increasedRisk}})</em></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <span ng-class="getWaistClass(calculation.waist).text">
                                        <strong class="text-uppercase"><i ng-class="getWaistClass(calculation.waist).icon"></i> {{calculation.waist.title | translate}}</strong>
                                        <br />
                                        <span> {{calculation.waist.description | translate}}</span>
                                    </span>
                                </td>
                            </tr>
                        </table>

                        <table ng-if="calculation.bodyFat.bodyFatPerc>0" class="table table-bordered text-small table-condensed">
                            <tr>
                                <td class="bg-subpanel">
                                    <strong>BF</strong><em class="text-small text-muted"> ({{'body fat' | translate}})</em>
                                </td>
                                <td rowspan="3" style="width:120px"><div id="bfChart" class="guage"></div></td>
                            </tr>
                            <tr class="text-center">
                                <td>
                                    <span style="font-size:18px">{{calculation.bodyFat.bodyFatPerc | number:1}} %</span>
                                    <div>
                                        <em>({{calculation.bodyFat.bodyFatMass | number:1}} {{'kg' | translate}})</em>
                                    </div>
                                </td>
                            </tr>
                            <tr class="text-center">
                                <td class="text-primary"><em><strong>LBM</strong><em class="text-small"> ({{'lean body mass' | translate}})</em>:
                                     {{calculation.bodyFat.lbm | number:0}} {{'kg' | translate}}</em>
                                </td>
                            </tr>
                            <tr ng-if="calculation.bodyFat.title">
                                <td colspan="2" >
                                    {{'fat level' | translate}}: <strong class="text-uppercase"> {{calculation.bodyFat.title | translate}}</strong>
                                    <em>({{calculation.bodyFat.description | translate}})</em>
                                </td>
                            </tr>
                        </table>
                    </div>
                </fieldset>
            </div>
            <div class="col-sm-6">
                <fieldset class="fieldset-border">
                    <legend class="fieldset-border text-capitalize">{{'goal' | translate}}:</legend>
                    <div>
                        <md-radio-group ng-model="calculation.goal.code">
                            <md-radio-button ng-value="x.code" class="md-primary" ng-repeat="x in goals" ng-disabled="x.isDisabled" ng-click="getGoal(x)">{{x.title | translate}}</md-radio-button>
                        </md-radio-group>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 text-right">
                            <div class="">
                                {{'targeted mass' | translate}}
                                <span custom-popover popover-html="{{'targeted_mass_info' | translate}}" popover-placement="bottom" popover-label=""></span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input type="text" ng-model="goalWeightValue" class="form-control text-right" style="min-width:75px" allow-only-numbers ng-change="changeGoalWeightValue(goalWeightValue)" >
                                <div class="input-group-append">
                                    <span class="input-group-text">{{'kg' | translate}}</span>
                                </div>
                            </div>
                        </div> 
                    </div>
                </fieldset>
                <fieldset class="fieldset-border">
                    <legend class="fieldset-border text-capitalize">{{'recommendations' | translate}}:</legend>
                    <table class="table table-bordered">
                        <tr>
                            <td>{{'weight' | translate}}</td>
                            <td class="nowrap text-right"><span class="text-primary" style="font-size:18px">{{calculation.recommendedWeight.min | number:0}} - {{calculation.recommendedWeight.max | number:0}} {{'kg' | translate}}</span></td>
                        </tr>
                        <tr>
                            <td>{{'energy intake' | translate}}</td>
                            <td class="nowrap text-right"><span class="text-primary" style="font-size:18px">{{calculation.recommendedEnergyIntake}} {{'kcal' | translate}}</span></td>
                        </tr>
                        <tr>
                            <td>{{'additional energy expenditure' | translate}}</td>
                            <td class="nowrap text-right"><span class="text-primary" style="font-size:18px">{{calculation.recommendedEnergyExpenditure}} {{'kcal' | translate}}</span></td>
                        </tr>
                    </table>
                </fieldset>
                <fieldset class="fieldset-border">
                    <legend class="fieldset-border text-capitalize">{{'my recommendations' | translate}}:</legend>
                    <div>
                        <em class="text-small text-danger"> *{{'if your recommendations are different from the recommendations provided by the application, enter your values here, otherwise leave blank fields' | translate}}.</em>
                        <div class="row mt-2">
                            <div class="col-sm-8">
                                {{'energy intake' | translate}}
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <input type="number" ng-model="myCalculation.recommendedEnergyIntake" style="min-width:75px" class="form-control text-right" allow-only-numbers>                                    
                                    <div class="input-group-append">
                                        <span class="input-group-text">{{'kcal' | translate}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-sm-8">
                                {{'additional energy expenditure' | translate}}
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <input type="number" ng-model="myCalculation.recommendedEnergyExpenditure" style="min-width:75px" class="form-control text-right" allow-only-numbers>                                    
                                    <div class="input-group-append">
                                        <span class="input-group-text">{{'kcal' | translate}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-right text-capitalize mt-2">
                            <button class="btn btn-outline-danger text-capitalize" ng-click="clearMyCalculation()"><span><i class="fa fa-times"></i> {{'clear' | translate}}</span></button>
                            <button class="btn btn-outline-primary" ng-click="saveMyCalculation(myCalculation)"><i class="fa fa-floppy-o"></i> {{'save' | translate}}</button>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>-->

    </div>
    <!--<div>
        <a href="" ng-if="client.clientId" class="btn btn-default btn-lg center center-left" title="{{'back' | translate}}" ng-click="toggleNewTpl('clientsdata')"><i class="fa fa-angle-double-left fa-2x text-primary" aria-hidden="true"></i></a>
        <a href="" ng-if="client.clientId" class="btn btn-default btn-lg center center-right" title="{{'forward' | translate}}" ng-click="toggleNewTpl('activities')"><i class="fa fa-angle-double-right fa-2x text-primary" aria-hidden="true"></i></a>
    </div>-->

</div>



