<div ng-controller="clientAppCtrl">
    <div class="text-right">
        <a href="" class="btn btn-default" ng-click="backToApp()"><i class="fa fa-dashboard"></i> {{'back to app' | translate}}</a>
    </div>
    <div class="row mt20">
        <div class="col-md-offset-2 col-sm-8">
            <fieldset class="fieldset-border">
                <legend class="fieldset-border"><i class="fa fa-user-o"></i> {{'client app' | translate}}:</legend>
                <div>
                    <p>{{'allow your clients to track their anthropometric parameters and download menus through a web app' | translate}}.</p>
                </div>
                <div ng-if="user.licenceStatus == 'demo' || user.userType < 1" class="alert alert-danger text-center m10" style="height:auto !important">
                    <strong>
                        <i class="fa fa-info-circle fa-2x" aria-hidden="true"></i>
                        <span class="text-uppercase ml5">{{'this function is available only in standard and premium package' | translate}}</span>
                        <strong class="btn btn-success ml10" ng-click="toggleCurrTpl('order.html'); hideMsg()">
                            <i class="fa fa-hand-o-right fa-2x" aria-hidden="true"></i>
                            <span class="text-uppercase ml5">{{'order now' | translate}}</span>
                        </strong>
                    </strong>
                </div>
                <div ng-if="user.licenceStatus != 'demo' && user.userType > 0">
                    <em>{{'search clients' | translate}}...</em>
                    <select ng-model="client" ng-options="(y.firstName + ' ' + y.lastName) for (x, y) in clients" class="form-control" ng-change="get(client)"></select>
                    <div ng-if="user.userType>0 && client!=null || client.clientId!=null" class="mt20">
                        <a href="" ng-click="toggle(client, clientApp)" class="btn btn-default">{{showTitle}} <i class="fa fa-chevron-{{show==false?'down':'up'}}" aria-hidden="true"></i></a>
                        <div ng-if="show==true" class="panel panel-primary mt10">
                            <div class="panel-heading">Podaci za pristup aplikaciji</div>
                            <div class="panel-body">
                                <div>
                                    Link za pristup aplikaciji: <a href="{{config.clientapppageurl}}" target="_blank">{{config.clientapppageurl}}</a>
                                </div>
                                <div>
                                    Android aplikacija: <a href="#">TODO</a>
                                </div>
                                <div>
                                    Aktivacijski kod: <input ng-model="clientApp.code" class="text-center" style="width:100px; height:30px; font-weight:600; font-size:16px" readonly />
                                </div>
                                <div>
                                    Link za pristup aplikaciji bez aktivacijskog koda koda:<br />
                                    <a ng-if="client.clientId" href="{{clientAppUrl(client)}}" target="_blank">{{clientAppUrl(client)}}</a>
                                </div>

                                <div class="mt10">
                                    <p>{{"send access link to the client's email" | translate}} ({{client.firstName}} {{client.lastName}})</p>
                                    <div class="input-group">
                                        <input ng-model="client.email" type="email" class="form-control" placeholder="{{'email' | translate}}" />
                                        <div class="input-group-addon pointer text-capitalize" ng-click="sendAppLinkToClientEmail(client)" ng-disabled="sendingMail==true"><a href=""><i class="fa fa-{{sendingMail==true?'spinner fa-spin':'paper-plane-o'}}"></i> {{sendingMail==true?'sending':'send' | translate}}</a></div>
                                    </div>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>

    <div ng-if="config.debug">
        Clientapp:
        <pre>{{clientApp | json}}</pre>

        Client:
        <pre>{{client | json}}</pre>

    </div>
</div>