<div ng-controller="dashboardCtrl">
    <div class="noprint">
        <ul class="nav nav-tabs">
            <li ng-class="selectedNavItem=='clientsdata'?'active':''" ng-click="toggleNewTpl('clientsdata')"><a href="#"><i class="fa fa-user-o"></i> <span class="hidden-xs text-uppercase">{{'client' | translate}}</span></a></li>
            <li ng-if="showTabs()" ng-class="selectedNavItem=='calculation'?'active':''"><a href="#" ng-click="toggleNewTpl('calculation')"><i class="fa fa-calculator"></i> <span class="hidden-xs text-uppercase">{{'calculation' | translate}}</span></a></li>
            <li ng-if="showTabs()" ng-class="selectedNavItem=='activities'?'active':''"><a href="#" ng-click="toggleNewTpl('activities')"><i class="fa fa-bicycle"></i> <span class="hidden-xs text-uppercase">{{'additional activity' | translate}}</span></a></li>
            <li ng-if="showTabs()" ng-class="selectedNavItem=='diets'?'active':''"><a href="#" ng-click="toggleNewTpl('diets')"><i class="fa fa-hand-o-right"></i> <span class="hidden-xs text-uppercase">{{'diet' | translate}}</span></a></li>
            <li ng-if="showTabs()" ng-class="selectedNavItem=='meals'?'active':''"><a href="#" ng-click="toggleNewTpl('meals')"><i class="fa fa-list-ol"></i> <span class="hidden-xs text-uppercase">{{'meals' | translate}}</span></a></li>
            <li ng-if="showTabs()" ng-class="selectedNavItem=='menu'?'active':''"><a href="#" ng-click="toggleNewTpl('menu')"><i class="fa fa-cutlery"></i> <span class="hidden-xs text-uppercase">{{'menu' | translate}}</span></a></li>
            <li ng-if="showTabs()" ng-class="selectedNavItem=='print'?'active':''"><a href="#" ng-click="toggleNewTpl('print')"><i class="fa fa-print"></i> <span class="hidden-xs text-uppercase">{{'print' | translate}}</span></a></li>
            <li ng-if="showTabs()" ng-class="selectedNavItem=='myfoods'?'active':''"><a href="#" ng-click="toggleNewTpl('myfoods')"><i class="fa fa-apple"></i> <span class="hidden-xs text-uppercase">{{'my foods' | translate}}</span></a></li>
            <li ng-if="showTabs()" ng-class="selectedNavItem=='prices'?'active':''"><a href="#" ng-click="toggleNewTpl('prices')"><i class="fa fa-usd"></i> <span class="hidden-xs text-uppercase">{{'prices' | translate}}</span></a></li>
        </ul>
    </div>
    <div ng-include="newTpl" class="loginBox"></div>
</div>

