<div ng-controller="mealsCtrl">
    <div class="row mt60">
        <div class="col-md-offset-5 p20">
            <div ng-repeat="x in clientData.meals">
                <md-checkbox ng-model="x.isSelected" class="md-primary" ng-disabled="x.isDisabled">
                    {{getMealTitle(x.code) | translate}}
                </md-checkbox>
            </div>
        </div>
    </div>
    <div>
        <a href="" ng-if="client.clientId" class="btn btn-default btn-lg center center-left" title="{{'back' | translate}}" ng-click="toggleNewTpl('diets')"><i class="fa fa-angle-double-left fa-2x text-primary" aria-hidden="true"></i></a>
        <a href="" ng-if="client.clientId" class="btn btn-default btn-lg center center-right" title="{{'forward' | translate}}" ng-click="toggleNewTpl('menu')"><i class="fa fa-angle-double-right fa-2x text-primary" aria-hidden="true"></i></a>
    </div> 
</div>
<div ng-if="config.debug" class="bg-info debugBox">
    meals:
    <pre>{{clientData.meals | json}}</pre>
</div>

