<div ng-controller="myFoodsCtrl">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="text-uppercase">{{'my foods' | translate}}</span>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="input-group">
                                <input ng-model="searchFood" class="form-control" type="text" placeholder="{{'search' | translate}}..." autofocus />
                                <span class="input-group-btn">
                                    <a href="" class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i>&#8203;</a>
                                </span>
                            </div>
                            <select ng-model="choosenFood" class="form-control" size="5" title="Moje namirnice..." ng-change="getMyFoodDetails(choosenFood)">
                                <option ng-repeat="x in myFoods | filter:{food:searchFood} track by $index" value="{{x.id}}">{{x.food}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading text-capitalize">
                    <div>
                        <a href="" class="btn btn-default" ng-click="new()"><i class="fa fa-file-o"></i> <span class="hidden-xs"> {{'new food' | translate}}</span></a>
                        <a href="" class="btn btn-default" ng-click="delete(myFood)"><i class="fa fa-trash-o"></i> <span class="hidden-xs">{{'delete' | translate}}</span></a>
                        <a href="" class="btn btn-default" ng-click="save(myFood)"><i class="fa fa-floppy-o"></i> <span class="hidden-xs">{{'save' | translate}}</span></a>
                    </div>
                </div>
                <div class="panel-body">
                    <div layout-gt-sm="row">
                        <md-input-container>
                            <label>{{'food title' | translate}}</label>
                            <input ng-model="myFood.food" type="text" required>
                        </md-input-container>
                        <md-input-container>
                            <label>{{'quantity' | translate}}</label>
                            <input ng-model="myFood.quantity" type="number" step="0.1" min="0.1" disabled="disabled" required>
                        </md-input-container>
                        <md-input-container>
                            <label>{{'unit' | translate}}</label>
                            <md-select ng-model="myFood.unit">
                                <md-option ng-value="x" ng-repeat="x in units">
                                    <md-checkbox ng-checked="x==myFood.unit" class="md-primary" aria-label="unit">{{x | translate}}</md-checkbox>
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <h5 class="text-uppercase">{{'unit servings' | translate}}</h5>
                    <div>
                        <div class="alert alert-warning">
                            <i class="fa fa-exclamation-triangle"></i>
                            {{'if you do not know the value of unit servings, the food will be included in the group' | translate}} <strong class="text-capitalize">{{'other foods' | translate}}</strong>.
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>{{'food group' | translate}}</label>
                                    <md-select ng-model="myFood.foodGroup.code">
                                        <md-option ng-value="x.group.code" ng-repeat="x in mainFoodGroups">
                                            <md-checkbox ng-checked="x.group.code==myFood.foodGroup.code" class="md-primary" aria-label="serv">{{x.group.title | translate}}</md-checkbox>
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div class="col-sm-2">
                                <div layout-gt-sm="row">
                                    <md-input-container ng-if="myFood.foodGroup.code == 'C' || myFood.foodGroup.code == 'MF' || myFood.foodGroup.code == 'PM'">
                                        <label>{{'cereals' | translate}} {{'serv' | translate}}.</label>
                                        <input ng-model="myFood.servings.cerealsServ" type="number" step="0.1" min="0.1">
                                    </md-input-container>
                                    <md-input-container ng-if="myFood.foodGroup.code == 'V' || myFood.foodGroup.code == 'PM'">
                                        <label>{{'vegetables' | translate}} {{'serv' | translate}}.</label>
                                        <input ng-model="myFood.servings.vegetablesServ" type="number" step="0.1" min="0.1">
                                    </md-input-container>
                                    <md-input-container ng-if="myFood.foodGroup.code == 'F' || myFood.foodGroup.code == 'PM'">
                                        <label>{{'fruit' | translate}} {{'serv' | translate}}.</label>
                                        <input ng-model="myFood.servings.fruitServ" type="number" step="0.1" min="0.1">
                                    </md-input-container>
                                    <md-input-container ng-if="myFood.foodGroup.code == 'M'  || myFood.foodGroup.code == 'MF' || myFood.foodGroup.code == 'PM'">
                                        <label>{{'meat' | translate}} {{'serv' | translate}}.</label>
                                        <input ng-model="myFood.servings.meatServ" type="number" step="0.1" min="0.1">
                                    </md-input-container>
                                    <md-input-container ng-if="myFood.foodGroup.code == 'MI' || myFood.foodGroup.code == 'PM'">
                                        <label>{{'milk' | translate}} {{'serv' | translate}}.</label>
                                        <input ng-model="myFood.servings.milkServ" type="number" step="0.1" min="0.1">
                                    </md-input-container>
                                    <md-input-container ng-if="myFood.foodGroup.code == 'FA' || myFood.foodGroup.code == 'PM'">
                                        <label>{{'fats' | translate}} {{'serv' | translate}}.</label>
                                        <input ng-model="myFood.servings.fatsServ" type="number" step="0.1" min="0.1">
                                    </md-input-container>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div ng-if="myFood.foodGroup.code !='OF' && myFood.foodGroup.code != null">
                                    <div class="alert alert-success">
                                        <ul>
                                            <li ng-if="myFood.foodGroup.code == 'C' || myFood.foodGroup.code == 'MF' || myFood.foodGroup.code == 'PM'">1 serviranje žitarica je 1/2 šalice žitarica/sjemenki/tjestenine/škrobnog povrća, 30 g kruha i sl.</li>
                                            <li ng-if="myFood.foodGroup.code == 'V' || myFood.foodGroup.code == 'PM'">1 serviranje povrća je 1/2 šalice kuhanog povrća, 1/2 šalice povrtnog soka ili 1 šalicu sirovog povrća.</li>
                                            <li ng-if="myFood.foodGroup.code == 'F' || myFood.foodGroup.code == 'PM'">1 serviranje voća je 1 mali do srednje velik komad voća, 1/2 šalice svježeg/konzerviranog voća/voćnog soka, 1/4 šalice osušenog voća.</li>
                                            <li ng-if="myFood.foodGroup.code == 'M' || myFood.foodGroup.code == 'MF' || myFood.foodGroup.code == 'PM'">1 serviranje mesa je 30 g mesa, piletine ili sira te 1/2  šalice graha (meso, piletina i grah se mjere termićki obrađeni).</li>
                                            <li ng-if="myFood.foodGroup.code == 'MI' || myFood.foodGroup.code == 'PM'">1 serviranje mlijeka i mliječnih proizvoda je 1 šalica mlijeka, 2/3 šalice jogurta (250 ml mlijeka, 180 g jogurta).</li>
                                            <li ng-if="myFood.foodGroup.code == 'FA' || myFood.foodGroup.code == 'PM'">1 serviranje masti je 1 čajna žlićica maslaca/margarina/biljnog ulja, 1 jušnu žlicu salatnog preljeva.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h5 class="text-uppercase">{{'macronutrients' | translate}}</h5>
                    <div>
                        <div layout-gt-sm="row">
                            <md-input-container>
                                <label>{{'mass' | translate}} (g)</label>
                                <input ng-model="myFood.mass" type="number" step="0.1" min="0.1" required>
                            </md-input-container>
                            <md-input-container>
                                <label>{{'energy' | translate}} (kcal)</label>
                                <input ng-model="myFood.energy" type="number" step="0.1" min="0.1" required>
                            </md-input-container>
                            <md-input-container>
                                <label>{{'carbohydrates' | translate}} (g)</label>
                                <input ng-model="myFood.carbohydrates" type="number" step="0.1" min="0" required>
                            </md-input-container>
                            <md-input-container>
                                <label>{{'proteins' | translate}} (g)</label>
                                <input ng-model="myFood.proteins" type="number" step="0.1" min="0" required>
                            </md-input-container>
                            <md-input-container>
                                <label>{{'fats' | translate}} (g)</label>
                                <input ng-model="myFood.fats" type="number" step="0.1" min="0" required>
                            </md-input-container>
                        </div>
                    </div>
                    <h5 class="text-uppercase">{{'parameters' | translate}}</h5>
                    <div>
                        <div class="alert alert-warning">
                            <i class="fa fa-exclamation-triangle"></i>
                            {{'If the value of a particular parameter is unknown, leave zero' | translate}}.
                        </div>
                        <div layout-gt-sm="row">
                            <md-input-container>
                                <label>{{'starch' | translate}} (g)</label>
                                <input ng-model="myFood.starch" type="number" step="0.1" min="0">
                            </md-input-container>
                            <md-input-container>
                                <label>{{'total sugar' | translate}} (g)</label>
                                <input ng-model="myFood.totalSugar" type="number" step="0.1" min="0">
                            </md-input-container>
                            <md-input-container>
                                <label>{{'glucose' | translate}} (g)</label>
                                <input ng-model="myFood.glucose" type="number" step="0.1" min="0">
                            </md-input-container>
                            <md-input-container>
                                <label>{{'fructose' | translate}} (g)</label>
                                <input ng-model="myFood.fructose" type="number" step="0.1" min="0">
                            </md-input-container>
                            <md-input-container>
                                <label>{{'saccharose' | translate}} (g)</label>
                                <input ng-model="myFood.saccharose" type="number" step="0.1" min="0">
                            </md-input-container>
                        </div>
                        <div layout-gt-sm="row">
                            <md-input-container>
                                <label>{{'maltose' | translate}} (g)</label>
                                <input ng-model="myFood.maltose" type="number" step="0.1" min="0">
                            </md-input-container>
                            <md-input-container>
                                <label>{{'lactose' | translate}} (g)</label>
                                <input ng-model="myFood.lactose" type="number" step="0.1" min="0">
                            </md-input-container>
                            <md-input-container>
                                <label>{{'fibers' | translate}} (g)</label>
                                <input ng-model="myFood.fibers" type="number" step="0.1" min="0">
                            </md-input-container>
                            <md-input-container>
                                <label>{{'saturated fats' | translate}} (g)</label>
                                <input ng-model="myFood.saturatedFats" type="number" step="0.1" min="0">
                            </md-input-container>
                            <md-input-container>
                                <label>{{'mono u/f' | translate}} (g)</label>
                                <input ng-model="myFood.monounsaturatedFats" type="number" step="0.1" min="0">
                            </md-input-container>
                        </div>
                        <div layout-gt-sm="row">
                            <md-input-container>
                                <label>{{'poly u/f' | translate}} (g)</label>
                                <input ng-model="myFood.polyunsaturatedFats" type="number" step="0.1" min="0">
                            </md-input-container>
                            <md-input-container>
                                <label>{{'trifluoroacetic acid' | translate}} (g)</label>
                                <input ng-model="myFood.trifluoroaceticAcid" type="number" step="0.1" min="0">
                            </md-input-container>
                            <md-input-container>
                                <label>{{'cholesterol' | translate}} (mg)</label>
                                <input ng-model="myFood.cholesterol" type="number" step="0.1" min="0">
                            </md-input-container>
                            <md-input-container>
                                <label>{{'sodium' | translate}} (mg)</label>
                                <input ng-model="myFood.sodium" type="number" step="0.1" min="0">
                            </md-input-container>
                            <md-input-container>
                                <label>{{'potassium' | translate}} (mg)</label>
                                <input ng-model="myFood.potassium" type="number" step="0.1" min="0">
                            </md-input-container>
                        </div>
                        <div layout-gt-sm="row">
                            <md-input-container>
                                <label>{{'calcium' | translate}} (mg)</label>
                                <input ng-model="myFood.calcium" type="number" step="0.1" min="0">
                            </md-input-container>
                            <md-input-container>
                                <label>{{'magnesium' | translate}} (mg)</label>
                                <input ng-model="myFood.magnesium" type="number" step="0.1" min="0">
                            </md-input-container>
                            <md-input-container>
                                <label>{{'phosphorus' | translate}} (mg)</label>
                                <input ng-model="myFood.phosphorus" type="number" step="0.1" min="0">
                            </md-input-container>
                            <md-input-container>
                                <label>{{'iron' | translate}} (mg)</label>
                                <input ng-model="myFood.iron" type="number" step="0.1" min="0">
                            </md-input-container>
                            <md-input-container>
                                <label>{{'copper' | translate}} (mg)</label>
                                <input ng-model="myFood.copper" type="number" step="0.1" min="0">
                            </md-input-container>
                        </div>
                        <div layout-gt-sm="row">
                            <md-input-container>
                                <label>{{'zinc' | translate}} (mg)</label>
                                <input ng-model="myFood.zinc" type="number" step="0.1" min="0">
                            </md-input-container>
                            <md-input-container>
                                <label>{{'chlorine' | translate}} (mg)</label>
                                <input ng-model="myFood.chlorine" type="number" step="0.1" min="0">
                            </md-input-container>
                            <md-input-container>
                                <label>{{'manganese' | translate}} (mg)</label>
                                <input ng-model="myFood.manganese" type="number" step="0.1" min="0">
                            </md-input-container>
                            <md-input-container>
                                <label>{{'selenium' | translate}} (<span>&#181;</span>g)</label>
                                <input ng-model="myFood.selenium" type="number" step="0.1" min="0">
                            </md-input-container>
                            <md-input-container>
                                <label>{{'iodine' | translate}} (<span>&#181;</span>g)</label>
                                <input ng-model="myFood.iodine" type="number" step="0.1" min="0">
                            </md-input-container>
                        </div>
                        <div layout-gt-sm="row">
                            <md-input-container>
                                <label>{{'retinol' | translate}} (<span>&#181;</span>g)</label>
                                <input ng-model="myFood.retinol" type="number" step="0.1" min="0">
                            </md-input-container>
                            <md-input-container>
                                <label>{{'carotene' | translate}} (<span>&#181;</span>g)</label>
                                <input ng-model="myFood.carotene" type="number" step="0.1" min="0">
                            </md-input-container>
                            <md-input-container>
                                <label>{{'vitamin D' | translate}} (<span>&#181;</span>g)</label>
                                <input ng-model="myFood.vitaminD" type="number" step="0.1" min="0">
                            </md-input-container>
                            <md-input-container>
                                <label>{{'vitamin E' | translate}} (mg)</label>
                                <input ng-model="myFood.vitaminE" type="number" step="0.1" min="0">
                            </md-input-container>
                            <md-input-container>
                                <label>{{'vitamin B1' | translate}} (mg)</label>
                                <input ng-model="myFood.vitaminB1" type="number" step="0.1" min="0">
                            </md-input-container>
                        </div>
                        <div layout-gt-sm="row">
                            <md-input-container>
                                <label>{{'vitamin B2' | translate}} (mg)</label>
                                <input ng-model="myFood.vitaminB2" type="number" step="0.1" min="0">
                            </md-input-container>
                            <md-input-container>
                                <label>{{'vitamin B3' | translate}} (mg)</label>
                                <input ng-model="myFood.vitaminB3" type="number" step="0.1" min="0">
                            </md-input-container>
                            <md-input-container>
                                <label>{{'vitamin B6' | translate}} (mg)</label>
                                <input ng-model="myFood.vitaminB6" type="number" step="0.1" min="0">
                            </md-input-container>
                            <md-input-container>
                                <label>{{'vitamin B12' | translate}} (<span>&#181;</span>g)</label>
                                <input ng-model="myFood.vitaminB12" type="number" step="0.1" min="0">
                            </md-input-container>
                            <md-input-container>
                                <label>{{'folate' | translate}} (<span>&#181;</span>g)</label>
                                <input ng-model="myFood.folate" type="number" step="0.1" min="0">
                            </md-input-container>
                        </div>
                        <div layout-gt-sm="row">
                            <md-input-container>
                                <label>{{'pantothenic acid' | translate}} (mg)</label>
                                <input ng-model="myFood.pantothenicAcid" type="number" step="0.1" min="0">
                            </md-input-container>
                            <md-input-container>
                                <label>{{'biotin' | translate}} (mg)</label>
                                <input ng-model="myFood.biotin" type="number" step="0.1" min="0">
                            </md-input-container>
                            <md-input-container>
                                <label>{{'vitamin C' | translate}} (mg)</label>
                                <input ng-model="myFood.vitaminC" type="number" step="0.1" min="0">
                            </md-input-container>
                            <md-input-container>
                                <label>{{'vitamin k' | translate}} (<span>&#181;</span>g)</label>
                                <input ng-model="myFood.vitaminK" type="number" step="0.1" min="0">
                            </md-input-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel text-center">
            <a href="" class="btn btn-primary" ng-click="save(myFood)"><i class="fa fa-floppy-o"></i> <span>{{'save' | translate}}</span></a>
        </div>
    </div>

    <div ng-if="config.debug" class="bg-info debugBox">
        my food:
        <pre>{{myFood | json}}</pre>

        <pre>{{mainFoodGroups}}</pre>
    </div>
</div>

