<div class="mt20">
    <div class="alert alert-info alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <h4>Novo u verziji {{config.version}} od {{config.date}}:</h4>
        <div>
            <em>Osvježite aplikaciju pritiskom tipke <kbd>CTRL + F5</kbd></em>
        </div>
        <div>
            <div class="p10">
                <label>1. Izrada tjednih jelovnika je prebačena iz prozora "ISPIS" u prozor "JELOVNIK"</label>
            </div>
            <div class="p10">
                <img src="./assets/img/newversion/weeklymenu.png" class="img-responsive center-block" style="max-height:400px" />
            </div>
        </div>
        <div>
            <div class="p10">
                <label>2. Ispis jelovnika u PDF formatu je prebačen iz prozora "ISPIS" u prozor "JELOVNIK"</label>
            </div>
            <div class="p10">
                <img src="./assets/img/newversion/printmenu.png" class="img-responsive center-block" style="max-height:400px" />
            </div>
        </div>
        


        
    </div>
</div>