<div style="margin-top:40px">
    <div class="alert alert-info alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <h3>NOVA VERZIJA</h3>
        <em>{{config.date}}</em>
        <div>
            <em><i class="fa fa-info-circle fa-2x"></i> Obavezno osvježite aplikaciju pritiskom na tipke <kbd>CTRL + F5</kbd> ili u Web browseru kliknite na <strong>Reload</strong></em>
            <div class="p10">
                <img src="./assets/img/newversion/reload.png" class="img-responsive center-block" />
            </div>
        </div>
        <hr />
        <h3>Što je novo u verziji {{config.version}}</h3>
        <div>
            <div>
                <div class="p10">
                    <label>1. Unos decimalnih brojeva.</label>
                    Od sada kao decimalni razdjelnik osim točke možete koristiti i zarez. <br />
                    To se odnosi na sva polja u koja je moguće unositi decimalne brojeve (atropometrijski parametri, količine namirnica, moje namirnice itd.) <br />
                </div>
                <div class="p10">
                    <img src="./assets/img/newversion/decimalpoint.png" class="img-responsive center-block" />
                </div>
            </div>
        </div>

        <!--<div>
            <div>
                <div class="p10">
                    <label>1. Izmjene u dizajnu prozora "JELOVNIK"</label>
                    (novi raspored grafova)
                </div>
                <div class="p10">
                    <img src="./assets/img/newversion/analysis1.png" class="img-responsive center-block" />
                </div>
            </div>
            <div>
                <div class="p10">
                    <label>2. Novi prozor "ANALIZA"</label>
                    (parametri jelovnika prebačeni iz prozora "JELOVNIK" u novi prozor "ANALIZA")
                </div>
                <div class="p10">
                    <img src="./assets/img/newversion/analysis2.png" class="img-responsive center-block" />
                </div>
            </div>
            <div>
                <div class="p10">
                    <label>3. Izmjene u prozoru "MOJE NAMIRNICE"</label>
                    (lista "Mojih Namirnica" je stavljena u skočni prozor (POPUP))
                </div>
                <div class="p10">
                    <img src="./assets/img/newversion/myfoods.png" class="img-responsive center-block" />
                </div>
            </div>
            <div>
                <div class="p10">
                    <label>4. Izmjene u prozoru "MOJI RECEPTI"</label>
                    (Dodano novo dugme za editiranje namirnice unesene u recept)
                </div>
                <div class="p10">
                    <img src="./assets/img/newversion/myrecipeedit.png" class="img-responsive center-block" />
                </div>
            </div>
        </div>-->
        <!--<div>
            <div>
                <div class="p10">
                    <label>1. Proširena baza namirnica</label>
                    (samo za korisnike STANDARD i PREMIUM paket)
                </div>
            </div>
            <div>
                <div class="p10">
                    <label>2. Poboljšane performanse</label>
                </div>
            </div>
            <div>
                <div class="p10">
                    <label>3. Ispravak BUG-a</label>
                    (Praćenje antropometrijskih parametara. Prvo očitanje u tablici.)
                </div>
            </div>
            <div>
                <div class="p10">
                    <label>4. Sitni ispravci u prijevodu</label>
                </div>
            </div>
        </div>-->
        <!--<div>
            <div class="p10">
                <label>1. Kopiranje jelovnika u Word</label>
                (pogledaj video)
            </div>
            <div class="p10">
                <iframe style="width:100%" height="325" src="https://www.youtube.com/embed/gY7lb5QrrYI" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div>
            <div class="p10">
                <label>2. Praćenje antropometrijskih parametara</label>
                <p>U tabličnom prikazu je dodana vrijednost i smjer prirasta tjelesne mase, opsega struka i opsega bokova.</p>
            </div>
            <div class="p10">
                <img src="./assets/img/newversion/clientlogdiff.png" class="img-responsive center-block" />
            </div>
        </div>-->
        <!--<div>
            <div class="p10">
                <label>1. U ispis podataka o klijentu dodan graf (praćenje antropometrijskih parametara)</label>
            </div>
            <div class="p10">
                <img src="./assets/img/newversion/clientlog.png" class="img-responsive center-block" style="max-height:400px" />
            </div>
            <div class="p10">
                <img src="./assets/img/newversion/clientlogpdf.png" class="img-responsive center-block" />
            </div>
        </div>-->
        <!--<div>
            <div class="p10">
                <label>1. Izbačen je prozor "ISPIS". Ispis jelovnika u PDF je prebačen iz prozora "ISPIS" u prozor "JELOVNIK"</label>
            </div>
            <div class="p10">
                <img src="./assets/img/newversion/printmenu.png" class="img-responsive center-block" style="max-height:400px" />
            </div>
        </div>
        <div>
            <div class="p10">
                <label>2. Ispis tjednih jelovnika u PDF formatu je prebačen iz prozora "ISPIS" u prozor "JELOVNIK / Tjedni Jelovnik"</label>
            </div>
            <div class="p10">
                <img src="./assets/img/newversion/printweeklymenu.png" class="img-responsive center-block" style="max-height:400px" />
            </div>
        </div>
        <div>
            <div class="p10">
                <label>3. Ispis podataka o klijentu u PDF formatu je prebačen iz prozora "ISPIS" u prozor "KLIJENT"</label>
            </div>
            <div class="p10">
                <img src="./assets/img/newversion/printclient.png" class="img-responsive center-block" style="max-height:400px" />
            </div>
        </div>-->



    </div>
    </div>
</div>