<div style="margin-top:40px">
    <div class="alert alert-info alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <h3>NOVA VERZIJA</h3>
        <em>{{config.date}}</em>
        <div>
            <em><i class="fa fa-info-circle"></i> Osvježite aplikaciju pritiskom na tipku <kbd>F5</kbd></em>
        </div>
        <hr />
        <h3>Što je novo u verziji {{config.version}}</h3>
        <div>
            <div class="p10">
                <label>1. U ispis podataka o klijentu dodan graf (praćenje antropometrijskih parametara)</label>
            </div>
            <div class="p10">
                <img src="./assets/img/newversion/clientlog.png" class="img-responsive center-block" style="max-height:400px" />
            </div>
            <div class="p10">
                <img src="./assets/img/newversion/clientlogpdf.png" class="img-responsive center-block" />
            </div>
        </div>
        

        <!--<div>
            <div class="p10">
                <label>1. Izbačen je prozor "ISPIS". Ispis jelovnika u PDF je prebačen iz prozora "ISPIS" u prozor "JELOVNIK"</label>
            </div>
            <div class="p10">
                <img src="./assets/img/newversion/printmenu.png" class="img-responsive center-block" style="max-height:400px" />
            </div>
        </div>
        <div>
            <div class="p10">
                <label>2. Ispis tjednih jelovnika u PDF formatu je prebačen iz prozora "ISPIS" u prozor "JELOVNIK / Tjedni Jelovnik"</label>
            </div>
            <div class="p10">
                <img src="./assets/img/newversion/printweeklymenu.png" class="img-responsive center-block" style="max-height:400px" />
            </div>
        </div>
        <div>
            <div class="p10">
                <label>3. Ispis podataka o klijentu u PDF formatu je prebačen iz prozora "ISPIS" u prozor "KLIJENT"</label>
            </div>
            <div class="p10">
                <img src="./assets/img/newversion/printclient.png" class="img-responsive center-block" style="max-height:400px" />
            </div>
        </div>-->
        


        
    </div>
</div>