<div id="orderform" ng-controller="orderCtrl">
    <div class="well text-left">
        <a href="" class="btn btn-default pull-right text-capitalize" ng-click="toggleTpl('login.html')"><i class="fa fa-times"></i><span class="hidden-xs"> {{'cancel' | translate}}</span></a>
        <h4 class="text-uppercase">{{'order' | translate}}</h4>
        <hr />
        <div ng-if="!showAlert">
            <div ng-if="!showUserDetails">
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>{{'user name' | translate}}</label>
                        <input ng-model="user.userName" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" type="text" required />
                    </md-input-container>
                </div>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>{{'password' | translate}}</label>
                        <input ng-model="user.password" type="password" required />
                    </md-input-container>
                </div>
                <div class="text-right">
                    <a href="" class="btn btn-primary" ng-click="login(user.userName, user.password)">{{'next' | translate}} <i class="fa fa-angle-double-right"></i></a>
                </div>
                <div class="text-left text-capitalize">
                     <a href="#app" ng-click="registration()">{{'create your account' | translate}}</a>
                </div>
            </div>
            <div ng-if="showErrorAlert" class="alert alert-danger">
                <strong>{{errorMesage}}</strong>
            </div>
                <div class="row m2">
                    <div class="col-sm-2 text-right text-capitalize">{{'package' | translate}}: </div>
                    <div class="col-sm-6">
                        <select ng-model="user.userType" class="form-control" ng-change="calculatePrice()">
                            <option ng-value="0" ng-selected="user.userType==0?true:false">START</option>
                            <option ng-value="1" ng-selected="user.userType==1?true:false">STANDARD</option>
                            <option ng-value="2" ng-selected="user.userType==2?true:false">PREMIUM</option>
                        </select>
                    </div>
                </div>
                <div class="row m2">
                    <div class="col-sm-2 text-right text-capitalize">{{'subscribe' | translate}}: </div>
                    <div class="col-sm-6">
                        <select ng-model="user.licence" class="form-control" ng-change="calculatePrice()">
                            <option value="1" ng-selected="user.licence==1?true:false">{{'1 year' | translate}}</option>
                            <option value="2" ng-selected="user.licence==2?true:false">{{'2 years' | translate}} (-20%)</option>
                        </select>
                    </div>
                </div>
                <div class="row m2">
                    <div class="col-sm-2 text-right text-capitalize"><h3>{{'price' | translate}}: </h3></div>
                    <div class="col-sm-6">
                        <h3 ng-if="config.language!='en'" class="lead">{{user.price}} kn ({{user.priceEur | number:2}} €)</h3>
                        <h3 ng-if="config.language=='en'" class="lead">{{user.price / config.usd | number:2}} €</h3>
                    </div>
                </div>
            <hr />
            <div ng-if="showUserDetails">
                <div>
                    <label class="radio-inline">
                        <input ng-model="userType" value="0" type="radio" name="usertype" ng-change="changeUserType(0)"><span class="text-capitalize">{{'natural person' | translate}}</span>
                    </label>
                    <label class="radio-inline">
                        <input ng-model="userType" value="1" type="radio" name="usertype" ng-change="changeUserType(1)"><span class="text-capitalize">{{'legal person' | translate}}</span>
                    </label>
                </div>
                <div class="text-left mt20">
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>{{'first name' | translate}}</label>
                            <input ng-model="user.firstName" type="text" required>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>{{'last name' | translate}}</label>
                            <input ng-model="user.lastName" type="text" required>
                        </md-input-container>
                    </div>
                    <div ng-if="userType==1" layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>{{'company' | translate}}</label>
                            <input ng-model="user.companyName" type="text" required>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label class="text-uppercase">{{'pin' | translate}}</label>
                            <input ng-model="user.pin" type="text" required>
                        </md-input-container>
                    </div>
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>{{'address' | translate}}</label>
                            <input ng-model="user.address" type="text" required>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>{{'postal code' | translate}}</label>
                            <input ng-model="user.postalCode" type="text" required>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>{{'city' | translate}}</label>
                            <input ng-model="user.city" type="text" required>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>{{'country' | translate}}</label>
                            <input ng-model="user.country" type="text" required>
                        </md-input-container>
                    </div>
                    <div class="text-right">
                        <a href="" class="btn btn-primary text-capitalize" ng-disabled="isSendButtonDisabled" ng-click="sendOrder(user)">{{sendicontitle}} <span ng-class="sendicon"></span></a>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="showAlert" class="alert alert-success">
            <strong><span class="fa fa-smile-o fa-lg"></span> {{'the order have been sent successfully' | translate}}</strong>
            <p>{{'your account will be active within 24 hours of your payment or after you send payment confirmation on email' | translate}}: <strong><a href="{{config.language=='en'?config.email_en:config.email}}"><span class="fa fa-envelope-o"></span> {{config.language=='en'?config.email_en:config.email}}</a></strong></p>
        </div>

        <div ng-if="showPaymentDetails" class="well text-left">
            <div ng-if="config.language!='en'">
                <b>{{'payment details' | translate}}:</b>
                <div>
                    <pre>
<span class="text-uppercase">{{'iban' | translate}}</span>: HR84 2340 0091 1603 4249 6
<span class="text-capitalize">{{'bank' | translate}}</span>: Privredna banka Zagreb d.d., Račkoga 6, 10000 Zagreb, {{config.language=='en'?'Croatia':'Hrvatska'}}
<span class="text-capitalize">{{'recipient' | translate}}</span>: IG PROG, vl. Igor Gašparović
<span class="text-capitalize">adresa</span>: Ludvetov breg 5, 51000 Rijeka, {{config.language=='en'?'Croatia':'Hrvatska'}}
<span class="text-capitalize">{{'payment description' | translate}}</span>: {{user.application}} {{user.version}}
<span class="text-capitalize">{{'amount' | translate}}</span>: <span>{{user.price}}</span> kn
Model: <span ng-if="user.pin">HR00</span><span ng-if="!user.pin">HR99</span>
<span ng-if="user.pin">Poziv na broj: {{user.pin}}</span> 
                    </pre>
                </div>
                <b>Podaci za uplatu izvan Hrvatske:</b>
                <div>
                    <pre>
IBAN računa: HR84 2340 0091 1603 4249 6
SWIFT CODE: PBZGHR2X
{{'amount' | translate}}: <span>{{user.priceEur | number:2}}</span> €
            </pre>
                </div>
            </div>
            <div ng-if="config.language=='en'">
                <b class="text-capitalize">{{'payment details' | translate}}:</b>
                <div>
                    <pre>
<span class="text-uppercase">{{'iban' | translate}}</span>: HR84 2340 0091 1603 4249 6
<span class="text-uppercase">swift code</span>: PBZGHR2X
<span class="text-capitalize">{{'bank' | translate}}</span>: Privredna banka Zagreb d.d., Račkoga 6, 10000 Zagreb, {{config.language=='en'?'Croatia':'Hrvatska'}}
<span class="text-capitalize">{{'recipient' | translate}}</span>: IG PROG, vl. Igor Gašparović
<span class="text-capitalize">{{'address' | translate}}</span>: Ludvetov breg 5, 51000 Rijeka, {{config.language=='en'?'Croatia':'Hrvatska'}}
<span class="text-capitalize">{{'payment description' | translate}}</span>: {{user.application}} {{user.version}}
<span class="text-capitalize">{{'amount' | translate}}</span>: <span>{{(user.price / config.usd) | number:2}}</span> $
                    </pre>
                </div>
            </div>
            <div ng-if="config.language!='en'" ng-include="'./assets/partials/paypal.html'"></div>
            <div ng-if="config.language=='en'" ng-include="'./assets/partials/paypal_usd.html'"></div>
        </div>

        <div ng-if="showPaymentDetails" class="text-center">
            <a href="{{config.appurl}}" target="_blank" class="btn btn-primary btn-lg text-capitalize">
                <i class="fa fa-sign-in"></i> {{'back to app' | translate}}
            </a>
        </div>
    </div>

    <pre ng-if="config.debug">{{user | json}}</pre>

</div>