    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="5ZLLUV8H6YW3A">
        <table class="m10">
            <tr><td><input type="hidden" name="on0" value="Program Prehrane Web">Program Prehrane Web (Web aplikacija)</td></tr>
            <tr>
                <td>
                    <select name="os0" class="form-control">
                        <option value="START (1 godina)">START (1 godina) €74.32 EUR</option>
                        <option value="START (2 godine)">START (2 godine) €118.92 EUR</option>
                        <option value="STANDARD (1 godina)">STANDARD (1 godina) €128.38 EUR</option>
                        <option value="STANDARD (2 godine)">STANDARD (2 godine) €205.41 EUR</option>
                        <option value="PREMIUM (1 godina)">PREMIUM (1 godina) €250.00 EUR</option>
                        <option value="PREMIUM (2 godine)">PREMIUM (2 godine) €391.89 EUR</option>
                    </select>
                </td>
            </tr>
        </table>
        <input type="hidden" name="currency_code" value="EUR">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
