<div ng-controller="printCtrl">
    <div class="panel panel-default">
        <div class="panel-heading noprint">
            <a href="" ng-click="printWindow()" class="btn btn-default hidden-xs"><span class="text-success"><i class="fa fa-print"></i> <span class="hidden-xs text-capitalize">{{'print' | translate}} (Browser)</span></span></a>
            <a ng-if="printTpl!='chartsTpl' && pdfLink!=null" href="{{pdfLink}}" class="btn btn-default" download><span class="text-danger"><i class="fa fa-file-pdf-o"></i> <span>{{'PDF' | translate}}</span></span></a>
        </div>
        <div class="panel-body" style="font-size:12px">
            <div class="noprint">
                <ul class="nav nav-tabs">
                    <li ng-class="printTpl=='menuTpl'?'active':''"><a href="#" ng-click="toggleTpl('menuTpl')"><i class="fa fa-cutlery"></i> <span class="hidden-xs">{{'menu' | translate}}</span></a></li>
                    <li ng-class="printTpl=='chartsTpl'?'active':''" ng-click="toggleTpl('chartsTpl')"><a href="#"><i class="fa fa-bar-chart"></i> <span class="hidden-xs">{{'totals' | translate}}</span></a></li>
                    <li ng-class="printTpl=='clientTpl'?'active':''" ng-click="toggleTpl('clientTpl')"><a href="#"><i class="fa fa-user-o"></i> <span class="hidden-xs">{{'client data' | translate}}</span></a></li>
                </ul>
            </div>
            <div ng-include="printTpl" style="padding-top:20px"></div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="menuTpl">
    <div layout-gt-sm="row" class="noprint">
        <md-input-container>
            <label>{{'number of consumers' | translate}}</label>
            <input ng-model="consumers" type="number" min="1" ng-change="changeNumberOfConsumers(consumers)">
        </md-input-container>
        <md-input-container>
            <label>{{'font size' | translate}}</label>
            <input ng-model="fontsize" type="number" min="8" ng-change="changeFontSize(fontsize)">
        </md-input-container>
    </div>
    <div ng-style="fs">
        <strong>{{currentMenu.title}}</strong>
        <p>{{currentMenu.note}}</p>
        <p ng-if="consumers > 1">{{'number of consumers' | translate}}: <strong>{{consumers}}</strong></p>
        <hr />
        <div ng-if="x.isSelected" ng-repeat="x in currentMenu.data.meals track by $index">
            <label class="text-uppercase">{{x.title}}</label>
            <div ng-if="x.description">
                <em class="text-justify">{{x.description}}</em>
            </div>
            <div id="sortable_{{$index}}" class="p10">
                <p ng-if="y.meal.code==x.code" class="print-item" ng-repeat="y in foods track by $index" title="{{'click and move' | translate}}">- {{y.food | translate}}, {{y.quantity}} {{y.unit | translate}}, ({{y.mass}} g)</p>
            </div>
            <hr />
        </div>
        <div>
            <label><span class="text-uppercase">{{'total' | translate}}</span><span ng-if="consumers > 1"> ({{'per consumer' | translate}})</span>:</label>
            <p>{{'energy' | translate}}: <span>{{totals.energy}} kcal</span></p>
            <p>{{'carbohydrates' | translate}}: <span>{{totals.carbohydrates | number:1}} g, ({{totals.carbohydratesPercentage | number:1}} %)</span></p>
            <p>{{'proteins' | translate}}: <span>{{totals.proteins | number:1}} g, ({{totals.proteinsPercentage | number:1}} %)</span></p>
            <p>{{'fats' | translate}}: <span>{{totals.fats | number:1}} g, ({{totals.fatsPercentage | number:1}} %)</span></p>
        </div>
        <div ng-if="totals.price.value>0">
            <hr />
            <label>{{'price' | translate}}: <span>{{totals.price.value * consumers | number:2}} {{config.currency}} </span></label>
        </div>
        <div ng-if="clientData.activities.length > 0">
            <hr class="bold" />
            <label>{{'additional activity' | translate}}</label>
            <div class="p10">
                <p ng-repeat="x in clientData.activities">{{x.activity}}, {{x.duration}} min ({{x.energy | number:0}} kcal)</p>
            </div>
            <hr />
        </div>
    </div>
    <div ng-if="config.debug" class="bg-info">
        foods:
        <pre>{{foods | json}}</pre>
        currentMenu:
        <pre>{{currentMenu | json}}</pre>
    </div>
</script>

<script type="text/ng-template" id="chartsTpl">
    <div ng-style="fs">
        <h3>{{currentMenu.title}}</h3>
        <h3>{{'total values' | translate}}</h3>
        <div>
            <div style="width:50%">
                <table class="table table-condensed text-small">
                    <tr>
                        <th></th>
                        <th>{{'choosen' | translate}}</th>
                        <th>{{'recommended' | translate}}</th>
                    </tr>
                    <tr>
                        <td>{{'energy' | translate}}</td>
                        <td class="novrap text-bold">{{totals.energy | number:1}} kcal</td>
                        <td class="novrap">{{calculation.recommendedEnergyIntake}} kcal</td>
                    </tr>
                    <tr>
                        <td>{{'carbohydrates' | translate}}</td>
                        <td class="novrap text-bold">{{totals.carbohydrates | number:1}} g, ({{totals.carbohydratesPercentage | number:1}} %)</td>
                        <td class="novrap">{{recommendations.carbohydratesPercentageMin | number:1}}-{{recommendations.carbohydratesPercentageMax | number:1}}%</td>
                    </tr>
                    <tr>
                        <td>{{'proteins' | translate}}</td>
                        <td class="novrap text-bold">{{totals.proteins | number:1}} g, ({{totals.proteinsPercentage | number:1}} %)</td>
                        <td class="novrap">{{recommendations.proteinsPercentageMin | number:1}}-{{recommendations.proteinsPercentageMax | number:1}}%</td>
                    </tr>
                    <tr>
                        <td>{{'fats' | translate}}</td>
                        <td class="novrap text-bold">{{totals.fats | number:1}} g, ({{totals.fatsPercentage | number:1}} %)</td>
                        <td class="novrap">{{recommendations.fatsPercentageMin | number:1}}-{{recommendations.fatsPercentageMax | number:1}}%</td>
                    </tr>
                </table>
            </div>
        </div>
        <div>
            <div style="width:50%">
                <label>{{'unit servings' | translate}}</label>
                <table class="table table-condensed text-small">
                    <tr>
                        <th></th>
                        <th>{{'choosen' | translate}}</th>
                        <th>{{'recommended' | translate}}</th>
                    </tr>
                    <tr>
                        <td>{{'cereals' | translate}}</td>
                        <td class="text-bold">{{totals.servings.cerealsServ}}</td>
                        <td>{{recommendations.servings.cerealsServ}}</td>
                    </tr>
                    <tr>
                        <td>{{'vegetables' | translate}}</td>
                        <td class="text-bold">{{totals.servings.vegetablesServ}}</td>
                        <td>{{recommendations.servings.vegetablesServ}}</td>
                    </tr>
                    <tr>
                        <td>{{'fruit' | translate}}</td>
                        <td class="text-bold">{{totals.servings.fruitServ}}</td>
                        <td>{{recommendations.servings.fruitServ}}</td>
                    </tr>
                    <tr>
                        <td>{{'meat' | translate}}</td>
                        <td class="text-bold">{{totals.servings.meatServ}}</td>
                        <td>{{recommendations.servings.meatServ}}</td>
                    </tr>
                    <tr>
                        <td>{{'milk' | translate}}</td>
                        <td class="text-bold">{{totals.servings.milkServ}}</td>
                        <td>{{recommendations.servings.milkServ}}</td>
                    </tr>
                    <tr>
                        <td>{{'fats' | translate}}</td>
                        <td class="text-bold">{{totals.servings.fatsServ}}</td>
                        <td>{{recommendations.servings.fatsServ}}</td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                    </tr>
                    <tr>
                        <th></th>
                        <th>{{'choosen' | translate}}</th>
                        <th>{{'acceptable' | translate}}</th>
                    </tr>
                    <tr>
                        <td>{{'other foods' | translate}}</td>
                        <td class="text-bold">{{totals.servings.otherFoodsEnergy | number:1}} kcal</td>
                        <td>{{recommendations.servings.otherFoodsEnergy | number:1}} kcal</td>
                    </tr>
                </table>
            </div>
            <div style="width:50%">
                <label>{{'unit servings' | translate}}</label>
                <canvas id="bar" class="chart chart-bar"
                        chart-data="servGraphData.data" chart-labels="servGraphData.labels" chart-colors="servGraphData.colors" height="150"
                        chart-series="servGraphData.series" chart-dataset-override="servGraphData.datasetOverride"></canvas>
            </div>
        </div>

        <div style="width:60%">
            <label>{{'patameters' | translate}}</label>
            <table class="table table-bordered table-condensed text-small">
                <tr>
                    <th></th>
                    <th>{{'unit' | translate}}</th>
                    <th>{{'choosen' | translate}}</th>
                    <th>{{'mda' | translate}}</th>
                    <th>{{'ui' | translate}}</th>
                    <th>{{'rda' | translate}}</th>
                </tr>
                <tr>
                    <td>{{'cereals' | translate}}</td>
                    <td>g</td>
                    <td class="text-bold">{{totals.starch}}</td>
                    <td>{{recommendations.starch.mda}}</td>
                    <td>{{recommendations.starch.ui}}</td>
                    <td>{{recommendations.starch.rda}}</td>
                </tr>
                <tr>
                    <td>{{'total sugar' | translate}}</td>
                    <td>g</td>
                    <td class="text-bold">{{totals.totalSugar}}</td>
                    <td>{{recommendations.totalSugar.mda}}</td>
                    <td>{{recommendations.totalSugar.ui}}</td>
                    <td>{{recommendations.totalSugar.rda}}</td>
                </tr>
                <tr>
                    <td>{{'glucose' | translate}}</td>
                    <td>g</td>
                    <td class="text-bold">{{totals.glucose}}</td>
                    <td>{{recommendations.glucose.mda}}</td>
                    <td>{{recommendations.glucose.ui}}</td>
                    <td>{{recommendations.glucose.rda}}</td>
                </tr>
                <tr>
                    <td>{{'fructose' | translate}}</td>
                    <td>g</td>
                    <td class="text-bold">{{totals.fructose}}</td>
                    <td>{{recommendations.fructose.mda}}</td>
                    <td>{{recommendations.fructose.ui}}</td>
                    <td>{{recommendations.fructose.rda}}</td>
                </tr>
                <tr>
                    <td>{{'saccharose' | translate}}</td>
                    <td>g</td>
                    <td class="text-bold">{{totals.saccharose}}</td>
                    <td>{{recommendations.saccharose.mda}}</td>
                    <td>{{recommendations.saccharose.ui}}</td>
                    <td>{{recommendations.saccharose.rda}}</td>
                </tr>
                <tr>
                    <td>{{'maltose' | translate}}</td>
                    <td>g</td>
                    <td class="text-bold">{{totals.maltose}}</td>
                    <td>{{recommendations.maltose.mda}}</td>
                    <td>{{recommendations.maltose.ui}}</td>
                    <td>{{recommendations.maltose.rda}}</td>
                </tr>
                <tr>
                    <td>{{'lactose' | translate}}</td>
                    <td>g</td>
                    <td class="text-bold">{{totals.lactose}}</td>
                    <td>{{recommendations.lactose.mda}}</td>
                    <td>{{recommendations.lactose.ui}}</td>
                    <td>{{recommendations.lactose.rda}}</td>
                </tr>
                <tr>
                    <td>{{'fibers' | translate}}</td>
                    <td>g</td>
                    <td class="text-bold">{{totals.fibers}}</td>
                    <td>{{recommendations.fibers.mda}}</td>
                    <td>{{recommendations.fibers.ui}}</td>
                    <td>{{recommendations.fibers.rda}}</td>
                </tr>
                <tr>
                    <td>{{'saturated fats' | translate}}</td>
                    <td>g</td>
                    <td class="text-bold">{{totals.saturatedFats}}</td>
                    <td>{{recommendations.saturatedFats.mda}}</td>
                    <td>{{recommendations.saturatedFats.ui}}</td>
                    <td>{{recommendations.saturatedFats.rda}}</td>
                </tr>
                <tr>
                    <td>{{'monounsaturated fats' | translate}}</td>
                    <td>g</td>
                    <td class="text-bold">{{totals.monounsaturatedFats}}</td>
                    <td>{{recommendations.monounsaturatedFats.mda}}</td>
                    <td>{{recommendations.monounsaturatedFats.ui}}</td>
                    <td>{{recommendations.monounsaturatedFats.rda}}</td>
                </tr>
                <tr>
                    <td>{{'polyunsaturated fats' | translate}}</td>
                    <td>g</td>
                    <td class="text-bold">{{totals.polyunsaturatedFats}}</td>
                    <td>{{recommendations.polyunsaturatedFats.mda}}</td>
                    <td>{{recommendations.polyunsaturatedFats.ui}}</td>
                    <td>{{recommendations.polyunsaturatedFats.rda}}</td>
                </tr>
                <tr>
                    <td>{{'cholesterol' | translate}}</td>
                    <td>mg</td>
                    <td class="text-bold">{{totals.cholesterol}}</td>
                    <td>{{recommendations.cholesterol.mda}}</td>
                    <td>{{recommendations.cholesterol.ui}}</td>
                    <td>{{recommendations.cholesterol.rda}}</td>
                </tr>
                <tr>
                    <td>{{'sodium' | translate}}</td>
                    <td>mg</td>
                    <td class="text-bold">{{totals.sodium}}</td>
                    <td>{{recommendations.sodium.mda}}</td>
                    <td>{{recommendations.sodium.ui}}</td>
                    <td>{{recommendations.sodium.rda}}</td>
                </tr>
                <tr>
                    <td>{{'potassium' | translate}}</td>
                    <td>mg</td>
                    <td class="text-bold">{{totals.potassium}}</td>
                    <td>{{recommendations.potassium.mda}}</td>
                    <td>{{recommendations.potassium.ui}}</td>
                    <td>{{recommendations.potassium.rda}}</td>
                </tr>
                <tr>
                    <td>{{'calcium' | translate}}</td>
                    <td>mg</td>
                    <td class="text-bold">{{totals.calcium}}</td>
                    <td>{{recommendations.calcium.mda}}</td>
                    <td>{{recommendations.calcium.ui}}</td>
                    <td>{{recommendations.calcium.rda}}</td>
                </tr>
                <tr>
                    <td>{{'magnesium' | translate}}</td>
                    <td>mg</td>
                    <td class="text-bold">{{totals.magnesium}}</td>
                    <td>{{recommendations.magnesium.mda}}</td>
                    <td>{{recommendations.magnesium.ui}}</td>
                    <td>{{recommendations.magnesium.rda}}</td>
                </tr>
                <tr>
                    <td>{{'phosphorus' | translate}}</td>
                    <td>mg</td>
                    <td class="text-bold">{{totals.phosphorus}}</td>
                    <td>{{recommendations.phosphorus.mda}}</td>
                    <td>{{recommendations.phosphorus.ui}}</td>
                    <td>{{recommendations.phosphorus.rda}}</td>
                </tr>
                <tr>
                    <td>{{'iron' | translate}}</td>
                    <td>mg</td>
                    <td class="text-bold">{{totals.iron}}</td>
                    <td>{{recommendations.iron.mda}}</td>
                    <td>{{recommendations.iron.ui}}</td>
                    <td>{{recommendations.iron.rda}}</td>
                </tr>
                <tr>
                    <td>{{'copper' | translate}}</td>
                    <td>mg</td>
                    <td class="text-bold">{{totals.copper}}</td>
                    <td>{{recommendations.copper.mda}}</td>
                    <td>{{recommendations.copper.ui}}</td>
                    <td>{{recommendations.copper.rda}}</td>
                </tr>
                <tr>
                    <td>{{'zinc' | translate}}</td>
                    <td>mg</td>
                    <td class="text-bold">{{totals.zinc}}</td>
                    <td>{{recommendations.zinc.mda}}</td>
                    <td>{{recommendations.zinc.ui}}</td>
                    <td>{{recommendations.zinc.rda}}</td>
                </tr>
                <tr>
                    <td>{{'chlorine' | translate}}</td>
                    <td>mg</td>
                    <td class="text-bold">{{totals.chlorine}}</td>
                    <td>{{recommendations.chlorine.mda}}</td>
                    <td>{{recommendations.chlorine.ui}}</td>
                    <td>{{recommendations.chlorine.rda}}</td>
                </tr>
                <tr>
                    <td>{{'manganese' | translate}}</td>
                    <td>mg</td>
                    <td class="text-bold">{{totals.manganese}}</td>
                    <td>{{recommendations.manganese.mda}}</td>
                    <td>{{recommendations.manganese.ui}}</td>
                    <td>{{recommendations.manganese.rda}}</td>
                </tr>
                <tr>
                    <td>{{'selenium' | translate}}</td>
                    <td>&#956;g</td>
                    <td class="text-bold">{{totals.selenium}}</td>
                    <td>{{recommendations.selenium.mda}}</td>
                    <td>{{recommendations.selenium.ui}}</td>
                    <td>{{recommendations.selenium.rda}}</td>
                </tr>
                <tr>
                    <td>{{'iodine' | translate}}</td>
                    <td>&#956;g</td>
                    <td class="text-bold">{{totals.iodine}}</td>
                    <td>{{recommendations.iodine.mda}}</td>
                    <td>{{recommendations.iodine.ui}}</td>
                    <td>{{recommendations.iodine.rda}}</td>
                </tr>
                <tr>
                    <td>{{'retinol' | translate}}</td>
                    <td>&#956;g</td>
                    <td class="text-bold">{{totals.retinol}}</td>
                    <td>{{recommendations.retinol.mda}}</td>
                    <td>{{recommendations.retinol.ui}}</td>
                    <td>{{recommendations.retinol.rda}}</td>
                </tr>
                <tr>
                    <td>{{'carotene' | translate}}</td>
                    <td>&#956;g</td>
                    <td class="text-bold">{{totals.carotene}}</td>
                    <td>{{recommendations.carotene.mda}}</td>
                    <td>{{recommendations.carotene.ui}}</td>
                    <td>{{recommendations.carotene.rda}}</td>
                </tr>
                <tr>
                    <td>{{'vitamin D' | translate}}</td>
                    <td>&#956;g</td>
                    <td class="text-bold">{{totals.vitaminD}}</td>
                    <td>{{recommendations.vitaminD.mda}}</td>
                    <td>{{recommendations.vitaminD.ui}}</td>
                    <td>{{recommendations.vitaminD.rda}}</td>
                </tr>
                <tr>
                    <td>{{'vitamin E' | translate}}</td>
                    <td>mg</td>
                    <td class="text-bold">{{totals.vitaminE}}</td>
                    <td>{{recommendations.vitaminE.mda}}</td>
                    <td>{{recommendations.vitaminE.ui}}</td>
                    <td>{{recommendations.vitaminE.rda}}</td>
                </tr>
                <tr>
                    <td>{{'vitamin B1' | translate}}</td>
                    <td>mg</td>
                    <td class="text-bold">{{totals.vitaminB1}}</td>
                    <td>{{recommendations.vitaminB1.mda}}</td>
                    <td>{{recommendations.vitaminB1.ui}}</td>
                    <td>{{recommendations.vitaminB1.rda}}</td>
                </tr>
                <tr>
                    <td>{{'vitamin B2' | translate}}</td>
                    <td>mg</td>
                    <td class="text-bold">{{totals.vitaminB2}}</td>
                    <td>{{recommendations.vitaminB2.mda}}</td>
                    <td>{{recommendations.vitaminB2.ui}}</td>
                    <td>{{recommendations.vitaminB2.rda}}</td>
                </tr>
                <tr>
                    <td>{{'vitamin B3' | translate}}</td>
                    <td>mg</td>
                    <td class="text-bold">{{totals.vitaminB3}}</td>
                    <td>{{recommendations.vitaminB3.mda}}</td>
                    <td>{{recommendations.vitaminB3.ui}}</td>
                    <td>{{recommendations.vitaminB3.rda}}</td>
                </tr>
                <tr>
                    <td>{{'vitamin B6' | translate}}</td>
                    <td>mg</td>
                    <td class="text-bold">{{totals.vitaminB6}}</td>
                    <td>{{recommendations.vitaminB6.mda}}</td>
                    <td>{{recommendations.vitaminB6.ui}}</td>
                    <td>{{recommendations.vitaminB6.rda}}</td>
                </tr>
                <tr>
                    <td>{{'vitamin B12' | translate}}</td>
                    <td>&#956;g</td>
                    <td class="text-bold">{{totals.vitaminB12}}</td>
                    <td>{{recommendations.vitaminB12.mda}}</td>
                    <td>{{recommendations.vitaminB12.ui}}</td>
                    <td>{{recommendations.vitaminB12.rda}}</td>
                </tr>
                <tr>
                    <td>{{'folate' | translate}}</td>
                    <td>&#956;g</td>
                    <td class="text-bold">{{totals.folate}}</td>
                    <td>{{recommendations.folate.mda}}</td>
                    <td>{{recommendations.folate.ui}}</td>
                    <td>{{recommendations.folate.rda}}</td>
                </tr>
                <tr>
                    <td>{{'pantothenic acid' | translate}}</td>
                    <td>mg</td>
                    <td class="text-bold">{{totals.pantothenicAcid}}</td>
                    <td>{{recommendations.pantothenicAcid.mda}}</td>
                    <td>{{recommendations.pantothenicAcid.ui}}</td>
                    <td>{{recommendations.pantothenicAcid.rda}}</td>
                </tr>
                <tr>
                    <td>{{'biotin' | translate}}</td>
                    <td>&#956;g</td>
                    <td class="text-bold">{{totals.biotin}}</td>
                    <td>{{recommendations.biotin.mda}}</td>
                    <td>{{recommendations.biotin.ui}}</td>
                    <td>{{recommendations.biotin.rda}}</td>
                </tr>
                <tr>
                    <td>{{'vitamin C' | translate}}</td>
                    <td>mg</td>
                    <td class="text-bold">{{totals.vitaminC}}</td>
                    <td>{{recommendations.vitaminC.mda}}</td>
                    <td>{{recommendations.vitaminC.ui}}</td>
                    <td>{{recommendations.vitaminC.rda}}</td>
                </tr>
                <tr>
                    <td>{{'vitamin K' | translate}}</td>
                    <td>&#956;g</td>
                    <td class="text-bold">{{totals.vitaminK}}</td>
                    <td>{{recommendations.vitaminK.mda}}</td>
                    <td>{{recommendations.vitaminK.ui}}</td>
                    <td>{{recommendations.vitaminK.rda}}</td>
                </tr>
            </table>
        </div>
    </div>
</script>

<script type="text/ng-template" id="clientTpl">
    <h4>{{client.firstName}} {{client.lastName}}</h4>
    <p ng-if="client.phone"><span class="fa fa-phone"></span> {{client.phone}}</p>
    <p ng-if="client.email"><span class="fa fa-envelope-o"></span> {{client.email}}</p>
    
    <hr />
    <table class="table table-bordered table-condensed text-small">
        <tr>
            <td>{{'age' | translate}}</td>
            <td>{{clientData.age}} {{'y' | translate}}</td>
        </tr>
        <tr>
            <td>{{'gender' | translate}}</td>
            <td>{{client.gender.title | translate}}</td>
        </tr>
        <tr>
            <td>{{'height' | translate}}</td>
            <td>{{clientData.height}} cm</td>
        </tr>
        <tr>
            <td>{{'weight' | translate}}</td>
            <td>{{clientData.weight}} cm</td>
        </tr>
        <tr>
            <td>{{'waist' | translate}}</td>
            <td>{{clientData.waist}} cm</td>
        </tr>
        <tr>
            <td>{{'hip' | translate}}</td>
            <td>{{clientData.hip}} cm</td>
        </tr>
        <tr>
            <td>{{'physical activity level' | translate}}</td>
            <td>{{clientData.pal.title | translate}} ({{clientData.pal.description | translate}})</td>
        </tr>
    </table>
    <div ng-if="config.debug">
        <label>{{'tracking of anthropometric measures' | translate}}</label>
        <select ng-model="type" class="form-control noprint" style="width: 200px" ng-change="setType(type)">
            <option ng-value="0" ng-selected="type==0">{{'weight' | translate}}</option>
            <option ng-value="1" ng-selected="type==1">{{'waist' | translate}}</option>
            <option ng-value="2" ng-selected="type==2">{{'hip' | translate}}</option>
        </select>
        <canvas id="clientDataChart" class="chart-bar" chart-data="clientLogGraphData.data" chart-colors="clientLogGraphData.colors" height="70"
                chart-labels="clientLogGraphData.labels" chart-series="clientLogGraphData.series" chart-options="clientLogGraphData.options" chart-dataset-override="clientLogGraphData.datasetOverride"></canvas>
    </div>
   
    <div ng-if="config.debug" class="bg-info">
        client:
        <pre>{{client}}</pre>
        client data:
        <pre>{{clientData}}</pre>
        clientLog
        <pre>{{clientLog}}</pre>
    </div>
</script>

<script>
  $( function() {
    $("#sortable_0").sortable();
    $("#sortable_0").disableSelection();

    $("#sortable_1").sortable();
    $("#sortable_1").disableSelection();

    $("#sortable_2").sortable();
    $("#sortable_2").disableSelection();

    $("#sortable_3").sortable();
    $("#sortable_3").disableSelection();

    $("#sortable_4").sortable();
    $("#sortable_4").disableSelection();

    $("#sortable_5").sortable();
    $("#sortable_5").disableSelection();
  } );
</script>

