<div class="" ng-controller="schedulerCtrl" ng-cloak>
    <div class="row">
        <div class="col-sm-6">
            <h3 class="page-header text-capitalize">{{'calendar' | translate}}</h3>
        </div>
        <div class="col-sm-6 text-right">
            <a href=""  class="btn btn-default" ng-click="toggleTpl('dashboard.html')"><i class="fa fa-dashboard"></i> {{'application' | translate}}</a>
        </div>
    </div>
    <md-input-container>
        <label>{{'users' | translate}}</label>
        <md-select ng-model="uid" ng-change="getSchedulerEvents(uid)" >
            <md-option ng-value=null >
                <span class="text-capitalize">{{'all users' |translate}}</span>
            </md-option>
            <md-option ng-value="x.userId" ng-repeat="x in users">
                {{x.firstName}} - {{x.lastName}}
            </md-option>
        </md-select>
    </md-input-container>
    <div id="wrapper">
        <div ng-if="uid==null" id="myScheduler"></div>
        <div ng-if="uid==x.userId" id="{{x.userId}}" ng-repeat="x in users"></div>
    </div>
</div>



