<div class="pt-3 pb-5">
    <div class="container pb-5">
        <div class="card o-hidden border-0 shadow-lg pb-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <!--<div class="col-lg-5 d-none d-lg-block bg-register-image_"></div>-->
                    <div class="col-lg-12">
                        <div ng-show="!showAlert" class="p-5">
                            <div class="text-center">
                                <h2 class="text-uppercase" style="font-size:24px">{{config.title | translate}}</h2>
                                <hr />
                                <div class="h4 text-gray-900 mb-4">{{'create an account' | translate}}!</div>
                            </div>
                            <form id="signupform" class="user">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input ng-model="newUser.firstName" class="form-control form-control-user" type="text" required placeholder="{{'first name' | translate}}">
                                    </div>
                                    <div class="col-sm-6">
                                        <input ng-model="newUser.lastName" class="form-control form-control-user" type="text" required placeholder="{{'last name' | translate}}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input ng-model="newUser.email" class="form-control form-control-user" type="text" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" required placeholder="{{'email' | translate}}" />
                                    </div>
                                    <div class="col-sm-6">
                                        <input ng-model="emailConfirm" class="form-control form-control-user" type="text" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" required placeholder="{{'confirm email' | translate}}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input ng-model="newUser.password" class="form-control form-control-user" type="password" required placeholder="{{'password' | translate}}" autocomplete="new-password" >
                                    </div>
                                    <div class="col-sm-6">
                                        <input ng-model="passwordConfirm" class="form-control form-control-user" type="password" required placeholder="{{'confirm password' | translate}}" autocomplete="new-password" >
                                    </div>
                                </div>
                                <div layout-gt-sm="row">
                                    <md-input-container class="md-block mt-0 mb-0" flex-gt-sm>
                                        <md-checkbox md-no-ink aria-label={{'terms and conditions' | translate}} ng-model="accept" class="md-primary">
                                            {{'i agree to the' | translate}}
                                        </md-checkbox>
                                        <a href="{{config.appurl}}{{config.language=='en'?'eula.html':'licence.txt'}}" target="_blank">{{'terms and conditions' | translate}}</a>
                                    </md-input-container>
                                </div>
                                <!--<a href="login.html" class="btn btn-primary btn-user btn-block">
                                    Register Account
                                </a>-->
                                <!--<hr>
                                <a href="index.html" class="btn btn-google btn-user btn-block">
                                    <i class="fab fa-google fa-fw"></i> Register with Google
                                </a>
                                <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                    <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                                </a>-->
                            </form>
                            <div class="m-2">
                                <button ng-disabled="signupdisabled||signingUp" type="submit" form="signupform" class="btn btn-primary btn-user btn-block rounded-pill" ng-click="signup()"><i class="fa fa-{{signingUp===true?'spinner fa-spin':'check'}}"></i> {{'register' | translate}}</button>
                            </div>
                            <div ng-controller="loginCtrl" class="text-center pt-2">
                                <a href="" ng-click="forgotPasswordPopup()">{{'forgot password' | translate}}?</a>
                            </div>
                            <div class="text-center pt-2">
                                <a href="" ng-click="toggleTpl('login')">{{'already have an account' | translate}}? {{'login_' | translate}}!</a>
                            </div>
                        </div>
                        <div ng-if="showAlert" class="p-5">
                            <div class="alert alert-success text-center p-5">
                                <h3><span class="fa fa-check fa-lg"></span> {{alertMessage | translate}}.</h3>
                                <div class="mt-5">
                                    <a href="" ng-controller="loginCtrl" class="btn btn-primary btn-lg" ng-click="login(newUser.userName, newUser.password)"><i class="fa fa-sign-in-alt"></i> <span class="text-uppercase">{{'enter application' | translate}}</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--<div ng-if="showAlert" class="alert alert-success text-center">
        <h3><span class="fa fa-check fa-lg"></span> {{alertMessage | translate}}.</h3>
        <div class="mt10">
            <a href="" ng-controller="loginCtrl" class="btn btn-success btn-lg" ng-click="login(newUser.userName, newUser.password)"><i class="fa fa-sign-in"></i> <span class="text-uppercase">{{'enter application' | translate}}</span></a>
        </div>
    </div>
    <div ng-show="!showAlert" class="pt10">
        <form id="signupform">
            <div layout-gt-sm="row">
                <md-input-container class="md-block m2" flex-gt-sm>
                    <label>{{'first name' | translate}}</label>
                    <input ng-model="newUser.firstName" type="text" required>
                </md-input-container>
            </div>
            <div layout-gt-sm="row">
                <md-input-container class="md-block m2" flex-gt-sm>
                    <label>{{'last name' | translate}}</label>
                    <input ng-model="newUser.lastName" type="text" required>
                </md-input-container>
            </div>
            <div layout-gt-sm="row">
                <md-input-container class="md-block m2" flex-gt-sm>
                    <label>{{'email' | translate}}</label>
                    <input name="email" ng-model="newUser.email" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" required />
                </md-input-container>
            </div>
            <div layout-gt-sm="row">
                <md-input-container class="md-block m2" flex-gt-sm>
                    <label>{{'confirm email' | translate}}</label>
                    <input ng-model="emailConfirm" type="text" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" required>
                </md-input-container>
            </div>
            <div layout-gt-sm="row">
                <md-input-container class="md-block m2" flex-gt-sm>
                    <label>{{'password' | translate}}</label>
                    <input ng-model="newUser.password" type="password" required autocomplete="new-password">
                </md-input-container>
            </div>
            <div layout-gt-sm="row">
                <md-input-container class="md-block m2" flex-gt-sm>
                    <label>{{'confirm password' | translate}}</label>
                    <input ng-model="passwordConfirm" type="password" required autocomplete="new-password">
                </md-input-container>
            </div>
            <div layout-gt-sm="row">
                <md-input-container class="md-block m2" flex-gt-sm>
                    <md-checkbox md-no-ink aria-label={{'terms and conditions' | translate}} ng-model="accept" class="md-primary">
                        {{'i agree to the' | translate}}
                    </md-checkbox>
                    <a href="{{config.appurl}}{{config.language=='en'?'eula.html':'licence.txt'}}" target="_blank">{{'terms and conditions' | translate}}</a>
                </md-input-container>
            </div>
        </form>
        <div class="m2">
            <button ng-disabled="signupdisabled||signingUp" type="submit" form="signupform" class="btn btn-primary btn-block text-capitalize" ng-click="signup()"><i class="fa fa-{{signingUp===true?'spinner fa-spin':'check'}}"></i> {{'register' | translate}}</button>
        </div>
    </div>-->
</div>
