<div class="text-left pt10">
    <div>
        <h4>Verzija 1.2.01</h4>
        <h4>Datum: 8.3.2019</h4>
        <div>
            <div class="p10">
                <label>1. Dashboard <em>(nova funkcinalnost)</em></label>
                <p>
                    Kontrolna ploča sadrži osnovne informacije o vašem računu, statistiku o spremljenim podacima u bazu, korisnicima aplikacije i statusu licence.<br />
                    U kontrolnoj ploći možete dodati novog klijenta, zakazati termin, dodati no novog korisnika aplikacije i obnoviti račun.
                </p>
                <div class="p10">
                    <img src="../app/assets/img/updates/dashboard.png" class="img-responsive" />
                </div>
                Statistika:
                <ul>
                    <li>klijenata</li>
                    <li>jelovnika</li>
                    <li>tjednih jelovnika</li>
                    <li>mojih namirnica</li>
                    <li>recepata</li>
                    <li>obroka</li>
                    <li>zakazanih termina</li>
                </ul>
                Podaci o licenci:
                <ul>
                    <li>Paket</li>
                    <li>Datum isteka licence</li>
                    <li>Broj klijentata u tekućem mjesecu</li>
                    <li>Broj korisnika aplikacije</li>
                </ul>
            </div>
            <div class="p10">
                <label>2. Kalendar <em>(nova funkcinalnost)</em></label>
                <p>
                    Prikaz broja zakazanih termina u zaglavlju.
                </p>
                <div class="p10">
                    <img src="../app/assets/img/updates/schedulerappointments.png" class="img-responsive" />
                </div>
            </div>
        </div>
        <hr />
    </div>
    <div>
        <h4>Verzija 1.1.13</h4>
        <h4>Datum: 26.2.2019</h4>
        <div>
            <div class="p10">
                <label>1. Cijene <em>(nova funkcinalnost)</em></label>
                <p>Dodana nova funkcionalnost, editiranje jediničnih cijena.</p>
                <div class="p10">
                    <img src="../app/assets/img/updates/priceedit.png" class="img-responsive" />
                </div>
            </div>
            <div class="p10">
                <label>2. Logo <em>(ispravak)</em></label>
                <p>Automatsko prilagođavanje veličine loga u ispisu.</p>
            </div>
            <div class="p10">
                <label>3. Postotak makronutrijenata <em>(ispravak)</em></label>
                <p>Ispravljen BUG u izračunu udjela makronutrijenata u jelovniku.</p>
            </div>
            <div class="p10">
                <label>4. Višestruko nezasićene masti <em>(ispravak)</em></label>
                <p>Ispravaka RDA (preporučene dnevne količine).</p>
            </div>
            <div class="p10">
                <label>5. Vitamin B3 <em>(ispravak)</em></label>
                <p>Ispravka u ispisu. umjesto Vitamin B3 pogrešno je pisalo Vitamin B4.</p>
            </div>
            <div class="p10">
                <label>6. Popis jelovnika <em>(ispravak)</em></label>
                <p>Korekcija datuma izrade jelovnika prema vremenskoj zoni.</p>
            </div>
        </div>
        <hr />
    </div>
    <div>
        <h4>Verzija 1.1.12</h4>
        <h4>Datum: 24.2.2019</h4>
        <div>
            <div class="p10">
                <label>1. Praćenje antropometrijskih parametara <em>(ispravak)</em></label>
                <p>Korekcija datuma mjerenja prema vremenskoj zoni.</p>
            </div>
            <div class="p10">
                <label>2. Korisničko sučelje <em>(izmjene)</em></label>
                <p>Manje izmjene i ispravci u korisničkom sučelju.</p>
            </div>
        </div>
        <hr />
    </div>
    <div>
        <h4>Verzija 1.1.11</h4>
        <h4>Datum: 17.2.2019</h4>
        <div>
            <div class="p10">
                <label>1. Premium paket <em>(izmjene)</em></label>
                <p>
                    Za korisnike aplikacije koji unutar grupe imaju potrebu za više od 5 korisnika kao što su npr, škole, bolnice i sl, 
                    osim standardnih 5 korisnika unutar PREMIUM pekata moguće je aktivirati dodatne korisnike. Cijena za svakako dodatnog korisnika je 50 kn/godišnje.
                </p>
            </div>
            <div class="p10">
                <label>2. Korisnički Profil <em>(izmjene)</em></label>
                <p>Manje izmjene i ispravci u korisničkom sučelju.</p>
            </div>
        </div>
        <hr />
    </div>
	<div>
        <h4>Verzija 1.1.10</h4>
        <h4>Datum: 25.1.2019</h4>
        <div>
            <div class="p10">
                <label>1. Moji Recepti <em>(nova funkcinalnost)</em></label>
                <p>Postoje dva načina spremanja recepata:</p>
                <ol>
                    <li>Standardno spremanje</li>
                    <li>Spremanje recepta kao namirnice *<em>(novo)</em></li>
                </ol>
				<p>
					Uobičajeno je da kada recept uvrstimo u jelovnik, vidimo sve njegove sastavne namirnice. Od sada je moguće da u jelovniku bude vidljiv samo naziv recepta i njegove ukupne vrijednosti.<br />
					To radimo na način da nakon izrade recepta kliknemo na tipku <strong>Spremi Kao Namirnicu</strong>. Recept će biti automatski spremljen i kao recept u <strong>Moje Recepte</strong> sa svim njegovim sastavnim namirnicama
                    i kao pojedinačna namirnica u <strong>Moje Namirnice</strong> sa ukupnom sumom nutrijenata iz tog recepta.
				</p>
				<p class="text-success">
					<em>
						<strong>Primjer:</strong> Čaj sa medom možemo spremiti kao <strong>Moju Namirnicu</strong> klikom na dugme <strong>Spremi Kao Namirnicu</strong><br />
						Namirnica (recept) će automatski biti spremljena i u <strong>Moje Namirnice</strong> i u <strong>Moje Recepte</strong>. Ako želimo u jelovniku prikazati taj recept bez 
						njegovih sastavnih namirnica onda taj recept odaberemo iz rubrike <strong>Moje Namirnice</strong>. U protivnom, ako želimo da u jelovniku budu vidljive sve namirnice iz tog recepta onda
						recept dodamo klasično klikom na <strong>Dodaj Recept</strong>.
					</em>					
				</p>
                <em class="text-danger">
                    <strong>* Napomena:</strong>
                    Kada brišemo recept onda se automatski briše i recept spremljen u <strong>Moje Namirnice</strong>. Ali ako taj isti recept brišemo u <strong>Mojim Namirnicama</strong> onda on
                    ostaje sačuvan u <strong>Mojim Receptima</strong>.<br />
                    Ako želimo urediti recept spremljen u <strong>Moje Namirnice</strong> onda ga otvaramo u prozoru <strong>Moji Recepti</strong>.
                </em>
                <div class="p10">
                    <img src="../app/assets/img/updates/saverecipeasmyfood1.png" class="img-responsive" />
                </div>
                <div class="p10">
                    <img src="../app/assets/img/updates/saverecipeasmyfood2.png" class="img-responsive" />
                </div>
                <div class="p10">
                    <img src="../app/assets/img/updates/saverecipeasmyfood3.png" class="img-responsive" />
                </div> 
                <div class="p10">
                    <img src="../app/assets/img/updates/saverecipeasmyfood4.png" class="img-responsive" />
                </div>  
            </div>
        </div>
        <div>
            <div class="p10">
                <label>2. Brisanje recepata i namirnica <em>(nova funkcionalnost)</em></label>
                <p>Brisanje <strong>Mojih Receptata</strong> i <strong>Mojih Namirnica</strong> je moguće i u <em>popup</em> prozoru za pretragu.</p>
            </div>
            <div class="p10">
                <img src="../app/assets/img/updates/deleterecipe1.png" class="img-responsive" />
            </div>
        </div>
        <hr />
    </div>
    <div>
        <h4>Verzija 1.1.9</h4>
        <h4>Datum: 18.1.2019</h4>
        <div>
            <div class="p10">
                <label>1. Ispis <em>(nova funkcinalnost)</em></label>
                <p>Dodane su dvije nove opcije u postavkama ispisa dnevnog jelovnika:</p>
                <ol>
                    <li>Prikaz ukupne cijene namirnica</li>
                    <li>Prikaz dodatne tjelesna aktivnosti</li>
                </ol>
                <div class="p10">
                    <img src="../app/assets/img/updates/printpriceactivities.png" class="img-responsive" />
                </div>
                <div class="p10">
                    <img src="../app/assets/img/updates/printpriceactivitiespdf.png" class="img-responsive" />
                </div>
            </div>
        </div>
        <div>
            <div class="p10">
                <label>2. Aplikacija za klijente <em>(ispravak)</em></label>
                <p>Ispravak u kreiranju pristupnog linka za aplikaciju za klijente.</p>
            </div>
        </div>
        <hr />
    </div>
    <div>
        <h4>Verzija 1.1.8</h4>
        <h4>Datum: 11.1.2019</h4>
        <div>
            <div class="p10">
                <label>1. Ispis <em>(izmjene)</em></label>
                <p>U ispisu izračuna su dodane antropometrijske mjere klijenta i ciljana masa.</p>
            </div>
            <div class="p10">
                <img src="../app/assets/img/updates/calculationpdf2.png" class="img-responsive" />
            </div>
        </div>
        <hr />
    </div>
    <div>
        <h4>Verzija 1.1.7</h4>
        <h4>Datum: 5.1.2019</h4>
        <div>
            <div class="p10">
                <label>1. Analiza jelovnika <em>(izmjene)</em></label>
                <div>
                    <ul>
                        <li>Manje izmjene u prikazu i rasporedu grafova.</li>
                        <li>Parametri. Grafovi odvojeni od tabelarnog prikaza.</li>
                        <li>Manje izmjene u ispisu.</li>
                    </ul>
                </div>
                <div class="p10">
                    <img src="../app/assets/img/updates/analysischart1.png" class="img-responsive" />
                </div>
                <div class="p10">
                    <img src="../app/assets/img/updates/analysischart2.png" class="img-responsive" />
                </div>
            </div>
            <div class="p10">
                <label>2. Praćenje antropometrijskih parametara <em>(ispravak)</em></label>
                <div>
                    <ul>
                        <li>Ispravak BUG-a u grafičkom prikazu ciljane tjelesne mase.</li>
                    </ul>
                </div>
            </div>
        </div>
        <hr />
    </div>
    <div>
        <h4>Verzija 1.1.6</h4>
        <h4>Datum: 27.12.2018</h4>
        <div>
            <div class="p10">
                <label>1. Praćenje antropometrijskih parametara <em>(nova funkcionalnost)</em></label>
                <div>
                    <p>
                        Dodan je novi parametar <em>ciljana tjelesna masa</em> u grafičkom prikazu antorpometrijskih parametara.<br />
                        Preporuka je 2 kg/mj po pretpostavci da je 1 kg masnog tkiva jednako 7000 kcal, a dnevni deficit 500 kcal.
                    </p>
                </div>
                <div class="p10">
                    <img src="../app/assets/img/updates/clientloggoal.png" class="img-responsive" />
                </div>
            </div>
            <div class="p10">
                <label>2. Analiza jelovnika <em>(nova funkcionalnost)</em></label>
                <div>
                    <p>
                        U analizu jelovnika su dodani grafički prikazi.
                    </p>
                </div>
                <div class="p10">
                    <img src="../app/assets/img/updates/analysischart.png" class="img-responsive" />
                </div>
            </div>
            <div class="p10">
                <label>3. Učitavanje jelovnika <em>(ispravak)</em></label>
                <p>
                    Ispravak BUG-a kod učitavanja jelovnika spremljenih od strane pod korisnika.
                </p>
            </div>
            <div class="p10">
                <label>4. Dizajn <em>(izmjene)</em></label>
                <p>
                    Manje izmjene u dizajnu korisničkog sučelja.
                </p>
            </div>
        </div>
        <hr />
    </div>
    <div>
        <h4>Verzija 1.1.5</h4>
        <h4>Datum: 19.12.2018</h4>
        <div>
            <div class="p10">
                <label>1. Praćenje antropometrijskih parametara <em>(nova funkcionalnost)</em></label>
                <div>
                    <p>U prikazu antropometrijskih parametara dodana je mogućnost filtriranja podataka prema vremenskom periodu mjerenja 
                    (posljednjih 7 dana, 14 dana, 30 dana, 6 mjeseci, 12 mjeseci ili sva mjerenja.)</p>
                </div>
                <div class="p10">
                    <img src="../app/assets/img/updates/clientlogfilter.png" class="img-responsive" />
                </div>
            </div>
            <div class="p10">
                <label>2. Analiza jelovnika <em>(izmjene)</em></label>
                <p>
                    U prikaz analize jelovnika dodan je pregled energetskih vrijednosti po obrocima.
                </p>
                <div class="p10">
                    <img src="../app/assets/img/updates/analysismeals.png" class="img-responsive" />
                </div>
            </div>
            <div class="p10">
                <label>3. Tjedni jelovnici <em>(nova funkcionalnost)</em></label>
                <p>
                    Od sada je i u ispisu tjednih jelovnika dodana mogućnost odvajanja naziva od opisa jela.
                </p>
                <p>
                    <em class="text-danger">
                        * Napomena:
                        Uključivanje ili isključivanje naziva i opisa jela je moguće samo ako su se u opisu jela koristili <strong>separatori</strong>.
                        Za odvajanje naziva od jela koristit se separator <strong>~</strong> (<kbd>Alt+1(!)</kbd>).
                        Ako imate više jela unutar jednog obroka, jela odvajajte separatorom <strong>|</strong> (<kbd>Alt+w</kbd>).
                        Separatore koristite samo ako u ispisu želite odvojeno isključiti ili uključiti naziv jela i opis jela. U protivnom separatore nije potrebno koristiti.
                    </em>
                </p>
            </div>
            <div class="p10">
                <label>4. Učitavanje jelovnika <em>(isparavak)</em></label>
                <p>
                    Ispravak BUG-a u izračunu preporučene energetske vrijednosti po obrocima kod učitavanja jelovnika sa <em> mojim obrocima</em>.
                </p>
            </div>
        </div>
        <hr />
    </div>
    <div>
        <h4>Verzija 1.1.4</h4>
        <h4>Datum: 15.12.2018</h4>
        <div>
            <div class="p10">
                <label>1. Aplikacija za klijente (novi način pristupa aplikaciji)</label>
                <div>
                    <p>Postoje tri načina pristupa aplikaciji:</p>
                    <ul>
                        <li>Pristup preko web stranice <a href="https://www.programprehrane.com/client" target="_blank">https://www.programprehrane.com/client</a>  (potreban aktivacijski kod)</li>
                        <li>Direktan pristup preko linka (nije potreban aktivacijski kod)</li>
                        <li>Pristup preko mobilne (Android) aplikacije (potreban aktivacijski kod)</li>
                    </ul>
                </div>
                <div class="p10">
                    <img src="../app/assets/img/updates/clientappcode1.png" class="img-responsive" />
                </div>
                <div class="p10">
                    <img src="../app/assets/img/updates/clientappcode2.png" class="img-responsive" />
                </div>
                <div class="p10">
                    <img src="../app/assets/img/updates/clientappcode3.png" class="img-responsive" />
                </div>
            </div>
            <div class="p10">
                <label>2. Demo verzija (izmejne)</label>
                <p>Manje izmjene u <em>Demo</em> verziji. Onemogućeno spremanje.</p>
            </div>
        </div>
        <hr />
    </div>
    <div>
        <h4>Verzija 1.1.3</h4>
        <h4>Datum: 8.12.2018</h4>
        <div>
            <div class="p10">
                <label>1. Ispis tjednih jelovnika (nova funkcionalnost)</label>
                <p>U ispis tjednog jelovnika je dodana ukupna vrijednost pojedinog jelovnika (kalorijska vrijednost i udio makronutrijenata).</p>
            </div>
            <div class="p10">
                <label>2. Moji obroci (ispravak)</label>
                <ul>
                    <li>Ispravak u ispisu analize jelovnika (energetski udio po obrocima za <em>Moje obroke</em>)</li>
                    <li>Ispravak greške u preporukama za energetski udio po obrocima kod učitavanja jelovnika sa <em>Mojim obrocima</em> </li>
                </ul>
            </div>
            <div class="p10">
                <label>3. Učitavanje klijentovih jelovnika (ispravak)</label>
                <p>Ispravljena je greška kod učitavanje jelovnika od trenutno aktivnog klijenta.</p>
                <div class="p10">
                    <img src="../app/assets/img/updates/clientmenus.png" class="img-responsive" />
                </div>
            </div>
            <div class="p10">
                <label>4. Aplikacija za klijente (nova funkcionalnost)</label>
                <p>Izmjene u dizajnu i nove funkcionalnosti:</p>
                <ol>
                    <li>Spremanje izmjena korisničkih podataka</li>
                    <li>Izmjene datuma pojedinačnih mjerenja</li>
                    <li>Po defaultu sakrivene ostale mjere (visina, opseg struka, opseg bokova). Kliknuti na <strong><em>Prikaži ostale mjere</em></strong></li>
                    <li>Uključen prijevod na bosanski, srpski i engleski jezik</li>
                    <li>Ispravci u ispisu jelovnika</li>
                </ol>
                <div class="p10">
                    <img src="../app/assets/img/updates/clientapp.png" class="img-responsive" />
                </div>
                <p>Prilagodbe dizajna mobilnim uređajima.</p>
                <div class="p10">
                    <img src="../app/assets/img/updates/clietappmobile.png" class="img-responsive" />
                </div>
            </div>
        </div>
        <hr />
    </div>
    <div>
        <h4>Verzija 1.1.2</h4>
        <h4>Datum: 1.12.2018</h4>
        <div>
            <div class="p10">
                <label>1. Tjedni jelovnici (nova funkcionalnost)</label>
                <p>
                    Dodane su nove opcije kod izrade tjednih jelovnika <em>(spremanje, pretraga, brisanje i nove postavke ispisa jelovnika)</em>.<br />
                </p>
            </div>
            <div class="p10">
                <label>2. Moji obroci (nova funkcionalnost <em>- *samo u PREMIUM paketu</em>)</label>
                <p>
                    Moji obroci se automatski spremaju pojedinačno za svakog klijenta.
                </p>
            </div>
            <div class="p10">
                <label>3. Ispis jelovnika (izmjene)</label>
                <p>
                    U zaglavlju ispisa su dodani podaci o klijentu i dijeta.
                </p>
            </div>
            <div class="p10">
                <label>4. Ispravci BUG-ova</label>
                <p>
                    Manje izmjene i ispravci BUG-ova.
                </p>
            </div>
        </div>
        <hr />
    </div>
    <div>
        <h4>Verzija 1.1.1</h4>
        <h4>Datum: 29.11.2018</h4>
        <div>
            <div class="p10">
                <label>1. Ispravak BUG-a</label>
                <p>
                    Ispravak BUG-a kod odabira obroka za novog klijenta.
                </p>
            </div>
        </div>
        <hr />
    </div>
    <div>
        <h4>Verzija 1.1.0</h4>
        <h4>Datum: 24.11.2018</h4>
        <div>
            <div class="p10">
                <label>1. Moji obroci (nova funkcionalnost)</label>
                <p>
                    Osim standardnih 6 obroka koje nudi aplikacija <em>(doručak, jutarnja užina, ručak, popodnevna užina, večera, obrok pred spavanje)</em>, korisnici PREMIUM paketa mogu koristiti vlastite obroke sa vlastitim preporukama za energetske udjele po obrocima.<br />
                    Broj <strong>Mojih Obroka</strong> unutar dnevnog jelovnika nije ograničen. Moguće je spremanje više konfiguracija.
                </p>
                <div class="p10">
                    <img src="../app/assets/img/updates/mymeals.png" class="img-responsive" />
                </div>
                <div class="p10">
                    <img src="../app/assets/img/updates/mymeals1.png" class="img-responsive" />
                </div>
            </div>
            <div class="p10">
                <label>2. Naziv / opis / prepreme jela (nova funkcionalnost)</label>
                <p>
                    U opisu pripreme jela je dodana mogućnost da se odvoji naziv jela od pripreme jela. Za odvajanje naziva od jela koristit se separator <strong>~</strong> (<kbd>Alt+1(!)</kbd>).
                    Ako imate više jela unutar jednog obroka, jela odvajajte separatorom <strong>|</strong> (<kbd>Alt+w</kbd>).
                    Separatore koristite samo ako u ispisu želite odvojeno isključiti ili uključiti naziv jela i opis jela. U protivnom separatore nije potrebno koristiti.
                </p>
                <div class="p10">
                    <img src="../app/assets/img/updates/mealtitledescription.png" class="img-responsive" />
                </div>
                <label><em>Primjer 1. Prikaži naziv jela, pripremu i namirnice.</em></label>
                <div class="p10">
                    <img src="../app/assets/img/updates/mealtitledescription1.png" class="img-responsive" />
                </div>
                <em>Ispis:</em>
                <div class="p10">
                    <img src="../app/assets/img/updates/mealtitledescription2.png" class="img-responsive" />
                </div>
                <label><em>Primjer 2. Prikaži samo naziv jela.</em></label>
                <div class="p10">
                    <img src="../app/assets/img/updates/mealtitledescription3.png" class="img-responsive" />
                </div>
                <em>Ispis:</em>
                <div class="p10">
                    <img src="../app/assets/img/updates/mealtitledescription4.png" class="img-responsive" />
                </div>
            </div>
            <div class="p10">
                <label>3. Ispravci BUG-ova</label>
                <p>
                    Ispravak BUG-a kod izrade recepata u prozoru <strong>Recepti</strong> i drugi manji ispravci i izmjene.
                </p>
            </div>
        </div>
        <hr />
    </div>
    <div>
        <h4>Verzija 1.0.98</h4>
        <h4>Datum: 19.11.2018</h4>
        <div>
            <div class="p10">
                <label>1. Promjena količine namirnice  (ispravak)</label>
                <p>
                    Ispavljen BUG kod promjene količine odabrane namirnice. BUG je nastao u prošloj nadogradnji Verzija 1.0.96 
                </p>
            </div>
        </div>
        <hr />
    </div>
    <div>
        <h4>Verzija 1.0.97</h4>
        <h4>Datum: 16.11.2018</h4>
        <div>
            <div class="p10">
                <label>1. Slanje tjednog jelovnika na e-mail klijenta  (nova funkcionalnost)</label>
                <p>
                    Osim slanja dnevnog jelovnika na e-mail klijenta, od sada je moguće i slanje tjednog jelovnika u PDF-formatu.<br />
                    Nakon što se kreira tjedni jelovnika i pritisne tipka <strong>Kreiraj PDF</strong>, pojavljuje se nova tipka, <strong>Pošalji</strong>-<br />
                    U popup prozor upišite naslov, tekst poruke i e-mail na koji želite poslati jelovnik i kliknite na tipku <strong>Pošalji</strong>.<br />
                    Na klijentov e-mail dolazi poruka sa tjednim jelovnikom u privitku, u PDF-formatu.
                </p>
                <div class="p10">
                    <img src="../app/assets/img/updates/sendweeklymenu.png" class="img-responsive" />
                </div>
            </div>
            <div class="p10">
                <label>2. Termička obrada (izmjene)</label>
                <p>
                    Dodana je nova opcija kod odabira termičke obrade (<strong>bez termičke obrade</strong>).<br />
                    Nakon odabira termičke obrade za određenu namirnicu sada je moguće isključiti termičku obradu odabirom opcije <strong>bez termičke obrade</strong>.<br />
                    <em class="text-danger">*Napomena: Ako želite uvrstiti namirnicu bez termičke obrade, nije nužno potrebno odabirati opciju <strong>bez termičke obrade</strong>.</em>
                </p>
                <div class="p10">
                    <img src="../app/assets/img/updates/thermaltreatmentexclude.png" class="img-responsive" />
                </div>
            </div>
            <div class="p10">
                <label>3. Termička obrada (ispravak)</label>
                <p>
                    Ispravak BUG-a kod izračuna termičke obrade.
                </p>
            </div>
        </div>
        <hr />
    </div>
    <div>
        <h4>Verzija 1.0.96</h4>
        <h4>Datum: 9.11.2018</h4>
        <div>
            <div class="p10">
                <label>1. Detaljni izračun energetske potrošnje (izmjene)</label>
                <p>
                    Izmjene u korisničkom sučelju. Manje izmjene u izračunu preporučene energetske potrošnje kada se u proračun ulazi sa detaljnim izračunom energetske potrošnje.
                </p>
                <label>2. Unos novog klijnete (ispravak)</label>
                <p>
                    Ispravak BUG-a, Nakon unosa novog klijneta ženskog spola sada na naslovnoj strani piše ispravno žena umjesto muškarac kako je pisalo do sada.<br />
                    <em class="text-danger">*Napomena: Proračun je do sada radio ispravno i uzimao je u obzir spol koji ste odabrali prilikom unosa novog klijenta osim što je u sučelju pisalo pogrešno.</em>
                </p>
                <label>3. Pretraga klijenata (izmjena)</label>
                <p>
                    Popis klijenata u prozoru za pretragu klijenata ide po redosljedu unosa klijenta.
                </p>
                <label>4. Obavijest o nadogradnji aplikacije (izmjene)</label>
                <p>
                    U slučaju objave nadogradnje aplikacije, prilikom dolaska na stranicu za prijavu (login), pojavljuje se popup prozor sa obavijesti da je dostupna nova verziju i sa napomenom da je potrebno osvježiti stranicu 
                    pritiskom na tipke Ctrl+F5.
                </p>
                <label>5. Mobilna verzija (izmjene)</label>
                <p>
                    Manje prilagodbe dizajna za prikaz na mobilnim uređajima.
                </p>
            </div>
        </div>
        <hr />
    </div>
    <div>
        <h4>Verzija 1.0.94</h4>
        <h4>Datum: 2.11.2018</h4>
        <div>
            <div class="p10">
                <label>1. Izmjene u dizajnu</label>
                <p>
                    Manje izmjene u dizajnu: Dugme i kućica za pretragu.
                </p>
                <p>
                    Dugme za pomicanje na iduću ili predhodnu stranicu <strong><em>Naprijed</em></strong>, <strong><em>Nazad</em></strong>, Izmjene u dizajnu i poziciji.<br />
                </p>
                <div class="p10">
                    <img src="../app/assets/img/updates/nextprevbtn.png" class="img-responsive" />
                </div>
            </div>
        </div>
        <div>
            <div class="p10">
                <label>2. Popup prozor (izmjene)</label>
                <p>
                    Skočni prozori (popup) prilagođeni prikazu na mobilnim uređajima.
                </p>
            </div>
        </div>
        <div>
            <div class="p10">
                <label>3. Ispravci BUG-ova</label>
                <ul>
                    <li>Ispravljen BUG koji se javljao ako se preskoči stranica za izračun i ode direktno na stranicu za odabir dodatne tjelesne aktivnosti.</li>
                    <li>Ispravljen BUG kod izračuna preporučene energetske potrošnje.</li>
                </ul>
            </div>
        </div>
        <hr />
    </div>
    <div>
        <h4>Verzija 1.0.93</h4>
        <h4>Datum: 27.10.2018</h4>
        <div>
            <div class="p10">
                <label>1. Korisničke postavke (izmjena)</label>
                <p>
                    Izmjene u administracijskim pravima korisnika.<br />
                    Nakon registracije dodatnog korisnika moguće je postaviti njegova administracijska prava.<br />
                    Postoje dvije vrste administratora: <strong><em>Supervizor</em></strong> i <strong><em>Administrator</em></strong>.<br />
                    <strong><em>Supervizor</em></strong> može dodavati i brisati korisnike, ima pristup svim klijentima, jelovnicima, receptima i namirnicama spremljenih od strane svih članova unutar grupe.<br />
                    <strong><em>Administrator</em></strong> ima pristup svim jelovnicima unutar grupe korisnika ali može uređivati i spremati samo jelovnike koje je sam izradio i ima pristup samo klijentima koje je sam spremio u aplikaciju. Administrator ima pristup svim receptima i namirnicama spremljenih od strane ostalih članova grupe.<br />
                </p>
            </div>
            <div class="p10">
                <label>2. Učitavanje podataka (izmjena)</label>
                <p>
                    Učitavanje do 20 redova u tablici. Za učitavanje dodatnih redova kliknuti na tipku <strong>prikaži više</strong><br />
                    Ovo se odnosi na <em>Bazu klijenta, bazu mojih namirnica, bazu jelovnika i bazu mojih recepata</em>.
                </p>
                <div class="p10">
                    <img src="../app/assets/img/updates/showmore.png" class="img-responsive" />
                </div>
            </div>
            <div class="p10">
                <label>3. Dizajn (izmjena)</label>
                <p>
                    Izmjene u u dizajnu popup prozora.
                </p>
            </div>
            <div class="p10">
                <label>4. Ispravci BUG-ova</label>
                <p>
                    Manji ispraci i poboljšane performanse.<br />
                </p>
            </div>
        </div>
        <hr />
    </div>
    <div>
        <h4>Verzija 1.0.92</h4>
        <h4>Datum: 23.10.2018</h4>
        <div>
            <div class="p10">
                <label>1. Verzija na Bosanskom jeziku</label>
                <p>
                    Od danas je dostupna i verzija na Bosanskom jeziku.<br />
                </p>
            </div>
        </div>
        <hr />
    </div>
    <div>
        <h4>Verzija 1.0.91</h4>
        <h4>Datum: 19.10.2018</h4>
        <div>
            <div class="p10">
                <label>1. Ispis (nova funkcionalnost)</label>
                <p>
                    Dodana je nova opcija u postavkama ispisa: ispis jediničnih serviranja za pojedinu namirnicu.<br />
                    Ova opcija je defaultno isključena.
                </p>
                <div class="p10">
                    <img src="../app/assets/img/updates/servpdfcheck.png" class="img-responsive" />
                </div>
                <div class="p10">
                    <p>Primjer ispisa:</p>
                    <img src="../app/assets/img/updates/servpdf.png" class="img-responsive" />
                </div>
            </div>
            <div class="p10">
                <label>2. Ispis analize jelovnika (izmjena)</label>
                <p>
                    Dugme za ispis analitike jelovnika je prebačeno u prozor <strong>Analiza</strong>.<br />
                </p>
                <div class="p10">
                    <img src="../app/assets/img/updates/analiticspdf.png" class="img-responsive" />
                </div>
            </div>
        </div>
        <hr />
    </div>
    <div>
        <h4>Verzija 1.0.90</h4>
        <h4>Datum: 09.10.2018</h4>
        <div>
            <div class="p10">
                <label>1. Problemi u Internet Exploreru</label>
                <p>
                    U Internet Exploreru neki djelovi aplikacija (popup prozori) se ne prikazuju ispravno.<br />
                    Ukoliko koristite Internet Explorer u aplikaciji se prikazuje poruka o preporučenim web browserima (Google Chrome, Mozilla Firefox, Microsoft Edge...).
                </p>
            </div>
        </div>
        <hr />
    </div>
    <div>
        <h4>Verzija 1.0.89</h4>
        <h4>Datum: 04.10.2018</h4>
        <div>
            <div class="p10">
                <label>1. Korisničko sučelje (izmjena dizajna)</label>
                <p>
                    Manje izmjene u dizajnu korsničkog sučelja (unos i prikaz antropometrijskih parametara).
                </p>
            </div>
            <div class="p10">
                <img src="../app/assets/img/updates/humansvg.png" class="img-responsive" />
            </div>
        </div>
        <hr />
    </div>
    <div>
        <h4>Verzija 1.0.88</h4>
        <h4>Datum: 02.10.2018</h4>
        <div>
            <div class="p10">
                <label>1. Ispis podataka o klijentu (izmjena)</label>
                <p>
                    Ispis osnovnih podataka o klijentu je odvojen od ispisa praćenja antropometrijskih parametara.
                </p>
            </div>
        </div>
        <hr />
    </div>
    <div>
        <h4>Verzija 1.0.87</h4>
        <h4>Datum: 30.09.2018</h4>
        <div>
            <div class="p10">
                <label>1. Moj izračun (nova funkcionalnost)</label>
                <p>
                    Od sada možete koristi vlastite preporuke za energetski unos i dodatnu energetsku potrošnju.<br />
                    Vaše preporuke se mogu spremiti za svakog klijenta posebno. Ako želite koristiti preporuke koje daje aplikacija u rubrici <strong>Moje Preporuke</strong> ostavite prazna polja.
                </p>
                <div class="p10">
                    <img src="../app/assets/img/updates/calculation1.png" class="img-responsive" />
                </div>
            </div>
            <div class="p10">
                <label>2. Ispis izračuna (nova funkcionalnost)</label>
                <p>
                    Dodana je mogućnost ispisa izračuna u PDF formatu.<br />
                </p>
                <div class="p10">
                    <img src="../app/assets/img/updates/calculationpdf.png" class="img-responsive" />
                </div>
                <p>Podaci u ispisu: Ime klijenta, BMR, TEE, BMI, WHR, opseg struka, cilj, preporučeni energetski unos, preporučena dodatna energetska potrošnja.</p>
                <div class="p10">
                    <img src="../app/assets/img/updates/calculationpdf1.png" class="img-responsive" />
                </div>
            </div>
        </div>
        <hr />
    </div>
    <div>
        <h4>Verzija 1.0.86</h4>
        <h4>Datum: 28.09.2018</h4>
        <div>
            <div class="p10">
                <label>1. Moji recepti</label>
                <p>Manji ispravak kod uvrštavanja recepata u jelovnik. Sada je uz opis recepta vidljiv i naziv recepta.</p>
            </div>
        </div>
        <hr />
    </div>
    <div>
        <h4>Verzija 1.0.85</h4>
        <h4>Datum: 12.09.2018</h4>
        <div>
            <div class="p10">
                <label>1. Manje izmjene u korisničkom sučelju</label>
                <p>Validacija unosa i druge manje izmjene i ispravci.</p>
            </div>
        </div>
        <hr />
    </div>
    <div>
        <h4>Verzija 1.0.84</h4>
        <h4>Datum: 06.09.2018</h4>
        <div>
            <div class="p10">
                <label>1. Logo</label>
                <p>Korisnici STANDARD i PREMIUM paketa od sada u zaglavlju ispisa PDF dokumenata mogu koristiti logo od vlastite firme.</p>
                <p class="mt10">1) Uđite u svoj profil</p>
                <div class="p10">
                    <img src="../app/assets/img/updates/logo1.png" class="img-responsive" />
                </div>
                <p class="mt10">2) Odaberite datoteku (* obavezno PNG format)</p>
                <div class="p10">
                    <img src="../app/assets/img/updates/logo2.png" class="img-responsive" />
                </div>
                <p class="mt10">3) Kliknite na <strong>Učitaj</strong></p>
                <div class="p10">
                    <img src="../app/assets/img/updates/logo3.png" class="img-responsive" />
                </div>
                <p class="mt10">4) U PDF ispisu će u zaglavlju sada biti vaš logo. Ako ne odaberete logo u zaglavlju će se i dalje prikazivati logo <strong>Program Prehrane</strong> </p>
                <div class="p10">
                    <img src="../app/assets/img/updates/logo4.png" class="img-responsivek" />
                </div>
            </div>
        </div>
        <hr />
    </div>
    <div>
        <h4>Verzija 1.0.83</h4>
        <h4>Datum: 03.09.2018</h4>
        <div>
            <div class="p10">
                <label>1. Moje namirnica</label>
                <ul>
                    <li>Validacija kod spremanja mojih namirnica (nije moguće spremiti namirnicu bez naziva).</li>
                    <li>Dodana mogućnost izmjene već spremljenih namirnica.</li>
                </ul>
            </div>
        </div>
        <hr />
    </div>
    <div>
        <h4>Verzija 1.0.82</h4>
        <h4>Datum: 02.09.2018</h4>
        <div>
            <div class="p10">
                <label>1. Parametri</label>
                <p>Korigirane preporučene dnevne vrijednosti za parametre (makro i mikronutrijenti).</p>
            </div>
        </div>
        <hr />
    </div>
    <div>
        <h4>Verzija 1.0.81</h4>
        <h4>Datum: 26.08.2018</h4>
        <div>
            <div class="p10">
                <label>1. Spremanje recepata</label>
                <p>Dodana je nova funkcionalnost. Od sada je moguće spremati recepte izravno iz jelovnika.</p>
                <p><em class="text-danger">* Napomena: U recept se spremaju samo namirnice koje se nalaze u trenutno selektiranom obroku.</em></p>
            </div>
            <div class="p10">
                <img src="../app/assets/img/updates/saverecipe1.png" class="img-responsive center-block" />
            </div>
            <div class="p10">
                <img src="../app/assets/img/updates/saverecipe2.png" class="img-responsive center-block" />
            </div>
        </div>
        <div>
            <div class="p10">
                <label>2. Izračun</label>
                <p>Dodane su nove vrijednosti u izračunu:</p>
                <ul>
                    <li>BMR (bazalni metabolizam)</li>
                    <li>Preporučene vrijednosti za WHR (odnos opsega struka i bokova) i opseg struka ovisno o spolu</li>
                </ul>
            </div>
            <div class="p10">
                <img src="../app/assets/img/updates/calculation.png" class="img-responsive center-block" />
            </div>
        </div>
        <div>
            <div class="p10">
                <label>3. Poboljšane performanse kod promjene količine namirnice</label>
            </div>
        </div>
        <div>
            <div class="p10">
                <label>4. Ispravak BUG-a kod spremanja jelovnika</label>
            </div>
        </div>
        <div>
            <div class="p10">
                <label>5. Spremanje <em>Mojih namirnica</em> i <em>Recepata</em></label>
                <p>Više nije moguće spremiti <em>moju namirnicu</em> ili <em>recept</em> sa istim nazivom.</p>
            </div>
        </div>
        <hr />
    </div>
    <div>
        <h4>Verzija 1.0.80</h4>
        <div>
            <div>
                <div class="p10">
                    <label>1. Unos decimalnih brojeva.</label>
                    Od sada kao decimalni razdjelnik osim točke možete koristiti i zarez. <br />
                    To se odnosi na sva polja u koja je moguće unositi decimalne brojeve (antropometrijski parametri, količine namirnica, moje namirnice itd.) <br />
                </div>
                <div class="p10">
                    <img src="../app/assets/img/updates/decimalpoint.png" class="img-responsive center-block" />
                </div>
            </div>
        </div>
        <div>
            <h4>Verzija 1.0.79</h4>
            <div>
                <div class="p10">
                    <label>1. Izmjene u dizajnu prozora "JELOVNIK"</label>
                    (novi raspored grafova)
                </div>
                <div class="p10">
                    <img src="../app/assets/img/updates/analysis1.png" class="img-responsive center-block" />
                </div>
            </div>
            <div>
                <div class="p10">
                    <label>2. Novi prozor "ANALIZA"</label>
                    (parametri jelovnika prebačeni iz prozora "JELOVNIK" u novi prozor "ANALIZA")
                </div>
                <div class="p10">
                    <img src="../app/assets/img/updates/analysis2.png" class="img-responsive center-block" />
                </div>
            </div>
            <div>
                <div class="p10">
                    <label>3. Izmjene u prozoru "MOJE NAMIRNICE"</label>
                    (lista "Mojih Namirnica" je stavljena u skočni prozor (POPUP))
                </div>
                <div class="p10">
                    <img src="../app/assets/img/updates/myfoods.png" class="img-responsive center-block" />
                </div>
            </div>
            <div>
                <div class="p10">
                    <label>4. Izmjene u prozoru "MOJI RECEPTI"</label>
                    (Dodano novo dugme za editiranje namirnice unesene u recept)
                </div>
                <div class="p10">
                    <img src="../app/assets/img/updates/myrecipeedit.png" class="img-responsive center-block" />
                </div>
            </div>
            <hr />
        </div>
        <div>
            <h4>Verzija 1.0.78</h4>
            <div>
                <div class="p10">
                    <label>1. Proširena baza namirnica</label>
                    (samo za korisnike STANDARD i PREMIUM paket)
                </div>
            </div>
            <div>
                <div class="p10">
                    <label>2. Poboljšane performanse</label>
                </div>
            </div>
            <div>
                <div class="p10">
                    <label>3. Ispravak BUG-a</label>
                    (Praćenje antropometrijskih parametara. Prvo očitanje u tablici.)
                </div>
            </div>
            <div>
                <div class="p10">
                    <label>4. Sitni ispravci u prijevodu</label>
                </div>
            </div>
            <hr />
        </div>
        <div>
            <h4>Verzija 1.0.77</h4>
            <div class="p10">
                <label>1. Kopiranje jelovnika u Word</label>
                (pogledaj video)
            </div>
            <div class="p10">
                <iframe style="width:100%" height="325" src="https://www.youtube.com/embed/gY7lb5QrrYI" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <hr />
    </div>
    <div>
        <h4>Verzija 1.0.76</h4>
        <div class="p10">
            <label>2. Praćenje antropometrijskih parametara</label>
            <p>U tabličnom prikazu je dodana vrijednost i smjer prirasta tjelesne mase, opsega struka i opsega bokova.</p>
        </div>
        <div class="p10">
            <img src="../app/assets/img/updates/clientlogdiff.png" class="img-responsive center-block" />
        </div>
        <hr />
    </div>
    <div>
        <h4>Verzija 1.0.75</h4>
        <div class="p10">
            <label>1. U ispis podataka o klijentu dodan graf (praćenje antropometrijskih parametara)</label>
        </div>
        <div class="p10">
            <img src="../app/assets/img/updates/clientlog.png" class="img-responsive center-block" style="max-height:400px" />
        </div>
        <div class="p10">
            <img src="../app/assets/img/updates/clientlogpdf.png" class="img-responsive center-block" />
        </div>
        <hr />
    </div>
    <div>
        <h4>Verzija 1.0.74</h4>
        <div>
            <div class="p10">
                <label>1. Izbačen je prozor "ISPIS". Ispis jelovnika u PDF je prebačen iz prozora "ISPIS" u prozor "JELOVNIK"</label>
            </div>
            <div class="p10">
                <img src="../app/assets/img/updates/printmenu.png" class="img-responsive center-block" style="max-height:400px" />
            </div>
        </div>
        <div>
            <div class="p10">
                <label>2. Ispis tjednih jelovnika u PDF formatu je prebačen iz prozora "ISPIS" u prozor "JELOVNIK / Tjedni Jelovnik"</label>
            </div>
            <div class="p10">
                <img src="../app/assets/img/updates/printweeklymenu.png" class="img-responsive center-block" style="max-height:400px" />
            </div>
        </div>
        <div>
            <div class="p10">
                <label>3. Ispis podataka o klijentu u PDF formatu je prebačen iz prozora "ISPIS" u prozor "KLIJENT"</label>
            </div>
            <div class="p10">
                <img src="../app/assets/img/updates/printclient.png" class="img-responsive center-block" style="max-height:400px" />
            </div>
        </div>
        <hr />
    </div>
</div>

<!--<div style="margin-top:40px; box-shadow: 5px 5px 5px silver" class="text-left">
    <div class="alert alert-warning alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <h3>OBAVIJESTI</h3>
        <hr />
        <div class="pt10">
            <p class="lead">Dana <em>{{config.date}}</em> objavljena je nova nadogradnja aplikacije (Verzija: {{config.version}})</p>
            <em><i class="fa fa-info-circle fa-2x"></i>  Molimo korisnike da prije početka rada osvježe aplikaciju pritiskom na tipke <kbd>CTRL + F5</kbd> ili u internet pregledniku kliknite na <strong>Reload</strong></em>
            <div class="p10">
                <img src="../app/assets/img/updates/reload.png" class="img-responsive center-block" />
            </div>
        </div>
        <hr />
        <a href="" ng-click="toggleUpdates()">Prikaži detalje o nadogradnjama <i class="fa fa-chevron-{{showNewVersionDetails==false?'down':'up'}}" aria-hidden="true"></i></a>
       
         <div ng-if="showUpdates==true" class="pt10">
            <div>
                <h4>Verzija 1.0.82</h4>
                <h4>Datum: 02.09.2018</h4>
                <div>
                    <div class="p10">
                        <label>1. Parametri</label>
                        <p>Korigirane preporučene dnevne vrijednosti za parametre (makro i mikronutrijenti).</p>
                    </div>
                </div>
                <hr />
            </div>
            <div>
                <h4>Verzija 1.0.81</h4>
                <h4>Datum: 26.08.2018</h4>
                <div>
                    <div class="p10">
                        <label>1. Spremanje recepata</label>
                        <p>Dodana je nova funkcionalnost. Od sada je moguće spremati recepte izravno iz jelovnika.</p>
                        <p><em>* Napomena: U recept se spremaju samo namirnice koje se nalaze u trenutno selektiranom obroku.</em></p>
                    </div>
                    <div class="p10">
                        <img src="../app/assets/img/updates/saverecipe1.png" class="img-responsive center-block" />
                    </div>
                    <div class="p10">
                        <img src="../app/assets/img/updates/saverecipe2.png" class="img-responsive center-block" />
                    </div>
                </div>
                <div>
                    <div class="p10">
                        <label>2. Izračun</label>
                        <p>Dodane su nove vrijednosti u izračunu:</p>
                        <ul>
                            <li>BMR (bazalni metabolizam)</li>
                            <li>Preporučene vrijednosti za WHR (odnos opsega struka i bokova) i opseg struka ovisno o spolu</li>
                        </ul>
                    </div>
                    <div class="p10">
                        <img src="../app/assets/img/updates/calculation.png" class="img-responsive center-block" />
                    </div>
                </div>
                <div>
                    <div class="p10">
                        <label>3. Poboljšane performanse kod promjene količine namirnice</label>
                    </div>
                </div>
                <div>
                    <div class="p10">
                        <label>4. Ispravak BUG-a kod spremanja jelovnika</label>
                    </div>
                </div>
                <div>
                    <div class="p10">
                        <label>5. Spremanje <em>Mojih namirnica</em> i <em>Recepata</em></label>
                        <p>Više nije moguće spremiti <em>moju namirnicu</em> ili <em>recept</em> sa istim nazivom.</p>
                    </div>
                </div>
                <hr />
            </div>
            <div>
                <h4>Verzija 1.0.80</h4>
                <div>
                    <div>
                        <div class="p10">
                            <label>1. Unos decimalnih brojeva.</label>
                            Od sada kao decimalni razdjelnik osim točke možete koristiti i zarez. <br />
                            To se odnosi na sva polja u koja je moguće unositi decimalne brojeve (atropometrijski parametri, količine namirnica, moje namirnice itd.) <br />
                        </div>
                        <div class="p10">
                            <img src="../app/assets/img/updates/decimalpoint.png" class="img-responsive center-block" />
                        </div>
                    </div>
                </div>
                <div>
                    <h4>Verzija 1.0.79</h4>
                    <div>
                        <div class="p10">
                            <label>1. Izmjene u dizajnu prozora "JELOVNIK"</label>
                            (novi raspored grafova)
                        </div>
                        <div class="p10">
                            <img src="../app/assets/img/updates/analysis1.png" class="img-responsive center-block" />
                        </div>
                    </div>
                    <div>
                        <div class="p10">
                            <label>2. Novi prozor "ANALIZA"</label>
                            (parametri jelovnika prebačeni iz prozora "JELOVNIK" u novi prozor "ANALIZA")
                        </div>
                        <div class="p10">
                            <img src="../app/assets/img/updates/analysis2.png" class="img-responsive center-block" />
                        </div>
                    </div>
                    <div>
                        <div class="p10">
                            <label>3. Izmjene u prozoru "MOJE NAMIRNICE"</label>
                            (lista "Mojih Namirnica" je stavljena u skočni prozor (POPUP))
                        </div>
                        <div class="p10">
                            <img src="../app/assets/img/updates/myfoods.png" class="img-responsive center-block" />
                        </div>
                    </div>
                    <div>
                        <div class="p10">
                            <label>4. Izmjene u prozoru "MOJI RECEPTI"</label>
                            (Dodano novo dugme za editiranje namirnice unesene u recept)
                        </div>
                        <div class="p10">
                            <img src="../app/assets/img/updates/myrecipeedit.png" class="img-responsive center-block" />
                        </div>
                    </div>
                    <hr />
                </div>
                <div>
                    <h4>Verzija 1.0.78</h4>
                    <div>
                        <div class="p10">
                            <label>1. Proširena baza namirnica</label>
                            (samo za korisnike STANDARD i PREMIUM paket)
                        </div>
                    </div>
                    <div>
                        <div class="p10">
                            <label>2. Poboljšane performanse</label>
                        </div>
                    </div>
                    <div>
                        <div class="p10">
                            <label>3. Ispravak BUG-a</label>
                            (Praćenje antropometrijskih parametara. Prvo očitanje u tablici.)
                        </div>
                    </div>
                    <div>
                        <div class="p10">
                            <label>4. Sitni ispravci u prijevodu</label>
                        </div>
                    </div>
                    <hr />
                </div>
                <div>
                    <h4>Verzija 1.0.77</h4>
                    <div class="p10">
                        <label>1. Kopiranje jelovnika u Word</label>
                        (pogledaj video)
                    </div>
                    <div class="p10">
                        <iframe style="width:100%" height="325" src="https://www.youtube.com/embed/gY7lb5QrrYI" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <hr />
            </div>
            <div>
                <h4>Verzija 1.0.76</h4>
                <div class="p10">
                    <label>2. Praćenje antropometrijskih parametara</label>
                    <p>U tabličnom prikazu je dodana vrijednost i smjer prirasta tjelesne mase, opsega struka i opsega bokova.</p>
                </div>
                <div class="p10">
                    <img src="../app/assets/img/updates/clientlogdiff.png" class="img-responsive center-block" />
                </div>
                <hr />
            </div>
            <div>
                <h4>Verzija 1.0.75</h4>
                <div class="p10">
                    <label>1. U ispis podataka o klijentu dodan graf (praćenje antropometrijskih parametara)</label>
                </div>
                <div class="p10">
                    <img src="../app/assets/img/updates/clientlog.png" class="img-responsive center-block" style="max-height:400px" />
                </div>
                <div class="p10">
                    <img src="../app/assets/img/updates/clientlogpdf.png" class="img-responsive center-block" />
                </div>
                <hr />
            </div>
            <div>
                <h4>Verzija 1.0.74</h4>
                <div>
                    <div class="p10">
                        <label>1. Izbačen je prozor "ISPIS". Ispis jelovnika u PDF je prebačen iz prozora "ISPIS" u prozor "JELOVNIK"</label>
                    </div>
                    <div class="p10">
                        <img src="../app/assets/img/updates/printmenu.png" class="img-responsive center-block" style="max-height:400px" />
                    </div>
                </div>
                <div>
                    <div class="p10">
                        <label>2. Ispis tjednih jelovnika u PDF formatu je prebačen iz prozora "ISPIS" u prozor "JELOVNIK / Tjedni Jelovnik"</label>
                    </div>
                    <div class="p10">
                        <img src="../app/assets/img/updates/printweeklymenu.png" class="img-responsive center-block" style="max-height:400px" />
                    </div>
                </div>
                <div>
                    <div class="p10">
                        <label>3. Ispis podataka o klijentu u PDF formatu je prebačen iz prozora "ISPIS" u prozor "KLIJENT"</label>
                    </div>
                    <div class="p10">
                        <img src="../app/assets/img/updates/printclient.png" class="img-responsive center-block" style="max-height:400px" />
                    </div>
                </div>
                <hr />
            </div>
        </div>
    
    </div>
</div>-->