<div ng-cloak ng-controller="userCtrl" class="mt20">
    <fieldset class="fieldset-border">
        <legend class="fieldset-border text-capitalize">{{'users' | translate}}:</legend>
        <div class="text-right">
            <a href="" ng-click="toggleTpl('newuser.html', 10)" class="btn btn-primary text-capitalize"><i class="fa fa-user-plus fa-fw"></i> {{'new user' | translate}}</a>
            <a href="" class="btn btn-default text-capitalize m10" ng-click="isLogin?toggleTpl('dashboard.html'):toggleTpl('login.html')" title={{'close' | translate}}><i class="fa fa-times"></i><span class="hidden-xs"> {{'cancel' | translate}}</span></a>
        </div>
        <div class="table-responsive">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th ng-if="config.debug">{{'id' | translate}}</th>
                        <th ng-if="config.debug">{{'user group' | translate}}</th>
                        <th>{{'user' | translate}}</th>
                        <th></th>
                        <th>{{'admin type' | translate}}</th>
                        <th>{{'expiration date' | translate}}</th>
                        <th>{{'is active' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in users track by $index">
                        <td ng-if="config.debug">{{x.userId}}</td>
                        <td ng-if="config.debug">{{x.userGroupId}}</td>
                        <td>
                            <!--<a href="" class="btn btn-circle btn-primary" ng-click="showUser(x)"><i class="fa fa-info"></i></a>-->
                            <a href="" class="btn btn-circle btn-primary" ng-click="showUser(x.userId)"><i class="fa fa-info"></i></a>
                        </td>
                        <td>{{x.firstName}} {{x.lastName}}</td>
                        <!--<td>{{x.userType}}</td>-->
                        <td>{{adminType(x.adminType)}}</td>
                        <td>{{x.expirationDate}}</td>
                        <td>
                            <md-checkbox ng-if="x.userId!=x.userGroupId" ng-model="x.isActive" aria-label="" ng-change="updateUser(x)">
                                {{x.isActive==true?'Da':'Ne'}}
                            </md-checkbox>
                        </td>
                        <td>
                            <a href="" ng-if="x.userId!=x.userGroupId" class="btn btn-circle btn-danger" ng-click="remove(x)"><i class="fa fa-trash-o"></i></a>
                        </td>
                </tbody>
            </table>
        </div>
    </fieldset>
        <div ng-if="config.debug">
            users:
            <pre>{{users | json}}</pre>
        </div>
</div>