<md-dialog flex>
    <form ng-cloak>
        <md-toolbar class="bg-main">
            <div class="md-toolbar-tools">
                <h2 class="text-capitalize">{{'activity' | translate}}</h2>
                <span flex></span>
                <a href="" class="btn btn-outline-light" ng-click="cancel()" title="{{'close' | translate}}">x</a>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
               <label class="h4">{{d.activity | translate}}</label>
                <div class="row">
                    <div class="col p-2">
                        <div class="form-inline">
                            <div class="input-group" style="max-width:250px">
                                <label class="text-capitalize pr-2">{{'duration' | translate}}:</label>
                                <input type="text" ng-model="duration" class="form-control" style="min-width:60px" allow-only-numbers>
                                <div class="input-group-append">
                                    <span class="input-group-text">{{'min' | translate}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col text-right p-2">
                        <button class="btn btn-primary text-capitalize" ng-click="confirm(d)"><i class="fa fa-check"></i> {{'add' | translate}}</button>
                    </div>
                </div>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>