<md-dialog flex layout-margin>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{'open menu' | translate}}</h2>
                <span flex></span>
                <button ng-click="cancel()" class="btn btn-primary">x</button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div class="row">
                    <div class="col-sm-4 ">
                        <div class="input-group">
                            <input ng-model="searchValue" class="form-control" type="text" placeholder="{{'search' | translate}}..." autofocus />
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><i class="fa fa-search" aria-hidden="true"></i>&#8203;</button>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <md-radio-group ng-model="type" layout="row">
                            <md-radio-button value="0" class="md-primary">{{'client menues' | translate}}</md-radio-button>
                            <md-radio-button value="1" class="md-primary">{{'all menues' | translate}}</md-radio-button>
                        </md-radio-group>
                    </div>
                </div>
                <div class="mt10">
                    <table class="table table-hover table-condensed">
                        <tr>
                            <th>{{'title' | translate}}</th>
                            <th>{{'diet'| translate}}</th>
                            <th>{{'date' | translate}}</th>
                            <th>{{'note' | translate}}</th>
                            <th ng-if="config.debug">{{'client Id' | translate}}</th>
                            <th>{{'client' | translate}}</th>
                        </tr>
                        <tr ng-if="type==0?x.client.clientId==clientData.clientId:x.client.clientId!=null" ng-repeat="x in d | filter:searchValue" ng-click="confirm(x)">
                            <td class="novrap">{{x.title}}</td>
                            <td class="novrap">{{x.diet}}</td>
                            <td>{{x.date | date:'dd.MM.yyyy'}}</td>
                            <td class="novrap">{{x.note}}</td>
                            <td ng-if="config.debug">{{x.client.clientId}}</td>
                            <td>{{x.client.firstName}} {{x.client.lastName}}</td>
                        </tr>
                    </table>
                </div>
            </div>
</md-dialog-content>
</md-dialog>


