<md-dialog flex="30" layout-margin>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 class="text-capitalize">{{'recipes' | translate}}</h2>
            <span flex></span>
            <button ng-click="cancel()" class="btn btn-primary">x</button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div ng-if="loading" layout="row" layout-sm="column" layout-align="space-around" class="text-center">
            <md-progress-circular ng-disabled="!loading" md-mode="indeterminate"></md-progress-circular>
        </div>
        <div ng-if="d.length==0">
            <div class="alert alert-danger">
                {{'you do not have any recipes' | translate}}
            </div>
        </div>
        <div class="text-right text-capitalize">
            <a href="" class="btn btn-primary" ng-click="toogleMyRecipeTpl()"><i class="fa fa-file-text-o"></i> {{'create recipe' | translate}}</a>
        </div>
        <div ng-if="d.length>0" ng-show="!loading" class="md-dialog-content">
            <!--<div class="row p10">
                <md-radio-group layout="row" ng-model="loadType">
                    <md-radio-button value="0" class="md-primary" ng-click="load()"><span class="text-capitalize">{{'my recipes' | translate}}</span></md-radio-button>
                    <md-radio-button value="1" class="md-primary" ng-click="loadAppRecipes()"><span class="text-capitalize">{{'recipe examples' | translate}}</span></md-radio-button>
                </md-radio-group>
            </div>-->
            <div class="row">
                <div class="col-sm-12 ">
                    <div class="input-group">
                        <input ng-model="searchValue" class="form-control" type="text" placeholder="{{'search' | translate}}..." autofocus />
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="fa fa-search" aria-hidden="true"></i>&#8203;</button>
                        </span>
                    </div>
                </div>
                <div class="col-sm-12 pt10">
                    <md-checkbox ng-model="showDescription" class="md-primary">
                        {{'show description' | translate}}
                    </md-checkbox>
                </div>
            </div>
            <div class="table-responsive mt10">
                <table ng-if="appRecipes==false" class="table table-hover table-condensed">
                    <tr>
                        <th>{{'title' | translate}}</th>
                        <th class="text-right">{{'energy'| translate}}</th>
                    </tr>
                    <tr ng-repeat="x in d | filter:searchValue" ng-click="confirm(x, showDescription)">
                        <td class="novrap">{{x.title}}</td>
                        <td class="novrap text-right"><span ng-if="x.energy>0">{{x.energy | number:0}} {{'kcal' | translate}}</span></td>
                    </tr>
                </table>
                <table ng-if="appRecipes==true" class="table table-hover table-condensed">
                    <tr ng-if="config.debug">
                        <td><label><input ng-model="toTranslate" type="checkbox" ng-checked="setToTranslate(toTranslate)" /> {{'translate to' | translate}}: </label></td>
                        <td ng-if="toTranslate==true">
                            <select ng-model="toLanguage" ng-change="setToLanguage(toLanguage)" class="form-control">
                                <option disabled="disabled" ng-selectd="true" value="">{{'choose language' | translate}}</option>
                                <option ng-repeat="x in config.languages" value="{{x.code}}">
                                    {{x.title | translate}}
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>{{'title' | translate}}</th>
                        <th>{{'description'| translate}}</th>
                        <th>{{'energy'| translate}}</th>
                    </tr>
                    <tr ng-repeat="x in d | filter:searchValue" ng-click="confirm(x)">
                        <td class="novrap">{{x.title}}</td>
                        <td>{{x.description | translate}}</td>
                        <td class="novrap"><span ng-if="x.energy>0">{{x.energy | number:0}} {{'kcal' | translate}}</span></td>
                    </tr>
                </table>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>


