<md-dialog flex="40">
    <form ng-cloak>
        <md-toolbar class="main-background">
            <div class="md-toolbar-tools">
                <h2 class="text-capitalize">{{'recipes' | translate}}</h2>
                <span flex></span>
                <a href="" class="btn btn-primary" ng-click="cancel()" title="{{'close' | translate}}">x</a>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div ng-if="loading" layout="row" layout-sm="column" layout-align="space-around" class="text-center">
                    <md-progress-circular ng-disabled="!loading" md-mode="indeterminate"></md-progress-circular>
                </div>
                <div class="text-right text-capitalize">
                    <a href="" class="btn btn-default" ng-click="toggleMyRecipeTpl()"><i class="fa fa-file-text-o"></i> {{'create recipe' | translate}}</a>
                </div>
                <div ng-if="config.debug&&user.userType>0">
                    <ul class="nav nav-tabs">
                        <li ng-class="appRecipes==false?'active':''" ng-click="load()"><a href="" class="text-capitalize">{{'my recipes' | translate}}</a></li>
                        <li ng-class="appRecipes==true?'active':''" ng-click="loadAppRecipes()"><a href="" class="text-capitalize">{{'recipes examples' | translate}}</a></li>
                    </ul>
                </div>
                <div ng-if="d.length==0">
                    <div class="alert alert-danger">
                        {{'you do not have any recipes' | translate}}
                    </div>
                </div>
                <div ng-if="d.length>0" ng-show="!loading" class="md-dialog-content">
                    <div class="row">
                        <div class="col-sm-12 ">
                            <div class="input-group">
                                <input ng-model="searchValue" class="form-control" type="text" placeholder="{{'search' | translate}}..." autofocus />
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><i class="fa fa-search" aria-hidden="true"></i>&#8203;</button>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-12 pt10">
                            <md-checkbox ng-model="showDescription" class="md-primary">
                                {{'show description' | translate}}
                            </md-checkbox>
                        </div>
                    </div>
                    <div class="table-responsive mt10">
                        <table class="table table-hover table-condensed">
                            <tr class="text-capitalize">
                                <th>{{'title' | translate}}</th>
                                <th class="text-right">{{'energy'| translate}}</th>
                            </tr>
                            <tr ng-repeat="x in d | filter:searchValue | limitTo:limit" ng-click="confirm(x, showDescription)">
                                <td class="nowrap">{{x.title}}</td>
                                <td class="nowrap text-right"><span ng-if="x.energy>0">{{x.energy | number:0}} {{'kcal' | translate}}</span></td>
                            </tr>
                        </table>
                        <!--TODO: Translate recipes-->
                        <!--<table ng-if="appRecipes==true" class="table table-hover table-condensed">
                            <tr ng-if="config.debug">
                                <td><label><input ng-model="toTranslate" type="checkbox" ng-checked="setToTranslate(toTranslate)" /> {{'translate to' | translate}}: </label></td>
                                <td ng-if="toTranslate==true">
                                    <select ng-model="toLanguage" ng-change="setToLanguage(toLanguage)" class="form-control">
                                        <option disabled="disabled" ng-selectd="true" value="">{{'choose language' | translate}}</option>
                                        <option ng-repeat="x in config.languages" value="{{x.code}}">
                                            {{x.title | translate}}
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>{{'title' | translate}}</th>
                                <th>{{'description'| translate}}</th>
                                <th>{{'energy'| translate}}</th>
                            </tr>
                            <tr ng-repeat="x in d | filter:searchValue" ng-click="confirm(x, showDescription)">
                                <td class="nowrap">{{x.title}}</td>
                                <td>{{x.description | translate}}</td>
                                <td class="nowrap"><span ng-if="x.energy>0">{{x.energy | number:0}} {{'kcal' | translate}}</span></td>
                            </tr>
                        </table>-->
                    </div>
                    <div class="text-right">
                        <a href="" ng-if="limit<d.length+1" class="btn btn-default" ng-click="loadMore()"><i class="fa fa-arrow-down"></i> {{'show more' | translate}}...</a>
                    </div>
                </div>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>