<md-dialog flex class="fixed-height">
    <md-toolbar class="bg-main">
        <div class="md-toolbar-tools">
            <h2 class="text-capitalize">{{'my foods' | translate}}</h2>
            <span flex></span>
            <a href="" class="btn btn-outline-light" ng-click="cancel()" title="{{'close' | translate}}">x</a>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <div ng-if="loading" layout="row" layout-sm="column" layout-align="space-around" class="text-center">
                <md-progress-circular ng-disabled="!loading" md-mode="indeterminate"></md-progress-circular>
            </div>
            <div ng-if="d.length===0" class="m-5">
                <div class="alert alert-danger text-uppercase">
                    {{'you do not have any foods' | translate}}!
                </div>
            </div>
            <div ng-if="d.length>0" ng-show="!loading" class="md-dialog-content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <input ng-model="searchValue" class="form-control search" type="text" placeholder="{{'search' | translate}}..." />
                            <span class="input-group-append">
                                <button class="btn btn-outline-primary"><i class="fa fa-search" aria-hidden="true"></i>&#8203;</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="table-responsive mt-2">
                    <table class="table table-hover table-sm table-borderless pointer">
                        <tr class="text-capitalize border-bottom">
                            <th style="width:80%">{{'food' | translate}}</th>
                            <th></th>
                        </tr>
                        <tr ng-repeat="x in d | filter:searchValue | limitTo:limit">
                            <td class="nowrap" ng-click="confirm(x, showDescription)">{{x.food}}</td>
                            <td class="text-right">
                                <button ng-click="remove(x)" class="btn btn-outline-danger btn-circle"><i class="fa fa-trash-alt"></i></button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="text-right mr-4">
                    <button ng-if="limit<d.length+1" class="btn btn-outline-primary" ng-click="loadMore()"><i class="fa fa-arrow-down"></i> {{'show more' | translate}}...</button>
                </div>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>