<md-dialog flex class="fixed-height">
    <md-toolbar class="main-background">
        <div class="md-toolbar-tools">
            <h2 class="text-capitalize">{{'my recipes' | translate}}</h2>
            <span flex></span>
            <a href="" class="btn btn-primary" ng-click="cancel()" title="{{'close' | translate}}">x</a>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <div ng-if="loading" layout="row" layout-sm="column" layout-align="space-around" class="text-center">
                <md-progress-circular ng-disabled="!loading" md-mode="indeterminate"></md-progress-circular>
            </div>
            <div ng-if="d.length==0" class="mt20">
                <div class="alert alert-danger">
                    {{'you do not have any recipes' | translate}}!
                </div>
            </div>
            <div ng-if="d.length>0" ng-show="!loading" class="md-dialog-content">
                <div class="row">
                    <div class="col-sm-12 ">
                        <div class="input-group">
                            <input ng-model="searchValue" class="form-control search" type="text" placeholder="{{'search' | translate}}..." autofocus />
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><i class="fa fa-search" aria-hidden="true"></i>&#8203;</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="table-responsive mt10">
                    <table class="table table-hover table-condensed">
                        <tr>
                            <th style="width:80%">{{'title' | translate}}</th>
                            <th class="text-right">{{'energy'| translate}}</th>
                            <th></th>
                        </tr>
                        <tr ng-repeat="x in d | filter:searchValue | limitTo:limit" ng-click="confirm(x, showDescription)">
                            <td class="nowrap">{{x.title}}</td>
                            <td class="nowrap text-right"><span ng-if="x.energy>0">{{x.energy | number:0}} {{'kcal' | translate}}</span></td>
                            <td class="text-right"><a href="" style="color:red" ng-click="remove(x)" class="btn btn-default"><i class="fa fa-trash-o"></i></a></td>
                        </tr>
                    </table>
                </div>
                <div class="text-right" style="margin-right:28px">
                    <a href="" ng-if="limit<d.length+1" class="btn btn-default" ng-click="loadMore()"><i class="fa fa-arrow-down"></i> {{'show more' | translate}}...</a>
                </div>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>