<md-dialog flex>
    <form ng-cloak>
        <md-toolbar class="main-background">
            <div class="md-toolbar-tools">
                <h2 class="text-uppercase">
                    <span ng-if="d.clientId==null">{{'notification' | translate}} !</span>
                </h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-dialog-content >
            <div class="md-dialog-content">
                <div>
                    <p class="lead text-success text-center">{{config.date}}<br /></p>
                    <hr />
                    <p class="lead text-danger text-justify">
                        1. U subotu 9.11.2019 dogodio se veliki hakerski napad na server na kojemu se nalazi i <strong>programprehrane.com</strong>.
                        Pogođeno je više od 440 000 web stranica širom svijeta. Stranice su bile blokirane do danas u jutro (11.11). Aplikacija <strong>Program Prehrane Web</strong> je ponovno aktivna i srećom svi podaci su ostali sačuvani.
                        Od hosting kompanije smo dobili obavijest da se radi na unapređenju sigurnosnog sustava kako se ovakvi napadi ne bi više ponovili. 
                    </p>
                    <p class="lead text-danger text-justify">
                        2. E-mail adresa za tehničku pordšku <strong>info@programprehrane.com</strong> je privremeno nedostupna. Umjesto nje koristite <strong>program.prehrane@yahoo.com</strong>.
                    </p>
                    <p class="lead text-success text-justify">
                        3. {{'a new application upgrade is available' | translate}}. - <em><span class="text-capitalize">{{'version' | translate}}</span>: {{config.version}}</em>
                    </p>
                    <div>
                        <a ng-hide="config.language=='en'" href="" ng-click="toggleUpdates()" title="{{'what is new' | translate}}?" class="text-uppercase">{{'what is new' | translate}}? <i class="fa fa-caret-{{showUpdates==false?'right':'down'}}" aria-hidden="true"></i></a>
                        <div ng-if="showUpdates==true" ng-include="'./assets/partials/updates.html'" class="text-center"></div>
                    </div>
                </div>
                <hr />
                <a href="" class="btn btn-default text-uppercase" ng-click="hide()"><i class="fa fa-refresh"></i> {{'refresh page' | translate}}</a>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
