<md-dialog flex>
    <form ng-cloak>
        <md-toolbar class="main-background">
            <div class="md-toolbar-tools">
                <h2 class="text-uppercase">
                    <span ng-if="d.clientId==null">{{'notification' | translate}} !</span>
                </h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-dialog-content >
            <div class="md-dialog-content">
                <div class="text-center">
                    <p class="lead text-success">
                        {{config.date}}<br />
                        {{'a new application upgrade is available' | translate}}.<br />
                        <em><span class="text-capitalize">{{'version' | translate}}</span>: {{config.version}}</em>
                    </p>
                    <a href="" class="btn btn-default text-uppercase" ng-click="hide()"><i class="fa fa-refresh"></i> {{'refresh page' | translate}}</a>
                </div>
                <hr />
                <div>
                    <a ng-hide="config.language=='en'" href="" ng-click="toggleUpdates()" title="{{'what is new' | translate}}?" class="text-uppercase">{{'what is new' | translate}}? <i class="fa fa-caret-{{showUpdates==false?'right':'down'}}" aria-hidden="true"></i></a>
                    <div ng-if="showUpdates==true" ng-include="'./assets/partials/updates.html'" class="text-center"></div>
                </div>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
