<md-dialog flex>
    <form ng-cloak>
        <md-toolbar class="main-background">
            <div class="md-toolbar-tools">
                <h2 class="text-uppercase">
                    <span ng-if="d.clientId==null">{{'notification' | translate}} !</span>
                </h2>
                <span flex></span>
                <a href="" class="btn btn-primary" ng-click="cancel()" title="{{'close' | translate}}">x</a>
            </div>
        </md-toolbar>
        <md-dialog-content >
            <div class="md-dialog-content">
                <div class="text-center">
                    <p class="lead text-success"><span class="text-capitalize">{{'from' | translate}}</span> <em>{{config.date}}</em> {{'a new application upgrade is available' | translate}} (<span class="text-capitalize">{{'version' | translate}}</span>: {{config.version}}).</p>
                </div>
                <div>
                    <a ng-hide="config.language=='en'" href="" ng-click="toggleUpdates()" class="btn btn-default text-uppercase">{{'what is new' | translate}}? <i class="fa fa-caret-{{showUpdates==false?'right':'down'}}" aria-hidden="true"></i></a>
                    <a href="" class="btn btn-default text-uppercase pull-right" ng-click="hide()"><i class="fa fa-arrow-right"></i> {{'continue' | translate}}</a>
                    <div ng-if="showUpdates==true" ng-include="'./assets/partials/updates.html'" class="text-center"></div>
                </div>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
