<md-dialog flex>
    <form ng-cloak>
        <md-toolbar class="main-background">
            <div class="md-toolbar-tools">
                <h2 class="text-capitalize">{{'print menu' | translate}}</h2>
                <span flex></span>
                <a href="" class="btn btn-primary" ng-click="cancel()" title="{{'close' | translate}}">x</a>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div>
                    <fieldset class="fieldset-border">
                        <legend class="fieldset-border text-capitalize">{{'settings' | translate}}</legend>
                        <div>
                            <md-input-container style="margin-right:80px">
                                <label>{{'number of consumers' | translate}}</label>
                                <input ng-model="consumers" type="number" min="1" ng-change="changeNumberOfConsumers(consumers)">
                            </md-input-container>
                        </div>
                        <div>
                            <md-checkbox ng-model="settings.showClientData" class="md-primary">
                                {{'show client data' | translate}}
                            </md-checkbox>
                            <md-checkbox ng-model="settings.showTitle" class="md-primary">
                                {{'show dish title' | translate}}
                            </md-checkbox>
                            <md-checkbox ng-model="settings.showDescription" class="md-primary">
                                {{'show description' | translate}}
                            </md-checkbox>
                            <md-checkbox ng-model="settings.showFoods" class="md-primary">
                                {{'show foods' | translate}}
                            </md-checkbox>
                        </div>
                        <div>
                            <md-checkbox ng-disabled="!settings.showFoods" ng-model="settings.showQty" class="md-primary">
                                {{'show quantity' | translate}}
                            </md-checkbox>
                            <md-checkbox ng-disabled="!settings.showFoods" ng-model="settings.showMass" class="md-primary">
                                {{'show mass' | translate}}
                            </md-checkbox>
                            <md-checkbox ng-disabled="!settings.showFoods" ng-model="settings.showServ" class="md-primary">
                                {{'show servings' | translate}}
                            </md-checkbox>
                            <md-checkbox ng-model="settings.showTotals" class="md-primary">
                                {{'show totals' | translate}}
                            </md-checkbox>
                        </div>
                    </fieldset>
                </div>
                <hr />
                <div>
                    <a ng-if="pdfLink==null" href="" ng-click="printMenuPdf(consumers)" class="btn btn-default btn-block text-capitalize" ng-disabled="creatingPdf==true"><span class="text-danger"><i class="fa fa-{{creatingPdf==true?'spinner fa-spin':'file-pdf-o'}}"></i> {{'create pdf' | translate}}</span></a>
                    <a ng-if="pdfLink!=null" href="{{pdfLink}}" class="btn btn-success btn-block text-capitalize" download ng-click="hidePdfLink()">
                        <i class="fa fa-file-pdf-o"></i> {{'take pdf' | translate}}
                    </a>
                </div>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
