<md-dialog flex>
    <form ng-cloak>
        <md-toolbar class="main-background">
            <div class="md-toolbar-tools">
                <h2 class="text-capitalize">{{'menu' | translate}}</h2>
                <span flex></span>
                <a href="" class="btn btn-primary" ng-click="cancel()" title="{{'close' | translate}}">x</a>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div class="text-right">
                    <button ng-click="copyToClipboard('container')" class="btn btn-default"><span class="text-capitalize"><i class="fa fa-files-o"></i> {{'copy to clipboard' | translate}}</span></button>
                </div>
                <div>
                    <fieldset class="fieldset-border">
                        <legend class="fieldset-border text-capitalize">{{'settings' | translate}}</legend>
                        <div>
                            <md-input-container style="margin-right:80px">
                                <label>{{'number of consumers' | translate}}</label>
                                <input ng-model="consumers" type="number" min="1" ng-change="changeNumberOfConsumers(consumers)">
                            </md-input-container>
                        </div>
                        <div>
                            <md-checkbox ng-model="settings.showClientData" class="md-primary">
                                {{'show client data' | translate}}
                            </md-checkbox>
                            <md-checkbox ng-model="settings.showTitle" class="md-primary">
                                {{'show dish title' | translate}}
                            </md-checkbox>
                            <md-checkbox ng-model="settings.showDescription" class="md-primary">
                                {{'show description' | translate}}
                            </md-checkbox>
                            <md-checkbox ng-model="settings.showFoods" class="md-primary">
                                {{'show foods' | translate}}
                            </md-checkbox>
                        </div>
                        <div>
                            <md-checkbox ng-disabled="!settings.showFoods" ng-model="settings.showQty" class="md-primary">
                                {{'show quantity' | translate}}
                            </md-checkbox>
                            <md-checkbox ng-disabled="!settings.showFoods" ng-model="settings.showMass" class="md-primary">
                                {{'show mass' | translate}}
                            </md-checkbox>
                            <md-checkbox ng-disabled="!settings.showFoods" ng-model="settings.showServ" class="md-primary">
                                {{'show servings' | translate}}
                            </md-checkbox>
                            <md-checkbox ng-model="settings.showTotals" class="md-primary">
                                {{'show totals' | translate}}
                            </md-checkbox>
                        </div>
                    </fieldset>
                </div>
                <hr />
                <div id="container" class="well">
                    <div ng-if="settings.showClientData">
                        <p>{{currentMenu.client.firstName}} {{currentMenu.client.lastName}}</p>
                        <p>
                            {{'height' | translate}}: {{currentMenu.client.clientData.height}} cm, {{'weight' | translate}}: {{currentMenu.client.clientData.weight}} kg
                            <span ng-if="currentMenu.client.clientData.waist>0">, {{'waist' | translate}}: {{currentMenu.client.clientData.waist}} cm</span><span ng-if="clientData.hip>0">, {{'hip' | translate}}: {{clientData.hip}} kg</span>
                        </p>
                        <p>{{currentMenu.client.clientData.diet.diet | translate}}</p>
                        <hr />
                    </div>
                    <strong>{{currentMenu.title}}</strong>
                    <p>{{currentMenu.note}}</p>
                    <p ng-if="consumers > 1">{{'number of consumers' | translate}}: <strong>{{consumers}}</strong></p>
                    <div ng-if="x.isSelected==1" ng-repeat="x in currentMenu.data.meals track by $index" class="m10">
                        <label class="text-uppercase mt10">{{getMealTitle(x)}}</label>
                        <div ng-if="x.description" class="mt10">
                            <em ng-if="!isSeparatedDes(x.description)&&settings.showDescription">{{x.description}}</em>
                            <div ng-if="isSeparatedDes(x.description)">
                                <div ng-repeat="y in getTitleDes(x.description)">
                                    <div ng-if="settings.showTitle">{{y.title}}</div>
                                    <em ng-if="settings.showDescription">{{y.description}}</em>
                                </div>
                            </div>
                        </div>
                        <div ng-if="settings.showFoods" class="mt10">
                            <div ng-if="y.meal.code==x.code" ng-repeat="y in foods track by $index">
                                - {{y.food}}<span ng-if="settings.showQty">, {{y.quantity}} {{y.unit}}</span><span ng-if="settings.showMass">, {{y.mass}} g</span> <span ng-if="settings.showServ&&getServDescription(y.servings)!=''">, ({{getServDescription(y.servings)}})</span>
                            </div>
                        </div>
                    </div>
                    <div ng-if="settings.showTotals">
                        <hr />
                        <label><span class="text-uppercase">{{'total' | translate}}</span><span ng-if="consumers > 1"> ({{'per consumer' | translate}})</span>:</label>
                        <p>{{'energy value' | translate}}: <span>{{totals.energy}} kcal</span></p>
                        <p>{{'carbohydrates' | translate}}: <span>{{totals.carbohydrates | number:1}} g, ({{totals.carbohydratesPercentage | number:1}} %)</span></p>
                        <p>{{'proteins' | translate}}: <span>{{totals.proteins | number:1}} g, ({{totals.proteinsPercentage | number:1}} %)</span></p>
                        <p>{{'fats' | translate}}: <span>{{totals.fats | number:1}} g, ({{totals.fatsPercentage | number:1}} %)</span></p>
                    </div>
                    <div ng-if="totals.price.value>0">
                        <hr />
                        <em class="text-primary"><span class="text-capitalize">{{'price' | translate}}</span>: <span>{{totals.price.value | number:2}}</span> <span class="text-uppercase">{{config.currency}}</span></em>
                    </div>
                    <div ng-if="currentMenu.client.clientData.activities.length > 0">
                        <hr />
                        <label>{{'additional activity' | translate}}</label>
                        <ul ng-repeat="x in currentMenu.client.clientData.activities">
                            <li>{{x.activity}} - {{x.duration}} min, {{x.energy | number:0}} kcal</li>
                        </ul>
                    </div>
                </div>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
