<md-dialog flex="80">
    <form ng-cloak>
        <md-toolbar class="bg-main">
            <div class="md-toolbar-tools">
                <h2 class="text-capitalize">{{'menu' | translate}}</h2>
                <span flex></span>
                <a href="" class="btn btn-outline-light" ng-click="cancel()" title="{{'close' | translate}}">x</a>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div class="text-right">
                    <!--<a href="#printsettings" class="btn btn-outline-primary hidden-lg hidden-xl" data-toggle="collapse"><span class="text-capitalize"><i class="fa fa-cogs"></i> {{'settings' | translate}}</span></a>-->
                    <button ng-click="copyToClipboard('menu_container')" class="btn btn-outline-primary" title="{{'copy to clipboard' | translate}}"><span class="text-capitalize"><i class="fa fa-files-o"></i> {{'copy' | translate}}</span></button>
                    <a ng-if="pdfLink==null" href="" ng-click="printMenuPdf(consumers, date, author)" class="btn btn-outline-primary text-capitalize" ng-disabled="creatingPdf==true"><i class="fa fa-{{creatingPdf==true?'spinner fa-spin':'file-pdf-o'}}"></i> {{'create pdf' | translate}}</a>
                    <a ng-if="pdfLink!=null" href="{{pdfLink}}" class="btn btn-danger text-capitalize" download ng-click="hidePdfLink()">
                        <i class="fa fa-file-pdf-o"></i> {{'take pdf' | translate}}
                    </a>
                    <a ng-if="loginUser.adminType<2" ng-disabled="currentMenu.data.selectedFoods.length==0" href="" class="btn btn-outline-primary" title="{{'send menu to the clients email' | translate}}" ng-click="send()"><i class="fa fa-paper-plane"></i> <span class="text-capitalize">{{'send' | translate}}</span></a>
                </div>
                <div class="row small">
                    <div class="col-lg-3">
                        <div>
                            <fieldset class="fieldset-border">
                                <legend class="fieldset-border text-capitalize">{{'number of consumers' | translate}}</legend>
                                <input ng-model="consumers" type="number" min="1" class="form-control" style="max-width:100px" ng-change="changeNumberOfConsumers(consumers)" allow-only-numbers>
                            </fieldset>
                            <fieldset class="fieldset-border">
                                <legend class="fieldset-border">{{'show in print' | translate}}</legend>
                                <md-input-container class="md-block">
                                    <md-checkbox ng-model="settings.showClientData" class="md-primary">
                                        {{'client data' | translate}}
                                    </md-checkbox>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <md-checkbox ng-model="settings.showTitle" class="md-primary">
                                        {{'dish title' | translate}}
                                    </md-checkbox>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <md-checkbox ng-model="settings.showDescription" class="md-primary">
                                        {{'description' | translate}}
                                    </md-checkbox>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <md-checkbox ng-model="settings.showFoods" class="md-primary">
                                        {{'foods' | translate}}
                                    </md-checkbox>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <md-checkbox ng-disabled="!settings.showFoods" ng-model="settings.showQty" class="md-primary">
                                        {{'quantity' | translate}}
                                    </md-checkbox>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <md-checkbox ng-disabled="!settings.showFoods" ng-model="settings.showMass" class="md-primary">
                                        {{'mass' | translate}}
                                    </md-checkbox>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <md-checkbox ng-disabled="!settings.showFoods" ng-model="settings.showServ" class="md-primary">
                                        {{'unit servings' | translate}}
                                    </md-checkbox>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <md-checkbox ng-model="settings.showMealsTotal" class="md-primary">
                                        {{'total energy and nutritional value of the meals' | translate}}
                                    </md-checkbox>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <md-checkbox ng-model="settings.showTotals" class="md-primary">
                                        {{'total energy and nutritional value of the meanu' | translate}}
                                    </md-checkbox>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <md-checkbox ng-model="settings.showActivities" class="md-primary">
                                        {{'additional activity' | translate}}
                                    </md-checkbox>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <md-checkbox ng-model="settings.showPrice" class="md-primary">
                                        {{'price' | translate}}
                                    </md-checkbox>
                                </md-input-container>
                                <md-input-container class="md-block" style="margin-bottom:2px">
                                    <md-checkbox ng-model="settings.showDate" class="md-primary" style="margin-bottom:2px">
                                        {{'date' | translate}}
                                    </md-checkbox>
                                </md-input-container>
                                <div ng-if="settings.showDate">
                                    <input ng-model="date" class="form-control" ng-change="setDate(date)" />
                                </div>
                                <md-input-container class="md-block" style="margin-bottom:2px">
                                    <md-checkbox ng-model="settings.showAuthor" class="md-primary" style="margin-bottom:2px">
                                        {{'author' | translate}}
                                    </md-checkbox>
                                </md-input-container>
                                <div ng-if="settings.showAuthor">
                                    <input ng-model="author" class="form-control" ng-change="setAuthor(author)" />
                                </div>
                            </fieldset>
                            <fieldset class="fieldset-border">
                                <!--<legend class="fieldset-border">{{'settings' | translate}}</legend>-->
                                <md-input-container class="md-block" flex-gt-xs style="margin-top:20px">
                                    <label>{{'print style' | translate}}</label>
                                    <md-select ng-model="settings.printStyle">
                                        <md-option value="0">
                                            <md-checkbox ng-checked="settings.printStyle==0?true:false" class="md-primary" aria-label="mealgroup">{{'table style' | translate}}</md-checkbox>
                                        </md-option>
                                        <md-option value="1">
                                            <md-checkbox ng-checked="settings.printStyle==1?true:false" class="md-primary" aria-label="mealgroup">{{'old style' | translate}}</md-checkbox>
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </fieldset>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <fieldset class="fieldset-border">
                            <legend class="fieldset-border text-capitalize">{{'menu' | translate}}</legend>
                            <div id="menu_container">
                                <div class="row">
                                    <div class="col-lg-5">
                                        <div>
                                            <p class="lead">{{currentMenu.title}}</p>
                                            <p>{{currentMenu.note}}</p>
                                        </div>
                                        <p ng-if="consumers > 1">{{'number of consumers' | translate}}: <strong>{{consumers}}</strong></p>
                                    </div>
                                    <div class="col-lg-7 text-right">
                                        <div ng-if="settings.showClientData">
                                            <p>{{'client' | translate}}: {{currentMenu.client.firstName}} {{currentMenu.client.lastName}}</p>
                                            <p>
                                                {{'height' | translate}}: {{currentMenu.client.clientData.height}} cm, {{'weight' | translate}}: {{currentMenu.client.clientData.weight}} kg
                                                <span ng-if="currentMenu.client.clientData.waist>0">, {{'waist' | translate}}: {{currentMenu.client.clientData.waist}} cm</span><span ng-if="clientData.hip>0">, {{'hip' | translate}}: {{clientData.hip}} cm</span>
                                            </p>
                                            <p>{{'diet' | translate}}: {{currentMenu.client.clientData.diet.diet | translate}}</p>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <ng-include src="settings.printStyle==0?'menu':'menu_old'"></ng-include>

                                <div ng-if="totals.price.value>0 && settings.showPrice">
                                    <hr />
                                    <em class="text-primary"><span class="text-capitalize">{{'price' | translate}}</span>: <span>{{totals.price.value | number:2}}</span> <span class="text-uppercase">{{config.currency}}</span></em>
                                </div>

                                <div ng-if="currentMenu.client.clientData.activities.length > 0 && settings.showActivities">
                                    <hr />
                                    <label class="text-uppercase">{{'additional activity' | translate}}:</label>
                                    <ul ng-repeat="x in currentMenu.client.clientData.activities">
                                        <li>{{x.activity}} - {{x.duration}} min, {{x.energy | number:0}} kcal</li>
                                    </ul>
                                </div>

                                <div ng-if="settings.showAuthor||settings.showDate">
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div ng-if="settings.showDate">
                                                <label>{{'creation date' | translate}}</label>: {{date}}
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div ng-if="settings.showAuthor" class="text-right">
                                                <label>{{'author of the menu' | translate}}</label>: {{author}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>

<script type="text/ng-template" id="menu">
    <div>
        <div ng-if="x.isSelected==1" ng-repeat="x in currentMenu.data.meals track by $index" class="m-2">
            <label class="text-uppercase mt-2">{{getMealTitle(x)}}</label>
            <div ng-if="x.description" class="mt-2">
                <em ng-if="!isSeparatedDes(x.description)&&settings.showDescription">{{x.description}}</em>
                <div ng-if="isSeparatedDes(x.description)">
                    <div ng-repeat="y in getTitleDes(x.description)">
                        <div ng-if="settings.showTitle">{{y.title}}</div>
                        <em ng-if="settings.showDescription">{{y.description}}</em>
                    </div>
                </div>
            </div>
            <div ng-if="settings.showFoods" class="table-responsive mt-2">
                <table class="table table-borderless table-sm">
                    <tr ng-if="settings.showMealsTotal">
                        <th class="border-bottom"></th>
                        <th class="border-bottom"></th>
                        <th class="border-bottom"></th>
                        <th class="border-bottom"></th>
                        <th class="text-right col-width border-bottom">{{'energy' | translate}}<br /><em>({{'kcal' | translate}})</em></th>
                        <th class="text-right col-width border-bottom">{{'carbs' | translate}}<br /><em>({{'g' | translate}})</em></th>
                        <th class="text-right col-width border-bottom">{{'prot' | translate}}<br /><em>({{'g' | translate}})</em></th>
                        <th class="text-right col-width border-bottom">{{'fats' | translate}}<br /><em>({{'g' | translate}})</em></th>
                    </tr>
                    <tr ng-if="y.meal.code==x.code" ng-repeat="y in foods track by $index">
                        <td style="width:30%">{{y.food}}</td>
                        <td><span ng-if="settings.showQty">{{y.quantity}} {{y.unit}}</span></td>
                        <td><span ng-if="settings.showMass">{{y.mass>999?(y.mass/1000).toFixed(1):y.mass}} {{y.mass>999?('kg' | translate):('g' | translate)}}</span></td>
                        <td><span ng-if="settings.showServ&&getServDescription(y.servings)!=''">({{getServDescription(y.servings)}})</span></td>
                        <td class="text-right col-width"><span ng-if="settings.showMealsTotal">{{y.energy}}</span></td>
                        <td class="text-right col-width"><span ng-if="settings.showMealsTotal">{{y.carbohydrates}}</span></td>
                        <td class="text-right col-width"><span ng-if="settings.showMealsTotal">{{y.proteins}}</span></td>
                        <td class="text-right col-width"><span ng-if="settings.showMealsTotal">{{y.fats}}</span></td>
                    </tr>
                    <tr ng-if="settings.showMealsTotal" class="border-top small">
                        <th class="text-right" colspan="4"><label><span>{{'meal total' | translate}}</span><span ng-if="consumers > 1"> ({{'per consumer' | translate}})</span>:</label></th>
                        <th class="text-right col-width">{{totals.mealsTotal[$index].energy.val | number:1}}<br /><em class="small">({{totals.mealsTotal[$index].energy.perc| number:1}} %)</em></th>
                        <th class="text-right col-width">{{totals.mealsTotal[$index].carbohydrates.val | number:1}}<br /><em class="small">({{totals.mealsTotal[$index].carbohydrates.perc| number:1}} %)</em></th>
                        <th class="text-right col-width">{{totals.mealsTotal[$index].proteins.val | number:1}}<br /><em class="small">({{totals.mealsTotal[$index].proteins.perc| number:1}} %)</em></th>
                        <th class="text-right col-width">{{totals.mealsTotal[$index].fats.val | number:1}}<br /><em class="small">({{totals.mealsTotal[$index].fats.perc| number:1}} %)</em></th>
                    </tr>
                </table>
            </div>
        </div>
        <div ng-if="settings.showTotals" class="table-responsive mt-2">
            <table class="table table-borderless table-sm">
                <tr ng-if="!settings.showMealsTotal">
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th class="text-right col-width">{{'energy' | translate}}<br /><em>({{'kcal' | translate}})</em></th>
                    <th class="text-right col-width">{{'carbs' | translate}}<br /><em>({{'g' | translate}})</em></th>
                    <th class="text-right col-width">{{'prot' | translate}}<br /><em>({{'g' | translate}})</em></th>
                    <th class="text-right col-width">{{'fats' | translate}}<br /><em>({{'g' | translate}})</em></th>
                </tr>
                <tr class="border-top small">
                    <th class="text-right" colspan="4"><label><span>{{'total nutritional values' | translate}}</span><span ng-if="consumers > 1"> ({{'per consumer' | translate}})</span>:</label></th>
                    <th class="text-right bg-gray col-width">{{totals.energy | number:1}}<br /><em></em></th>
                    <th class="text-right bg-gray col-width">{{totals.carbohydrates | number:1}}<br /><em class="small">({{totals.carbohydratesPercentage | number:1}} %)</em></th>
                    <th class="text-right bg-gray col-width">{{totals.proteins | number:1}}<br /><em class="small">({{totals.proteinsPercentage | number:1}} %)</em></th>
                    <th class="text-right bg-gray col-width">{{totals.fats | number:1}}<br /><em class="small">({{totals.fatsPercentage | number:1}} %)</em></th>
                </tr>
            </table>
        </div>
    </div>
</script>

<script type="text/ng-template" id="menu_old">
    <div>
        <div ng-if="x.isSelected==1" ng-repeat="x in currentMenu.data.meals track by $index" class="m-2">
            <label class="text-uppercase mt-2">{{getMealTitle(x)}}</label>
            <div ng-if="x.description" class="mt-2">
                <em ng-if="!isSeparatedDes(x.description)&&settings.showDescription">{{x.description}}</em>
                <div ng-if="isSeparatedDes(x.description)">
                    <div ng-repeat="y in getTitleDes(x.description)">
                        <div ng-if="settings.showTitle">{{y.title}}</div>
                        <em ng-if="settings.showDescription">{{y.description}}</em>
                    </div>
                </div>
            </div>
            <div ng-if="settings.showFoods" class="mt-2">
                <div ng-if="y.meal.code==x.code" ng-repeat="y in foods track by $index">
                    - {{y.food}}<span ng-if="settings.showQty">, {{y.quantity}} {{y.unit}}</span><span ng-if="settings.showMass">, {{y.mass>999?(y.mass/1000).toFixed(1):y.mass}} {{y.mass>999?('kg' | translate):('g' | translate)}}</span><span ng-if="settings.showServ&&getServDescription(y.servings)!=''">, ({{getServDescription(y.servings)}})</span>
                </div>
            </div>
            <div ng-if="settings.showMealsTotal" class="mt-2">
                {{'energy' | translate}}: {{totals.mealsTotal[$index].energy.val | number:1}} {{'kcal' | translate}} ({{totals.mealsTotal[$index].energy.perc| number:1}} %),&nbsp;
                {{'carbohydrates' | translate}}: {{totals.mealsTotal[$index].carbohydrates.val | number:1}} {{'g' | translate}} ({{totals.mealsTotal[$index].carbohydrates.perc| number:1}} %),&nbsp;
                {{'proteins' | translate}}: {{totals.mealsTotal[$index].proteins.val | number:1}} {{'g' | translate}} ({{totals.mealsTotal[$index].proteins.perc| number:1}} %),&nbsp;
                {{'fats' | translate}}: {{totals.mealsTotal[$index].fats.val | number:1}} {{'g' | translate}} ({{totals.mealsTotal[$index].fats.perc| number:1}} %)
            </div>
        </div>
        <div ng-if="settings.showTotals">
            <hr />
            <label><span class="text-uppercase">{{'total' | translate}}</span><span ng-if="consumers > 1"> ({{'per consumer' | translate}})</span>:</label>
            <p>{{'energy value' | translate}}: <span>{{totals.energy}} kcal</span></p>
            <p>{{'carbohydrates' | translate}}: <span>{{totals.carbohydrates | number:1}} g, ({{totals.carbohydratesPercentage | number:1}} %)</span></p>
            <p>{{'proteins' | translate}}: <span>{{totals.proteins | number:1}} g, ({{totals.proteinsPercentage | number:1}} %)</span></p>
            <p>{{'fats' | translate}}: <span>{{totals.fats | number:1}} g, ({{totals.fatsPercentage | number:1}} %)</span></p>
        </div>
    </div>
</script>

<style>
    .col-width {
        width: 80px;
    }
    .bg-gray {
        background-color: #dbdbdb;
    }
    .border-bottom {
        border-top: none !important;
        border-bottom: 1px solid #dbdbdb;
    }
</style>
