<md-dialog flex layout-margin>
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{'meal' | translate}}</h2>
                <span flex></span>
                <button ng-click="cancel()" class="btn btn-primary">x</button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div ng-if="x.isSelected==1" ng-repeat="x in meals track by $index">
                    <label>{{x.title}}</label>
                    <div ng-if="x.description">
                        <em class="text-justify">{{x.description}}</em>
                    </div>
                    <div>
                        <u>{{'foods' | translate}}:</u>
                    </div>
                   
                    <ul ng-if="y.meal.code==x.code" ng-repeat="y in d track by $index">
                        <li>{{y.food}} | {{y.mass}} g, {{y.quantity}} {{y.unit}}</li>
                    </ul>
                </div>
                <div ng-if="clientData.activities.length > 0">
                    <hr />
                    <label>{{'additional activity' | translate}}</label>
                    <ul ng-repeat="x in clientData.activities">
                        <li>{{x.activity}} | {{x.duration}} min, {{x.energy | number:0}} kcal</li>
                    </ul>
                </div>
            </div>
            <div layout-gt-sm="row">
                <md-button class="md-raised md-primary" ng-click="print()">Print</md-button>
                <a ng-href="{{pdfLink}}" target="_blank" class="btn btn-danger"><i class="fa fa-file-pdf-o"></i></a>
                <!--<md-button class="md-raised md-warn" ng-click="pdf()">PDF</md-button>-->
                <md-button class="md-raised md-default" ng-click="cancel()">Zatvori</md-button>
            </div>
            <!--<a href="http://localhost:55848/pdf/users/f50df3a5-7b73-433d-9fb4-865327451b00/pdf/jelovnik.pdf">PDF test</a>-->
        </md-dialog-content>
    </form>
</md-dialog>