<md-dialog flex>
    <form ng-cloak>
        <md-toolbar class="main-background">
            <div class="md-toolbar-tools">
                <h2 class="text-capitalize">{{'report a bug' | translate}}</h2>
                <span flex></span>
                <a href="" class="btn btn-primary" ng-click="cancel()" title="{{'close' | translate}}">x</a>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div class="mt10">
                    <p>
                        Ako imate prijedlog za poboljšanje aplikacije ili želite prijaviti BUG, ovdje možete dati kratki opis.<br />
                        Odgovorit ćemo Vam u najskorijem roku.
                    </p>
                </div>
                <div  class="mt10">
                    <md-input-container class="md-block" style="margin:2px" flex-gt-sm>
                        <label class="text-capitalize">{{'description' | translate}}...</label>
                        <textarea ng-model="d.description" rows="3" class="area"></textarea>
                        <div ng-if="d.alert" class="text-danger">{{d.alert}}</div>
                    </md-input-container>
                </div>
                <div class="row text-right text-capitalize m10">
                    <a href="" class="btn btn-primary" ng-click="confirm(d)" title="{{'send' | translate}}"><i class="fa fa-paper-plane-o"></i> {{'send' | translate }}</a>
                </div>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>

