<md-dialog flex>
    <form ng-cloak>
        <md-toolbar class="bg-main">
            <div class="md-toolbar-tools">
                <h2 class="text-capitalize">{{'save' | translate}}</h2>
                <span flex></span>
                <a href="" class="btn btn-outline-light" ng-click="cancel()" title="{{'close' | translate}}">x</a>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div>
                    <label ng-hide="d.recipe.title" ng-if="d.titleAlert==true" class="text-danger">{{'enter recipe title' | translate}}</label>
                    <md-input-container class="md-block" >
                        <label class="text-capitalize">{{'title' | translate}}</label>
                        <input ng-model="d.recipe.title" type="text" ng-required="true">
                    </md-input-container>
                </div>
                <div>
                    <label ng-hide="d.unit" ng-if="d.unitAlert" class="text-danger">{{'choose unit' | translate}}</label>
                    <md-input-container class="md-block" style="width:50%">
                        <label class="text-capitalize">{{'unit' | translate}}</label>
                        <md-select ng-model="d.unit" ng-required="true">
                            <md-option ng-value="x" ng-repeat="x in d.units">
                                <md-checkbox ng-checked="x==d.unit" class="md-primary" aria-label="unit">{{x}}</md-checkbox>
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div class="text-right text-capitalize">
                    <button class="btn btn-primary m-2" ng-click="confirm(d)"><i class="fa fa-floppy-o"></i> <span>{{'save' | translate}}</span></button>
                </div>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>