<md-dialog flex="30" layout-margin>
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{'save menu' | translate}}</h2>
                <span flex></span>
                <button ng-click="cancel()" class="btn btn-primary">x</button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout-gt-sm="row">
                    <md-input-container>
                        <label>{{'menu name' | translate}}</label>
                        <input id="txtMenuTitle" ng-model="d.currentMenu.title" type="text" maxlength="50" ng-required="true">
                    </md-input-container>
                </div>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>{{'note' | translate}}...</label>
                        <input ng-model="d.currentMenu.note" type="text" maxlength="200">
                    </md-input-container>
                </div>
                <div class="row pull-right">
                    <button class="btn btn-primary m10" ng-click="confirm(d.currentMenu, false)"><i class="fa fa-floppy-o"></i> <span>{{'save' | translate}}</span></button>
                    <button class="btn btn-primary m10" ng-click="confirm(d.currentMenu, true)"><i class="fa fa-plus"></i> <span>{{'save as new' | translate}}</span></button>
                </div>
            </div>

            <!--<div>
                <pre>{{d | json}}</pre>
            </div>-->
</md-dialog-content>

    </form>
</md-dialog>



