<md-dialog flex class="fixed-height">
    <md-toolbar class="bg-main">
        <div class="md-toolbar-tools">
            <h2 class="text-capitalize">{{'clients' | translate}}</h2>
            <span flex></span>
            <a href="" class="btn btn-outline-light" ng-click="cancel()" title="{{'close' | translate}}">x</a>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <div class="row m10">
                <div class="col-sm-4">
                    <div class="input-group">
                        <input ng-model="searchValue" class="form-control search" type="text" placeholder="{{'search' | translate}}..." />
                        <span class="input-group-append">
                            <button class="btn btn-outline-primary"><i class="fa fa-search" aria-hidden="true"></i>&#8203;</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="md-dialog-content table-responsive">
                <table class="table table-hover table-sm">
                    <thead>
                        <tr class="text-capitalize">
                            <!--<th style="width:50px">{{'number' | translate}}</th>-->
                            <th></th>
                            <th class="nowrap" style="width:20%">{{'first name' | translate}}</th>
                            <th class="nowrap" style="width:20%">{{'last name' | translate}}</th>
                            <th class="nowrap" style="width:20%">{{'birth date' | translate}}</th>
                            <th style="width:20%">{{'phone' | translate}}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in d | filter:searchValue | limitTo:limit" ng-click="get(x)">
                            <!--<td style="width:50px">{{d.length-$index}}</td>-->
                            <td><img ng-if="x.profileImg" src="../upload/users/{{x.userId}}/clients/{{x.clientId}}/profileimg/{{x.profileImg}}" alt="{{x.profileImg}}" style="height:2rem;width:2rem" class="img-circle rounded-circle" /></td>
                            <td style="width:20%">{{x.firstName}}</td>
                            <td style="width:20%">{{x.lastName}}</td>
                            <td style="width:20%">{{getDateFormat(x.birthDate) | date:'dd.MM.yyyy'}}</td>
                            <td style="width:20%">{{x.phone}}</td>
                            <td><a href="" ng-click="remove(x, $index)" class="btn btn-outline-danger btn-circle"><i class="fa fa-trash-alt"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-right mr-4">
                <a href="" ng-if="limit<d.length+1" class="btn btn-outline-primary" ng-click="loadMore()"><i class="fa fa-arrow-down"></i> {{'show more' | translate}}...</a>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>



