<md-dialog flex>
    <form ng-cloak>
        <md-toolbar class="main-background">
            <div class="md-toolbar-tools">
                <h2 class="text-uppercase">
                    <span>Napomena</span>
                </h2>
                <span flex></span>
                <a href="" class="btn btn-primary" ng-click="cancel()" title="{{'close' | translate}}">x</a>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div>
                    <p class="lead">
                        Ako ste zadovoljni našom aplikacijom bili bismo Vam zahvalni ako bi ste nas preporučili svojim kolegama ili podijeliti link na društvenim mrežama.<br />
                    </p>
                    <img src="../app/assets/img/updates/socialshare.png" />
                    <p class="lead">
                        Ako pak niste zadovoljni ili imate prijedlog za poboljšanje aplikacije ili želite prijaviti BUG, možet to učiniti klikom na <strong>Prijavi BUG</strong>.
                    </p>
                    <img src="../app/assets/img/updates/reportabug.png" />
                </div>
                <div>
                    <a href="" class="btn btn-default text-uppercase pull-right" ng-click="hide()"><i class="fa fa-arrow-right"></i> {{'close' | translate}}</a>
                </div>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>




