<div ng-controller="contactCtrl" >
    <div ng-if="showAlert" class="alert alert-success">
        <strong>Poruka je uspješno poslana!</strong>
        <p>Odgovorit ćemo Vam u najskorijem roku.</p>
    </div>
    <div ng-if="!showAlert">
        <h3 class="text-center">Kontakt forma</h3>
        <div class="row">
            <div class="col-sm-6 form-group">
                <input ng-model="d.name" class="form-control" name="name" placeholder="Ime" type="text" required>
            </div>
            <div class="col-sm-6 form-group">
                <input ng-model="d.email" class="form-control" name="email" placeholder="Email" type="email" required>
            </div>
        </div>
        <textarea ng-model="d.message" class="form-control" name="comments" placeholder="Poruka" rows="5"></textarea><br>
        <div class="row">
            <div class="col-sm-12 form-group">
                <button class="btn btn-default main-border pull-right" ng-disabled="isSendButtonDisabled" ng-click="send(d)"><span ng-class="sendicon"></span> {{sendicontitle}}</button>
            </div>
        </div>
    </div>
</div>