<div id="customers" class="container text-center">
    <h2>Korisnici</h2><br>
    <div class="text-justify">
        PREHRAMBENO TEHNOLOŠKA ŠKOLA, ZAGREB *
        SREDNJA ŠKOLA DUGA RESA * STUDIO ZA SPORTSKE AKTIVNOSTI, BEOGRAD *
        ŽENSKI ĐAČKI DOM, SPLIT *
        POLJOPRIVREDNA, PREHRAMBENA I VETERINARSKA ŠKOLA STANKA OŽANIĆA, ZADAR *
        UDRUGA OPTIMALNOM TEŽINOM DO ZDRAVLJA «VAGA», OSIJEK *
        DJEČJA BOLNICA SREBRENJAK, ZAGREB *
        ZAVOD ZA JAVNO ZDRAVLJE, SUBOTICA *
        ORDINACIJA OPĆE MEDICINE - BOL *
        PLETER-USLUGE d.o.o. *
        ROSMARINUS d.o.o. *
        SPORTPHARM d.o.o. *
        DEFINICIJA HRANE d.o.o. *
        PSIHIJATRIJSKA BOLNICA UGLJAN *
        ZAVOD ZA JAVNO ZDRAVLJE SREMSKA MITROVICA *
        ARBI d.o.o. *
        POLIKLINIKA MATULIĆ *
        ZAVOD ZA JAVNO ZDRAVLJE MEĐIMURSKE ŽUPANIJE *
        CALLISTO BEAUTY * API-FARMACIJA d.o.o. *
        USTANOVA ZA ZDRAVSTVENU SKRB MEDIKOL *
        LJEKARNA RIJEKA * OKTAL PHARM d.o.o. *
        SPECIJALISTIČKA ORDINACIJA NATALIJA POPOVIĆ *
        ALMAZOR d.o.o. *
        POLIKLINIKA SCIPION *
        POLIKLINIKA LABPLUS 2 *
        UČENIČKI DOM IVANIĆ GRAD *
        ZAVOD ZA JAVNO ZDRAVSTVO DUBROVAČKO-NERETVANSKE ŽUPANIJE *
        UDRUGA KONTROLA TJELESNE TEŽINE *
        STUDIO ZA NJEGU LICA I TIJELA AMBER *
        STUDIO CORPORE SANO *
        TAEKWONDO CLUB NOVI GRAD SARAJEVO *
        POLIKLINIKA ANALIZA *
        SREDNJA ŠKOLA BRAĆA RADIĆ KAŠTEL ŠTAFILIĆ NEHAJ *
        SPARTACUS d.o.o. *
        SPECIJALISTIČKA ORDINACIJA OBITELJSKE MEDICINE JADRANKA ŠOIĆ *
        UNIVERZITET MODERNIH ZNANOSTI-CKM MOSTAR *
        PRIJATELJI ŽIVOTINJA *
        NUTRIFITO *
        BOSOTINA d.o.o. *
        KJU DOM ZA DJECU BEZ RODITELJSKOG STARANJA - SARAJEVO *
        PROLIFE *
        GLORIUS j.d.o.o. *
        MEDICINSKA ŠKOLA ŠIBENIK *
        BRUNICO d.o.o. * 
        ZDRAVA NAVIKA j.d.o.o. *
        ZU LJEKARNE TRIPOLSKI *
        ZU LJEKARNA PABLO * 
        TASHAFI d.o.o.
        ...
    </div>
</div>