<div id="details" class="container pt60">
    <div style="overflow-x:auto;">
        <table class="table table-bordered">
            <tr class="main">
                <th width="40%"><h3>Karakteristike</h3></th>
                <th class="text-center"><h3>DEMO</h3></th>
                <th class="text-center"><h3>START</h3></th>
                <th class="text-center"><h3>STANDARD</h3></th>
                <th class="text-center"><h3>PREMIUM</h3></th>
            </tr>
            <tr>
                <td>Broj korisnika
                <p class="small"><em>* Odnosi se na broj korisnika aplikacija koji unutar jednog tima imaju pristup zajedničkoj bazi podataka.</em></p>
                </td>
                <td class="text-center">1</td>
                <td class="text-center">1</td>
                <td class="text-center">2</td>
                <td class="text-center">5</td>
            </tr>
            <tr>
                <td>Broj novih klijenata (mjesečno)
                <p class="small"><em>* Maksimalan broj novih klijenata (pacijenata) koje možete spremiti u bazu u tekućem mjesecu.</em></p>
                </td>
                <td class="text-center">0</td>
                <td class="text-center">5</td>
                <td class="text-center">20</td>
                <td class="text-center">neograničeno</td>
            </tr>
            <tr>
                <td>
                    Broj obroka u jelovniku
                    <p class="small">
                        <em>
                            * Maksimalan broj obroka u jelovniku. Korisnici START i STANDARD paketa imaju do 6 predefinirani obroka (doručak, jutarnja užina, ručak, popodnevna užina, večera i obrok pred spavanje)
                            dok korisnici PREMIUM paketa mogu koristiti i više od 6 obroka sa vlastitim nazivima i preporukama.
                        </em>
                    </p>
                </td>
                <td class="text-center">6</td>
                <td class="text-center">6</td>
                <td class="text-center">6</td>
                <td class="text-center">neograničeno</td>
            </tr>
            <tr>
                <td><a href="../tablica-namirnica.html" class="nodecoration" title="Tablica namirnica">Broj namirnica</a></td>
                <td class="text-center">660</td>
                <td class="text-center">660</td>
                <td class="text-center">724</td>
                <td class="text-center">724</td>
            </tr>
            <tr>
                <td>Broj makro i mikro nutrijenata</td>
                <td class="text-center">39</td>
                <td class="text-center">39</td>
                <td class="text-center">39</td>
                <td class="text-center">39</td>
            </tr>
            <tr>
                <td>Broj tjelesnih aktivnosti</td>
                <td class="text-center">428</td>
                <td class="text-center">428</td>
                <td class="text-center">428</td>
                <td class="text-center">428</td>
            </tr>
            <tr>
                <td>Broj dijeta</td>
                <td class="text-center">24</td>
                <td class="text-center">24</td>
                <td class="text-center">24</td>
                <td class="text-center">24</td>
            </tr>
            <tr>
                <td>Izračun <a href="../bmi.html" title="BMI Kalkulator">BMI</a> i energetske potrošnje</td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
            </tr>
            <tr>
                <td>Detajni izračun energetske potrošnje</td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
            </tr>
            <tr>
                <td>Odabir dodatne tjelesne aktivnosti</td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
            </tr>
            <tr>
                <td>Izrada jelovnika</td>
                <td class="text-center">Limitirano na 10 namirnica po jelovniku</td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
            </tr>
            <tr>
                <td>Izrada jelovnika/normativa za skupine konzumenata</td>
                <td class="text-center"><i class="fa fa-minus text-danger"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
            </tr>
            <tr>
                <td>Izrada recepata</td>
                <td class="text-center"><i class="fa fa-minus text-danger"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
            </tr>
            <tr>
                <td>Ispis dnevnih i tjednih jelovnika u PDF formatu</td>
                <td class="text-center"><i class="fa fa-minus text-danger"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
            </tr>
            <tr>
                <td>Ispis podataka o klijentu u PDF formatu</td>
                <td class="text-center"><i class="fa fa-minus text-danger"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
            </tr>
            <tr>
                <td>Primjeri jelovnika</td>
                <td class="text-center"><i class="fa fa-minus text-danger"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
            </tr>
            <tr>
                <td>Unos vlastitih namirnica</td>
                <td class="text-center"><i class="fa fa-minus text-danger"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
            </tr>
            <tr>
                <td>Izrada cjenika</td>
                <td class="text-center"><i class="fa fa-minus text-danger"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
            </tr>
            <tr>
                <td>Izrada cjenika</td>
                <td class="text-center"><i class="fa fa-minus text-danger"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
            </tr>
            <tr>
                <td>Kalendar termina</td>
                <td class="text-center"><i class="fa fa-minus text-danger"></i></td>
                <td class="text-center"><i class="fa fa-minus text-danger"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
            </tr>
            <tr>
                <td>Aplikacija za klijente
                    <p class="small"><em>* Omogućite svojim pacijentima da sami prate i evidentiraju promjenu svoje tjelesne mase i preuzimaju jelovnike.</em></p>
                </td>
                <td class="text-center"><i class="fa fa-minus text-danger"></i></td>
                <td class="text-center"><i class="fa fa-minus text-danger"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
            </tr>
            <tr>
                <td>Vlastiti logo u ispisu
                    <p class="small"><em>* Ispis jelovnika i ostalih dokumenata u PDF-u sa logom vlastite firme u zaglavlju.</em></p>
                </td>
                <td class="text-center"><i class="fa fa-minus text-danger"></i></td>
                <td class="text-center"><i class="fa fa-minus text-danger"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
            </tr>
            <tr>
                <td>Baza klijenata</td>
                <td class="text-center"><i class="fa fa-minus text-danger"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
            </tr>
            <tr>
                <td>Praćenje antropometrijskih parametara</td>
                <td class="text-center"><i class="fa fa-minus text-danger"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
            </tr>
            <tr>
                <td>Tehnička podrška</td>
                <td class="text-center"><i class="fa fa-minus text-danger"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
                <td class="text-center"><i class="fa fa-check text-main"></i></td>
            </tr>
            <tr class="main small">
                <td><label>CIJENA</label></td>
                <td class="text-center">
                    <label>0 kn</label>
                </td>
                <td class="text-center">
                    <label>550.00 kn / 1 godina</label>
                    <label>880.00 kn / 2 godine</label>
                </td>
                <td class="text-center">
                    <label>950.00 kn / 1 godina</label>
                    <label>1,520.00 kn / 2 godine</label>
                </td>
                <td class="text-center">
                    <label>1,850.00 kn / 1 godina</label>
                    <label>2,960.00 kn / 2 godine</label>
                </td>
            </tr>
        </table>
    </div>
</div>