<div id="contact" class="container bg-grey">
    <h2 class="text-center">KONTAKT</h2>

    <div ng-controller="contactCtrl" class="row">
        <div class="col-sm-5">
            <label> IG PROG, obrt za računalno programiranje</label>
            <p>OIB {{config.oib}}</p>
            <p>IBAN {{config.iban}}</p>
            <p><span class="glyphicon glyphicon-map-marker"></span> Ludvetov breg 5, 51000 Rijeka, Hrvatska</p>
            <p><a href="tel:+385 98 330 966"><span class="glyphicon glyphicon-phone"></span> +385 98 330 966</a></p>
            <p><a href="mailto:igprog@yahoo.com"><span class="glyphicon glyphicon-envelope"></span> igprog@yahoo.com</a></p>
            <p><a href="https://www.programprehrane.com"><span class="glyphicon glyphicon-home"></span> www.programprehrane.com</a> | <a href="https://www.igprog.hr" target="_blank"> www.igprog.hr</a></p>
        </div>
        <div class="col-sm-7 slideanim">
            <div ng-include="'./assets/partials/contact.html'"></div>
        </div>
    </div>

</div>