<div id="orderform" ng-controller="orderCtrl" class="well text-left">
        <h4>Narudžbenica</h4>
        <ol class="breadcrumb">
            <li ng-class="user.application=='Program Prehrane Web' && !showUserDetails?'main':''" style="padding:10px; border-radius: 25px"><span class="badge">1</span><span ng-if=""></span> {{user.application=='Program Prehrane Web'?'Prijava':'Verzija'}}</li>
            <li ng-class="showUserDetails==true&&showAlert==false?'main':''" style="padding:10px; border-radius: 25px"><span class="badge">2</span> Narudžba</li>
            <li ng-class="showAlert==true?'main':''" style="padding:10px; border-radius: 25px"><span class="badge">3</span> Plaćanje</li>
        </ol>
        <hr />
        <div ng-if="!showAlert">
            <div ng-if="user.application=='Program Prehrane 5.0' && !showUserDetails">
                <div ng-if="user.application=='Program Prehrane 5.0'" class="form-group">
                    <label>Verzija</label>
                    <select ng-model="user.version" class="form-control" ng-click="calculatePrice()">
                        <option value="START">START</option>
                        <option value="PREMIUM">PREMIUM</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="text-left">Pretplata</label>
                    <select ng-model="user.licence" ng-disabled="user.version=='WEB'" class="form-control" ng-click="calculatePrice()">
                        <option value="1">Godišnja</option>
                        <option value="0">Trajna</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="text-left">Broj licenci</label>
                    <select ng-model="user.licenceNumber" ng-disabled="user.version=='WEB'" class="form-control" ng-click="calculatePrice()">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">neograničeno</option>
                    </select>
                </div>
                <div>
                    <label>Cijena: <strong>{{user.price}} kn</strong></label>
                </div>
                <div class="text-right">
                    <button class="btn btn-default main" ng-click="gotoForm()">Dalje <i class="fa fa-angle-double-right"></i></button>
                </div>
            </div>
            <div ng-if="user.application=='Program Prehrane Web' && !showUserDetails">
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Email</label>
                        <input ng-model="user.email" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" type="text" />
                    </md-input-container>
                </div>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Lozinka</label>
                        <input ng-model="password" type="password" />
                    </md-input-container>
                </div>
                <div class="text-right">
                    <button class="btn btn-default main" ng-click="login(user.email, password)">Dalje <i class="fa fa-angle-double-right"></i></button>
                </div>
                <div class="text-left">
                    Nemate korisničko ime i lozinku? <a href="#app" ng-click="registration()">Registrirajte se...</a>
                </div>
            </div>
            <div ng-if="showErrorAlert" class="alert alert-danger">
                <strong>{{errorMesage}}</strong>
            </div>
            <div ng-if="showUserDetails">
                <div ng-if="user.application=='Program Prehrane Web'" class="row m10">
                    <div class="row m2">
                        <label class="col-sm-2 text-right"></label>
                        <div class="col-sm-6">
                            <label>{{user.application}}</label>
                        </div>
                    </div>
                    <div class="row m2">
                        <div class="col-sm-2 text-right">Paket: </div>
                        <div class="col-sm-6">
                            <select ng-model="user.userType" class="form-control" ng-change="calculatePrice()">
                                <option ng-value="0" ng-selected="user.userType==0?true:false">START</option>
                                <option ng-value="1" ng-selected="user.userType==1?true:false">STANDARD</option>
                                <option ng-value="2" ng-selected="user.userType==2?true:false">PREMIUM</option>
                            </select>
                        </div>
                    </div>
                    <div class="row m2">
                        <div class="col-sm-2 text-right">Pretplata: </div>
                        <div class="col-sm-6">
                            <select ng-model="user.licence" class="form-control" ng-change="calculatePrice()">
                                <option value="1" ng-selected="user.licence==1?true:false">1 godina</option>
                                <option value="2" ng-selected="user.licence==2?true:false">2 godine (-20%)</option>
                            </select>
                        </div>
                    </div>
                    <div class="row m2">
                        <div class="col-sm-2 text-right">Cijena: </div>
                        <div class="col-sm-6">
                            <label>{{user.price}} kn ({{user.priceEur | number:0}} €)</label>
                        </div>
                    </div>
                </div>
                <hr />
                <h5 class="lead">Vaši podaci</h5>
                <div class="mt20">
                    <label class="radio-inline">
                        <input ng-model="userType" value="0" type="radio" name="usertype" ng-change="changeUserType(0)">Fizička osoba
                    </label>
                    <label class="radio-inline">
                        <input ng-model="userType" value="1" type="radio" name="usertype" ng-change="changeUserType(1)">Pravna osoba
                    </label>
                </div>
                <div class="text-left mt20">
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>E-mail</label>
                            <input ng-model="user.email" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" type="text" required/>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Ime</label>
                            <input ng-model="user.firstName" type="text" required>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Prezime</label>
                            <input ng-model="user.lastName" type="text" required>
                        </md-input-container>
                    </div>
                    <div ng-if="userType==1" layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Tvrtka</label>
                            <input ng-model="user.companyName" type="text" required>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>OIB</label>
                            <input ng-model="user.pin" type="number" min="0" required>
                        </md-input-container>
                    </div>
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Ulica i broj</label>
                            <input ng-model="user.address" type="text" required>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Poštanski broj</label>
                            <input ng-model="user.postalCode" type="text" required>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Grad</label>
                            <input ng-model="user.city" type="text" required>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Država</label>
                            <input ng-model="user.country" type="text" required>
                        </md-input-container>
                    </div>
                    <div class="text-right">
                        <button class="btn btn-default main" ng-disabled="isSendButtonDisabled" ng-click="sendOrder(user)">{{sendicontitle}} <span ng-class="sendicon"></span></button>
                    </div>
                </div>
            </div>
        </div>


        <div ng-if="showAlert" class="alert alert-success main">
            <strong>Narudžba je uspješno poslana!</strong>
            <p ng-if="user.application!='Program Prehrane Web'">Nakon primitka uplate ili nakon što nam pošaljete potvrdu o uplati <strong>aktivacijki kod</strong> šaljemo na Vašu email adresu.</p>
            <p ng-if="user.application=='Program Prehrane Web'">Vaš korisnički račun će biti aktivan unutar 24 sata od primitka uplate ili nakon što nam pošaljete potvrdu o uplati na email: <strong><a href="mailto:program.prehrane@yahoo.com"><span class="fa fa-envelope-o"></span> program.prehrane@yahoo.com</a></strong></p>
        </div>

        <div ng-if="showPaymentDetails" class="well text-left">
            <div>
                <b>Podaci za uplatu na žiro račun:</b>
                <div>
                    <pre>
IBAN računa: {{config.iban}}
Banka : {{config.bank}}
Primatelj: {{config.company}}
Adresa: {{config.address}}
Opis plaćanja: {{user.application}} {{user.version}}
Iznos: <span>{{user.price}}</span> kn
Model: <span ng-if="user.pin">HR00</span><span ng-if="!user.pin">HR99</span>
<span ng-if="user.pin">Poziv na broj: {{user.pin}}</span> 
            </pre>
                </div>
                <b>Podaci za uplatu izvan hrvatske:</b>
                <div>
                    <pre>
IBAN računa: {{config.iban}}
SWIFT CODE: {{config.swift}}
Iznos: <span>{{user.priceEur | number:2}}</span> €
            </pre>
                </div>
            </div>
            <b>Plaćanje putem PayPal-a:</b>
            <div ng-include="'./app/assets/partials/paypal.html'"></div>
            <!--<div ng-if="user.application=='Program Prehrane Web'" ng-include="'./app/assets/partials/paypal.html'"></div>
            <div ng-if="user.application!='Program Prehrane Web'" ng-include="'./assets/partials/paypal.html'"></div>-->
        </div>


        <div ng-if="showPaymentDetails" class="text-center">
            <a href="{{config.appurl}}" target="_blank" class="btn btn-default main btn-lg">
               <i class="fa fa-sign-in"></i> Pokreni aplikaciju
            </a>
        </div>
</div>