<div id="awards" class="container text-center bg-grey pt60">
    <h2>Priznanja</h2>
    <br>
    <div class="row slideanim small">
        <div class="col-sm-3">
            <div class="thumbnail">
                <img src="./assets/img/inova34.jpg" alt="Inova 34" class="img-responsive" >
                <h4>INOVA 34</h4>
                <p>Zlatna medalja na 34. hrvatskom salonu inovacija INOVA 2009 (Verzija 1.0 iz 2008 g.)</p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="thumbnail">
                <img src="./assets/img/inova37.jpg" alt="Inova 37" class="img-responsive">
                <h4>INOVA 37</h4>
                <p>Zlatna medalja na 37. salonu inovacija INOVA 2012, sa međunarodnim sudjelovanjem (Verzija 2.0 iz 2012 g)</p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="thumbnail">
                <img src="./assets/img/inventum2013.jpg" alt="Inventum" class="img-responsive">
                <h4>Inventum</h4>
                <p>Srebrna medalja na sajmu INVENTUM 2013 g. (Verzija 3.0 iz 2012 g)</p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="thumbnail">
                <img src="./assets/img/AgroArca.jpg" alt="Agro Arca" class="img-responsive">
                <h4>Agro Arca</h4>
                <p>Plaketa na sajmu Agro Arca 2013. godine (Verzija 4.0 iz 2013 g)</p>
            </div>
        </div>
    </div>
</div>