<div id="customers" class="container pt60 mb20">
    <h2 class="text-center">Korisnici</h2><br>
    <div class="row mt20">
        <div class="col-sm-2 pt10">
            <img src="../assets/img/customers/kbc_sestre_milosrdnice_zagreb.png" class="img-responsive" />
        </div>
        <div class="col-sm-2 pt10">
            <img src="../assets/img/customers/djecja_bolnica_srebrnjak.jpg" class="img-responsive" />
        </div>
        <div class="col-sm-2 pt10">
            <img src="../assets/img/customers/oktal_pharma.png" class="img-responsive" />
        </div>
        <div class="col-sm-2 pt10">
            <img src="../assets/img/customers/poliklinika_labplus.png" class="img-responsive" />
        </div>
        <div class="col-sm-2 pt10">
            <img src="../assets/img/customers/poliklinika_matulic.jpg" class="img-responsive" />
        </div>
        <div class="col-sm-2 pt10">
            <img src="../assets/img/customers/poliklinika_analiza.jpg" class="img-responsive" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 pt10">
            <img src="../assets/img/customers/medikol.png" class="img-responsive" />
        </div>
        <div class="col-sm-2 pt10">
            <img src="../assets/img/customers/zavod_za_javno_zdravstvo_dubrovacko_neretvanske_zupanije.png" class="img-responsive" />
        </div>
        <div class="col-sm-2 pt10">
            <img src="../assets/img/customers/ljekarna_rijeka.png" class="img-responsive" />
        </div>
        <div class="col-sm-2 mt10">
            <img src="../assets/img/customers/zavod_za_javno_zdravstvo_medimurske_zupanije.jpg" class="img-responsive" />
        </div>
        <div class="col-sm-2 pt10">
            <img src="../assets/img/customers/univerzitet_modernih_znanosti_mostar.jpg" class="img-responsive" style="height:100px" />
        </div>
        <div class="col-sm-2 pt10">
            <img src="../assets/img/customers/zzjzvz.png" class="img-responsive" style="height:100px" />
        </div>
    </div>
    <div class="row mt20">
        <div class="col-sm-6">
            <p class="text-justify">Tokom godina, računalni program i web aplikacija <strong>Program Ishrane</strong> su prepoznati kao praktičan i koristan alat za izdradu jelovnika od strane brojnih zdravstvenih ustanova, škola, udruga, sportskih klubova, apoteka, ali i brojnih pojedinaca iz Hrvatske, Srbije i Bosne i Hercegovine.</p>
            <lable>Naši najčešći korisnici su:</lable>
            <ul>
                <li>Nutricionisti</li>
                <li>Poliklinike</li>
                <li>Domovi zdravlja</li>
                <li>Apoteke</li>
                <li>Škole</li>
                <li>Đački domovi</li>
                <li>Domovi za starije</li>
                <li>Sportski klubovi</li>
            </ul>
        </div>
        <div class="col-sm-6">
            <img src="../assets/img/map.jpg" class="img-thumbnail m10" />
        </div>
        <div class="container text-justify">
            <a href="" title="Korisnici aplikacije Program Prehrane" ng-click="toggleCustomers()">Korisnici <i class="fa fa-caret-{{showCustomers?'down':'right'}}" aria-hidden="true"></i></a>
            <div ng-if="showCustomers" class="text-small">
                PREHRAMBENO TEHNOLOŠKA ŠKOLA, ZAGREB *
                SREDNJA ŠKOLA DUGA RESA *
                STUDIO ZA SPORTSKE AKTIVNOSTI, BEOGRAD *
                ŽENSKI ĐAČKI DOM, SPLIT *
                POLJOPRIVREDNA, PREHRAMBENA I VETERINARSKA ŠKOLA STANKA OŽANIĆA, ZADAR *
                UDRUGA OPTIMALNOM TEŽINOM DO ZDRAVLJA «VAGA», OSIJEK *
                DJEČJA BOLNICA SREBRENJAK, ZAGREB *
                ZAVOD ZA JAVNO ZDRAVLJE, SUBOTICA *
                ORDINACIJA OPĆE MEDICINE - BOL *
                PLETER-USLUGE d.o.o. *
                ROSMARINUS d.o.o. *
                SPORTPHARM d.o.o. *
                DEFINICIJA HRANE d.o.o. *
                PSIHIJATRIJSKA BOLNICA UGLJAN *
                ZAVOD ZA JAVNO ZDRAVLJE SREMSKA MITROVICA *
                ARBI d.o.o. *
                POLIKLINIKA MATULIĆ *
                ZAVOD ZA JAVNO ZDRAVLJE MEĐIMURSKE ŽUPANIJE *
                CALLISTO BEAUTY *
				API-FARMACIJA d.o.o. *
                USTANOVA ZA ZDRAVSTVENU SKRB MEDIKOL *
                LJEKARNA RIJEKA * OKTAL PHARM d.o.o. *
                SPECIJALISTIČKA ORDINACIJA NATALIJA POPOVIĆ *
                ALMAZOR d.o.o. *
                POLIKLINIKA SCIPION *
                POLIKLINIKA LABPLUS 2 *
                UČENIČKI DOM IVANIĆ GRAD *
                ZAVOD ZA JAVNO ZDRAVSTVO DUBROVAČKO-NERETVANSKE ŽUPANIJE *
                UDRUGA KONTROLA TJELESNE TEŽINE *
                STUDIO ZA NJEGU LICA I TIJELA AMBER *
                STUDIO CORPORE SANO *
                TAEKWONDO CLUB NOVI GRAD SARAJEVO *
                POLIKLINIKA ANALIZA *
                SREDNJA ŠKOLA BRAĆA RADIĆ KAŠTEL ŠTAFILIĆ NEHAJ *
                SPARTACUS d.o.o. *
                SPECIJALISTIČKA ORDINACIJA OBITELJSKE MEDICINE JADRANKA ŠOIĆ *
                UNIVERZITET MODERNIH ZNANOSTI-CKM MOSTAR *
                PRIJATELJI ŽIVOTINJA *
                NUTRIFITO *
                BOSOTINA d.o.o. *
                KJU DOM ZA DJECU BEZ RODITELJSKOG STARANJA - SARAJEVO *
                PROLIFE *
                GLORIUS j.d.o.o. *
                MEDICINSKA ŠKOLA ŠIBENIK *
                BRUNICO d.o.o. *
                ZDRAVA NAVIKA j.d.o.o. *
                ZU LJEKARNE TRIPOLSKI *
                ZU LJEKARNA PABLO *
                TASHAFI d.o.o. *
                INTERNATIONAL HEALTH COMPANY d.o.o. *
                SPA SILVA *
                KLINIČKI BOLNIČKI CENTAR SESTRE MILOSRDNICE *
                ORIGO CENTAR d.o.o. *
                DOM ZA STARIJE OSOBE KANTRIDA RIJEKA *
                ZAVOD ZA JAVNO ZDRAVSTVO VARAŽDINSKE ŽUPANIJE *
                THINK FIT j.d.o.o. *
                DONNA MODERNA *
                ALMAZOR d.o.o. *
                PUČKO OTVORENO UČILIŠTE ZAGREB *
                VISOKA ŠKOLA STRUKOVNIH STUDIJA ZA OBRAZOVANJE VASPITAČA I TRENERA U SUBOTICI *
                NU3CO *
                MF HERBA d.o.o. *
				LJEKARNA ŠKOKO *
                SOHO BITS * 
				ALIMENTARIUS j.d.o.o. *
                STRUKOVNA ŠKOLA PULA *
                MED PLUS - USTANOVA ZA ZDRAVSTVENU SKRB *
				NUTRIMEDIKO - Pula *
                BIO SPORT d.o.o. *
				ACTIVE LIFE j.d.o.o. *
                LJEKARNA PABLO
                ...
            </div>
        </div>
    </div>
</div>