<div id="contact" class="bg-grey">
    <div class="container pt60">
        <h2 class="text-center">KONTAKT</h2>
        <div ng-controller="contactCtrl" class="row mb20">
            <div class="col-sm-5">
                <label> IG PROG, obrt za računalno programiranje</label>
                <p>OIB {{config.oib}}</p>
                <p>IBAN {{config.iban}}</p>
                <p><span class="fa fa-home"></span> Ludvetov breg 5, 51000 Rijeka, Hrvatska</p>
                <p><a href="tel:+385 98 330 966"><span class="fa fa-phone"></span> +385 98 330 966</a></p>
                <p><a href="mailto:igprog@yahoo.com"><span class="fa fa-envelope"></span> igprog@yahoo.com</a></p>
                <p><a href="https://www.programprehrane.com"><span class="fa fa-globe"></span> www.programprehrane.com</a> | <a href="https://www.igprog.hr" target="_blank"> www.igprog.hr</a></p>
            </div>
            <div class="col-sm-7">
                <div ng-include="'./assets/partials/contact.html'"></div>
            </div>
        </div>
    </div>
</div>